$color-primary: darken(#66bbee, 5%);
$button-text-transform: none;

@charset "UTF-8";

/* Import Settings */
@import
    'settings/_functions',
    'settings/_settings',
    'settings/_helpers';

/* Import Assets */

    
/* Import Modules */
@import
    'modules/global/_module',
    'modules/layout/_module',
    'modules/media/_module',
    'modules/states/_module',
    'modules/animations/_module',
    'modules/themes/_module',
    'modules/grid/_module',
    'modules/layers/_module',
    'modules/_reset',
    'modules/_layout',
    'modules/shapes/_module',
    'modules/lighting/_module',
    'modules/flex/_module',
    'modules/type/_module',
    'modules/icons/_module',
    'modules/lists/_module',
    'modules/forms/_module',
    'modules/nav/_module',
    'modules/buttons/_module',
    'modules/labels/_module',
    'modules/fields/_module',
    'modules/tables/_module',
    'modules/panels/_module',
    'modules/notifications/_module',
    'modules/images/_module',
    'modules/drawer/_module';
    /* 'modules/_tabs'; */
    /* 'modules/_dropdowns'; */
    /* 'modules/_alerts'; */
    /* 'modules/_animations'; */

/* Import Extensions */

/* Import Themes */


// DELETE EVERYTHING BELOW THIS

// #{prefixed-class('lp')} {
//     @extend %square-large;
//     @extend %background-darken;
//     display: inline-block;
// }

.gg-album {
    @extend %column;
    @include column(1/5);
    @include row(4);

    &-large { @include column(2/5); @include row(7); }

    + .gg-album-large ~ .gg-album {
        top: - row-height(4);
    }

    &-caption {
        @extend %row, %row-bottom;
        @include row(3);
    }
}
