// Color Palette
$color-primary: #364656;
$color-secondary: #C44741;
$color-blue: #5d6B74;
$color-blue-light: #94A4A5;
$color-anchor: $color-blue-light;

// Cadenza custom settings
$type-custom-import: "//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic";
$type-custom-font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
$type-base-font-size: 18px;

@import 'cadenza.scss';

.foo { @include background($color-primary); }
.bar { @include background(#efefef, $color-dark: $color-primary); }