
$color-primary: #364656;
$color-secondary: #C44741;
$color-blue: #5d6B74;
$color-blue-light: #94A4A5;
$color-anchor: $color-blue-light;

$type-list-inline-margin: 32px;
$type-header-font-weight: 200;
$form-border-width: 2px;

@import 'cadenza.scss';

body {
    @include layout();
    background: $color-blue-light;
}

aside {
    @include background($color-primary);

    nav > ul > li > a {
        @include typeScale(-1);
        color: $color-blue-light;
        border-bottom: 1px solid lighten($color-primary, 10%);

        &:hover { color: white; }
    }
}

#content {
    @extend %rows;
    @include rows(10, $x/2);
}

#profile {
    @include background($color-light);

    figure {
        height: 100px;
        width: 100px;
        background: #DDD;
        margin: 0 auto;
        @include border-radius(100px);
    }
}

#workout {
    @include columns(5, $x/2);
}

#calendar {
    @include columns(7, $x/2);

    table {
        table-layout: fixed;
    }
    table td {
        height: 50px;
        width: 100% / 7;
    }
}

#workout, #calendar {
    background: #EFEFEF;
    .label { float: right; }
    overflow-y: auto;
    h6 { margin-bottom: 0; color: $color-secondary; font-weight: bold;}
    hgroup > h6 { color: $color-blue-light; }
    hgroup {
        color: $color-primary;
        .alpha { color: $color-secondary; }
        .omega { color: green; }
    }

    @extend %column;

    ul.clean {
        > li {
            border: 1px solid $color-blue-light;
            + li { margin-top: -1px; }
            padding: $x/2;
        }
    }
}