
$color-primary: #364656;
$color-secondary: #C44741;
$color-blue: #5d6B74;
$color-blue-light: #94A4A5;
$color-anchor: $color-blue-light;

$type-list-inline-margin: 32px;
$type-header-font-weight: 200;
$form-border-width: 2px;

@import 'cadenza.scss';

body {
    @include layout();

    background-image: url(http://farm8.staticflickr.com/7234/7284905318_9732c16aa2_h.jpg);
    background-size: cover;

    > header {
        @extend %color-light;

        h1 { color: white; }
    }

    > section {
        @extend %color-light;
        @include layout($left-sidebar: 400px);
    }
}