$yt-left-sidebar-width: 230px;
$type-base-font-size: 13px;
$nav-a-padding: 0.25rem 0.5rem;

$color-primary: #cc181e;
$color-secondary: #f0f0f0;

@import 'cadenza.scss';

body {
    button { @extend button.secondary; }
    nav {
        @include nav-colors($color-header: $color-primary);

        a {
            @include inline-layout($left: 145px, $right: fill);
        }
    }
}

body > header {
    @include header-fixed(50px);

    @include layout($left-sidebar: $yt-left-sidebar-width);
    border-bottom: 1px solid $color-gray;
}

body > section {
    @include layout($left-sidebar: $yt-left-sidebar-width);

    > aside {
        border-right: 1px solid $color-gray;
    }

    > section {
        > header {
            @include header-fixed(50px);
            @include layout($left-sidebar: $yt-left-sidebar-width);
        }

        .container {@include activate-all(fade); }
    }
}