// Inputs
// ------
@include define-component('input', (
    type-scale: $input-scale,
    display: block,
    width: 100%,
    padding: $input-padding,
    background-image: none,
    border-width: $input-border-width,
    border-style: solid,
    border-radius: false
)) {

    @include define-variant('small', (
        type-scale: $input-scale - 1
    ));

    @include define-variant('large', (
        type-scale: $input-scale + 1
    ));

    @include define-variant('inline', (
        display: inline-block,
        width: auto,
    ));

    @include define-variant('implicit', (
        background-color: transparent,
        border-width: 0,
    ));

    @include define-variant('outline', (
        outline-width: $input-border-width,
        outline-style: solid,
    ));
}

@include define-component('textarea', (
    height: auto,
)) {
    @extend #{component('input')};
}

@include define-component('search', (
    -webkit-appearance: none
));

@include define-component('select', (
    type-scale: $select-scale,
    display: block,
    width: 100%,
    -webkit-appearance: none,
    padding: $select-padding,
    border-width: $select-border-width,
    border-style: solid,
));

%radio {
    margin-right: $radio-margin-right;
}

%checkbox {
    margin-right: $checkbox-margin-right;
}

%radio, %checkbox {
    &-implicit {
        %form-label & {
            display: none;
        }
    }
}
