// 
// Notifications Components
// ========================

%toaster {
    @include position-absolute($toaster-position-horizontal, $toaster-position-vertical);
    margin: $toaster-margin;
}

%toast {
    min-width: $toast-min-width;
    padding: 0.5rem 1rem;
    background: $color-dark;
    color: white;
    margin: $toast-margin;
    text-align: $toast-text-align;

    &-active {
        @include animation(fade-active);
    }

    &:hover {
        animation-play-state: paused;
    }

    &-inactive {
        @include animation(fade-inactive);
    }
}



