// 
// Notifications Components
// ========================

%notification-queue {
    @include position-absolute($notificationQueue-position-horizontal, $notificationQueue-position-vertical);
}

%notification {
    min-width: $notification-min-width;
    padding: 0.5rem 1rem;
    background: $color-dark;
    color: white;
    margin: $notification-margin;
    text-align: $notification-text-align;

    &-active {
        @include animation(fade-active);
    }

    &:hover {
        animation-play-state: paused;
    }

    &-inactive {
        @include animation(fade-inactive);
    }
}



