// 
// Notifications Module
// ====================
$toast-style: default !default;
$toast-theme: default !default;
$toastQueue-position-horizontal: left !default;
$toastQueue-position-vertical: bottom !default;
$toast-margin: 1rem !default;
$toast-min-width: 10rem !default;
$toast-text-align: center !default;
$toast-animation-active: shiftUp !default;
$toast-animation-inactive: fadeOut !default;

// Imports
@import
	'_mixins',
	'_components',
	'_themes',
	'_classes';