// 
// Lists Components
// ================

%blocklist {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    border-collapse: collapse;

    &-row {
        @include clearfix;
        display: block;
    }
}

%tile {
    display: table-cell;
    vertical-align: $tile-valign;

    &-content {
        padding: $tile-padding;
        width: 100%;
    }

    &-control {
        min-width: $tile-control-width;
        text-align: center;

        &-icon {
            vertical-align: middle;
        }
    }
}
