
// Returns foreground (text) color based on background color and lightness threshold
@function foregroundColor(
    $color, 
    $darken: 35%, 
    $threshold: 65%, 
    $color-light: $color-light, 
    $color-dark: $color-dark,
    $color-default: inherit
) {
    @if type-of($color) == color {    
        @if lightness($color) > $threshold {
            @return $color-dark;
        } @else {
            @return $color-light;
        }
    } @else if $color == static or $color == transparent {
        @return false;
    } @else {
        @return $color-default;
    }
}

@function is-dark($color, $threshold: 65%) {
    @if type-of($color) == color and lightness($color) < $threshold {
        @return true;
    } @else {
        @return false;
    }
}