@mixin typeScale($exponent: 1, $important: false, $base: $type-base-font-size, $unit: $type-unit, $ratio: $type-ratio) {
    $_font-size: $base * pow(1 / $ratio, $exponent);
    $_important: "";

    @if $important {
        $_important: !important;
    }

    font-size: $_font-size #{$_important};
    font-size: ($_font-size / $base)#{$unit} #{$_important};
}