// Compass imports
// @import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";
@import "compass/css3/shared";
@import "compass/css3/border-radius";
@import "compass/css3/transition";

// Units
$x: 16px !default;
$x-rem: 1rem !default;

// Layout Settings
$container-min-width: false !default;
$container-max-width: 960px !default;

// Grid Settings
$grid-column-selector: ".col, [class*=\"col-\"]" !default;
$grid-row-selector: ".row, [class*=\"row-\"]" !default;
$grid-columns: 12 !default;
$grid-rows: 12 !default;
$grid-content-padding: $x !default;
$grid-column-gutter: $x !default;
$grid-row-gutter: $x !default;

// Color Palette
$color-primary: navy !default;
$color-secondary: gray !default;
$color-dark: #222 !default;
$color-light: #EFEFEF !default;
$color-gray: #DDD !default;

$color-success: #96CC69 !default;
$color-warning: #FFCC5C !default;
$color-failure: #C44741 !default;

// Theme Settings
$theme-lightness-threshold: 65% !default;
$theme-lighten-percent: 10% !default;
$theme-darken-percent: 10% !default;
$theme-mix-percent: 50% !default;

// Typography Settings
$type-unit: rem !default;
$type-ratio: 1/1.1614 !default;
$type-base-font-size: 16px !default; // = 1em
$type-base-line-height: 1.65em !default;
$type-base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$type-base-font-style: normal !default;
$type-base-font-weight: 300 !default;
$type-base-color: $color-dark !default;
$type-base-color-light: $color-light !default;

$type-custom-import: "//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700" !default;
$type-custom-font-family: "Open Sans" !default;
$type-use-custom: true !default;

$type-secondary-import: '' !default;
$type-secondary-font-family: Georgia, Times, "Times New Roman", serif !default;

$type-header-selector: "h1, h2, h3, h4, h5, h6" !default;
$type-header-font-family: $type-custom-font-family !default;
$type-header-font-weight: $type-base-font-weight !default;
$type-header-font-style: normal !default;
$type-header-line-height: 1.2 !default;
$type-header-color: $type-base-color !default;
$type-header-color-light: $type-base-color-light !default;
$type-header-secondary-color: $color-secondary !default;
$type-header-margin-top: 0 !default;
$type-header-margin-bottom: $x-rem !default;
$type-header-small-style: uppercase !default;

$hgroup-margin-bottom: $type-header-margin-bottom !default;

$type-p-margin-bottom: $x-rem !default;
$type-p-line-height: 1.5 !default;
$type-p-font-weight: $type-base-font-weight !default;
$type-p-lead-type-scale: 1 !default;

$type-subheader-color: lighten($type-header-color, 15%) !default;
$type-subheader-font-weight: 300 !default;
$type-subheader-margin-top: 0 !default;
$type-subheader-margin-bottom: $x-rem !default;

$type-pre-color: $type-base-color !default;
$type-pre-scale: 0 !default;
$type-pre-font-family: monospace;
$type-code-color: $type-pre-color !default;
$type-code-scale: -1 !default;
$type-code-font-family: $type-pre-font-family;

$type-list-position: outside !default;
$type-list-margin-bottom: 1rem !default;
$type-list-ul-margin: 1rem !default;
$type-list-ol-margin: 1.4rem !default;
$type-list-dl-header-weight: bold !default;
$type-list-dl-header-margin-bottom: $x-rem / 2 !default;
$type-list-dl-margin-bottom: $x-rem / 2 !default;
$type-list-inline-margin: $x-rem !default;

$type-blockquote-color: lighten($type-base-color, 15%) !default;
$type-blockquote-padding: 1rem !default;
$type-blockquote-border: 1px solid $type-blockquote-color !default;
$type-blockquote-cite-scale: -1 !default;
$type-blockquote-cite-color: $type-blockquote-color !default;
$type-blockquote-margin-bottom: $x-rem !default;

$type-abbr-border: 1px dotted $color-secondary !default;
$type-abbr-cursor: help !default;
$type-abbr-transform: uppercase !default;

// Anchor Settings
$anchor-decoration: none !default;
$anchor-decoration-hover: $anchor-decoration !default;
$anchor-color: $color-primary !default;
$anchor-color-hover: lighten($anchor-color, 7%) !default;
$anchor-color-light: $color-light !default;
$anchor-color-light-hover: lighten($anchor-color-light, 7%) !default;

// Horizontal Rule Settings
$hr-border-style: solid !default;
$hr-border-width: 1px !default;
$hr-border-color: lighten($color-dark, 45%) !default;
$hr-margin: $x-rem/2;

// Media Query Settings
$aspect-ratio: 16/9 !default;
$static-width: 960px !default;
$static-height: $static-width/$aspect-ratio !default;
$mq-unit: em !default;

// Horizontal Media Breakpoints
$breakpoint-small: 767px !default;
$breakpoint-medium: 768px !default;
$breakpoint-large: 1280px !default;

// Vertical Media Breakpoints
$breakpoint-short: 700px !default;
$breakpoint-tall: 900px !default;

// Horizontal Media Queries
$mq-small: "only screen and (max-width: #{$breakpoint-small / $type-base-font-size}em)" !default;
$mq-medium: "only screen and (min-width: #{$breakpoint-medium / $type-base-font-size}em)" !default;
$mq-large: "only screen and (min-width: #{$breakpoint-large / $type-base-font-size}em)" !default;

// Vertical Media Queries
$mq-short: "only screen and (max-height: #{$breakpoint-short / $type-base-font-size}em)" !default;
$mq-tall: "only screen and (min-width: #{$breakpoint-tall / $type-base-font-size}em)" !default;

// Non-dimensional Media Queries
$mq-print: "print" !default;

// Miscellaneous Media Queries
$mq-screen: "only screen" !default;

// Prefixes
$prefixes: moz, webkit, o !default;

// Form Elements
$form-style: normal !default;
$form-affixable-selectors: "button, .button, input[type=submit], input[type=text], label";
$form-type-scale: -1 !default;
$form-border-width: 1px !default;
$form-margin-right: $x/2 !default;
$form-padding-vertical: $x-rem/2 !default;
$form-padding-horizontal: $x-rem/2 !default;
$form-radius: 3px !default;
$form-use-radius: false !default;
$form-outline-color: lightblue !default;

// Buttons
$button-style: normal !default;
$button-selectors: "button, .button, input[type=button], input[type=submit]" !default;
$button-margin-right: $form-margin-right !default;
$button-margin-bottom: $button-margin-right !default;
$button-padding-vertical: $form-padding-vertical !default;
$button-padding-horizontal: $form-padding-horizontal * 2 !default;
$button-border-width: $form-border-width !default;
$button-color-light: white !default;
$button-type-scale: $form-type-scale !default;
$button-text-transform: uppercase !default;
$button-radius: $form-radius !default;
$button-use-radius: $form-use-radius !default;
$button-transition-duration: 0.3s !default;
$button-icon-margin: $x-rem / 2 !default;

// Transparent Buttons
$button-transparent-border-width: $form-border-width !default;

// Small Buttons 
$button-small-padding-vertical: $button-padding-vertical / 2 !default;
$button-small-padding-horizontal: $button-padding-horizontal / 2 !default;

// Button Group
$button-group-margin-bottom: $x-rem !default;
$button-group-margin-right: $button-margin-right !default;

// Text Box Settings
$text-margin-right: $form-margin-right !default;
$text-margin-bottom: 0 !default;
$text-full-margin-bottom: $x/2 !default;
$text-padding-vertical: $form-padding-vertical !default;
$text-padding-horizontal: $form-padding-horizontal !default;
$text-border-width: $form-border-width !default;
$text-border-color: $color-gray !default;
$text-border-focus-color: $color-primary !default;
$text-border-success-color: $color-success !default;
$text-border-warning-color: $color-warning !default;
$text-border-failure-color: $color-failure !default;
$text-type-scale: $form-type-scale !default;
$text-radius: $form-radius !default;

// Textarea Settings
$textarea-height: 5 * $x-rem !default;
$textarea-resize: vertical !default;

// Field Label Settings
$field-label-display: block !default;
$field-label-margin-bottom: $x/2 !default;
$field-label-type-scale: $form-type-scale !default;
$field-label-affix-type-scale: $field-label-type-scale !default;
$field-label-affix-padding-vertical: $form-padding-vertical !default;
$field-label-affix-padding-horizontal: $form-padding-horizontal !default;
$field-label-affix-bgcolor: $color-gray !default;
$field-label-affix-border-color: darken($color-gray, 15%) !default;
$field-label-affix-border-width: $form-border-width !default;

// Fieldset Settings
$fieldset-style: normal !default;
$fieldset-border-width: 0 !default;
$fieldset-border-color: $color-primary !default;
$fieldset-padding-horizontal: $form-padding-horizontal !default;
$fieldset-padding-vertical: $form-padding-vertical !default;
$fieldset-margin-bottom: $x-rem / 2 !default;

$legend-margin-bottom: $fieldset-margin-bottom !default;

// Field Settings
$field-padding-horizontal: $form-padding-horizontal !default;
$field-padding-vertical: $form-padding-vertical !default;
$field-margin-bottom: $fieldset-margin-bottom !default;

// Table Settings
$table-style: normal !default;
$table-theme: normal !default;
$table-margin-bottom: $x-rem !default;
$table-border-width: $form-border-width !default;
$table-border-color: $color-gray !default;
$table-text-align: left !default;

$table-thead-padding: $x-rem / 2 !default;
$table-thead-type-scale: -1 !default;
$table-thead-text-transform: uppercase !default;

$table-tfoot-padding: $x-rem / 2 !default;
$table-tfoot-type-scale: 0 !default;
$table-tfoot-text-transform: uppercase !default;

$table-cell-padding: $table-thead-padding !default;
$table-cell-border-width: $table-border-width !default;

// Navigation Settings
$nav-style: normal !default;
$nav-theme: normal !default;
$nav-ul-padding: 0 !default;
$nav-li-padding: 0 !default;
$nav-a-padding: $x-rem / 2 !default;
$nav-header-padding: $nav-a-padding !default;
$nav-menu-bgcolor: transparent !default;
$nav-submenu-bgcolor: $color-primary !default;
$nav-separator-color: $color-gray !default;
$nav-separator-width: 1px !default;
$nav-separator-margin: $x/4 0 !default;

// Tabs Settings
$tabs-style: normal !default;
$tabs-theme: normal !default;
$tabs-active-bgcolor: white !default;
$tabs-li-padding: $nav-li-padding !default;
$tabs-li-margin: 0 $x-rem 0 0 !default;
$tabs-a-padding: $x-rem !default;
$tabs-border-width: $form-border-width !default;
$tabs-border-color: $color-gray !default;
$tabs-radius: $form-radius !default;
$tabs-use-radius: $form-use-radius !default;

// Dropdown Settings
$dropdown-padding: ($x-rem / 2) 0 !default;
$dropdown-border-color: $color-gray !default;
$dropdown-border-width: $form-border-width !default;
$dropdown-bgcolor: white !default;
$dropdown-type-scale: -1 !default;
$dropdown-z-index: 999 !default;
$dropdown-align: left !default;
$dropdown-use-radius: $form-use-radius !default;

// Label (and Badge) Settings
$label-style: normal !default;
$label-valign: middle !default;
$label-type-scale: -2 !default;
$label-font-weight: bold !default;
$label-text-transform: none !default;
$label-padding: $x-rem/4 $x-rem/2 !default;
$label-bgcolor: $color-primary !default;
$label-color: $color-light !default;
$label-use-radius: $form-use-radius !default;
$label-margin: 0 $x/2 !default;

$badge-style: normal !default;
$badge-valign: $label-valign !default;
$badge-type-scale: $label-type-scale !default;
$badge-font-weight: $label-font-weight !default;
$badge-text-transform: none !default;
$badge-padding: $label-padding !default;
$badge-bgcolor: $label-bgcolor !default;
$badge-color: $label-color !default;
$badge-use-radius: $label-use-radius !default;
$badge-collapse: true !default;

// Alerts Settings
$alert-style: normal !default;
$alert-padding: $x !default;
$alert-border: 1px solid !default;
$alert-color-light: white !default;
$alert-margin-bottom: $x !default;
$alert-radius: $form-radius !default;
$alert-use-radius: true !default;
$alert-type-scale: -1 !default;

// Panel Settings
$panel-style: normal !default;
$panel-theme: normal !default;
$panel-padding: $x-rem !default;
$panel-header-padding: $panel-padding !default;
$panel-section-padding: $panel-padding !default;
$panel-footer-padding: $panel-padding !default;
$panel-border-width: 1px !default;
$panel-margin-bottom: $x !default;
$panel-use-radius: $form-use-radius !default;
$panel-radius: $form-radius !default;
$panel-type-scale: 0 !default;

// Animation Settings
$animation-duration: 0.5s !default;
$animation-timing-function: ease-in-out !default;

// Activation Settings
$page-selector: ".page" !default;
$active-selector: ".active" !default;
$inactive-selector: ".inactive" !default;
$active-z-index: 2 !default;
$inactive-z-index: 0 !default;

