// Compass imports
// @import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";
@import "compass/css3/shared";
@import "compass/css3/border-radius";
@import "compass/css3/transition";

// Units
$x: 16px !default;
$x-rem: 1rem !default;

// Grid Settings
$grid-columns: 12 !default;
$grid-rows: 12 !default;
$grid-padding: $x !default;

// Color Palette
$color-primary: red !default;
$color-secondary: gray !default;
$color-dark: #222 !default;
$color-light: #EFEFEF !default;
$color-gray: #DDD !default;
$color-anchor: $color-primary !default;
$color-anchor-hover: lighten($color-primary, 15%) !default;

$color-success: #96CC69 !default;
$color-warning: #FFCC5C !default;
$color-failure: #C44741 !default;

// Typography Settings
$type-unit: rem !default;
$type-ratio: 1/1.1614 !default;
$type-base-font-size: 16px !default; // = 1em
$type-base-line-height: 1.65em !default;
$type-base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$type-base-font-style: normal !default;
$type-base-font-weight: 300 !default;
$type-base-color: #222 !default;

$type-custom-import: "//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700" !default;
$type-custom-font-family: "Open Sans" !default;

$type-header-font-family: $type-custom-font-family !default;
$type-header-font-weight: $type-base-font-weight !default;
$type-header-font-style: normal !default;
$type-header-line-height: 1.2 !default;
$type-header-color: $type-base-color !default;
$type-header-margin-top: 0 !default;
$type-header-margin-bottom: $x-rem !default;
$type-header-small-style: uppercase !default;

$type-p-margin-bottom: $x-rem !default;
$type-p-line-height: 1.5 !default;
$type-p-font-weight: $type-base-font-weight !default;

$type-subheader-color: lighten($type-header-color, 15%) !default;
$type-subheader-font-weight: 300 !default;
$type-subheader-margin-top: 0 !default;
$type-subheader-margin-bottom: $x-rem !default;

$type-pre-color: $type-base-color !default;
$type-pre-scale: 0 !default;
$type-pre-font-family: monospace;
$type-code-color: $type-pre-color !default;
$type-code-scale: 0 !default;
$type-code-font-family: $type-pre-font-family;


$type-anchor-decoration: none !default;
$type-anchor-hover-decoration: $type-anchor-decoration !default;

$type-list-position: outside !default;
$type-list-margin-bottom: 1rem !default;
$type-list-ul-margin: 1rem !default;
$type-list-ol-margin: 1.4rem !default;
$type-list-dl-header-weight: bold !default;
$type-list-dl-header-margin-bottom: $x-rem / 2 !default;
$type-list-dl-margin-bottom: $x-rem / 2 !default;
$type-list-inline-margin: $x-rem !default;

$type-blockquote-color: lighten($type-base-color, 15%) !default;
$type-blockquote-padding: 1rem !default;
$type-blockquote-border: 1px solid $type-blockquote-color !default;
$type-blockquote-cite-scale: -1 !default;
$type-blockquote-cite-color: $type-blockquote-color !default;
$type-blockquote-margin-bottom: $x-rem !default;

$type-abbr-border: 1px dotted $color-secondary !default;
$type-abbr-cursor: help !default;
$type-abbr-transform: uppercase !default;

// Horizontal Rule Settings
$hr-border-style: solid !default;
$hr-border-width: 1px !default;
$hr-border-color: lighten($color-dark, 45%) !default;
$hr-margin: $x-rem/2;

// Alerts Settings
$alert-padding: $x !default;
$alert-border: 1px solid !default;
$alert-color-light: white !default;
$alert-margin-bottom: $x !default;

// Media Query Settings
$aspect-ratio: 16/9 !default;
$static-width: 960px !default;
$static-height: $static-width/$aspect-ratio !default;
$mq-unit: em !default;

// Horizontal Media Breakpoints
$breakpoint-small: 767px !default;
$breakpoint-medium: 768px !default;
$breakpoint-large: 1280px !default;

// Vertical Media Breakpoints
$breakpoint-short: 700px !default;
$breakpoint-tall: 900px !default;

// Horizontal Media Queries
$mq-small: "only screen and (max-width: #{$breakpoint-small / $type-base-font-size}em)" !default;
$mq-medium: "only screen and (min-width: #{$breakpoint-medium / $type-base-font-size}em)" !default;
$mq-large: "only screen and (min-width: #{$breakpoint-large / $type-base-font-size}em)" !default;

// Vertical Media Queries
$mq-short: "only screen and (max-height: #{$breakpoint-short / $type-base-font-size}em)" !default;
$mq-tall: "only screen and (min-width: #{$breakpoint-tall / $type-base-font-size}em)" !default;

// Non-dimensional Media Queries
$mq-print: "print" !default;

// Miscellaneous Media Queries
$mq-screen: "only screen" !default;

// Prefixes
$prefixes: moz, webkit, o !default;

// Form Elements
$form-affixable-selectors: "button, .button, input[type=submit], input[type=text], label";
$form-type-scale: -1 !default;
$form-border-width: 1px !default;
$form-margin-right: $x/2 !default;
$form-padding-vertical: $x-rem/2 !default;
$form-padding-horizontal: $x-rem/2 !default;
$form-radius: 3px !default;
$form-use-radius: false !default;
$form-outline-color: lightblue !default;

// Buttons
$button-style: transparent;
$button-selectors: "button, .button, input[type=button], input[type=submit]" !default;
$button-margin-right: $form-margin-right !default;
$button-margin-bottom: $button-margin-right !default;
$button-padding-vertical: $form-padding-vertical !default;
$button-padding-horizontal: $form-padding-horizontal * 2 !default;
$button-border-width: $form-border-width !default;
$button-color-light: white !default;
$button-type-scale: $form-type-scale - 1 !default;
$button-text-transform: uppercase !default;
$button-radius: $form-radius !default;
$button-transition-duration: 0.3s !default;

// Transparent Buttons
$button-transparent-border-width: $form-border-width !default;

// Small Buttons 
$button-small-padding-vertical: $button-padding-vertical / 2 !default;
$button-small-padding-horizontal: $button-padding-horizontal / 2 !default;

// Button Group
$button-group-margin-bottom: $x-rem !default;
$button-group-margin-right: $button-margin-right !default;

// Text Box Settings
$text-margin-right: $form-margin-right !default;
$text-margin-bottom: 0 !default;
$text-full-margin-bottom: $x/2 !default;
$text-padding-vertical: $form-padding-vertical !default;
$text-padding-horizontal: $form-padding-horizontal !default;
$text-border-width: $form-border-width !default;
$text-border-color: $color-gray !default;
$text-border-focus-color: $color-primary !default;
$text-border-success-color: $color-success !default;
$text-border-warning-color: $color-warning !default;
$text-border-failure-color: $color-failure !default;
$text-type-scale: $form-type-scale !default;
$text-radius: $form-radius !default;

// Label Settings
$label-affix-type-scale: $form-type-scale !default;
$label-affix-padding-vertical: $form-padding-vertical !default;
$label-affix-padding-horizontal: $form-padding-horizontal !default;
$label-affix-bgcolor: $color-gray !default;
$label-affix-border-color: darken($color-gray, 15%) !default;
$label-affix-border-width: $form-border-width !default;

