// 
// Panels Components
// =================

%panel {
    @include type-scale($panel-scale);
    @extend %clearfix;
    display: block;
    width: 100%;
    padding: 0;
    margin: $panel-margin;
    border-width: $panel-border-width;

    @if $panel-radius {
        @include border-radius($panel-radius);
    }

    &, > * {
        border-style: solid;
    }

    %panel-header {
        @extend %clearfix;
        padding: $panel-header-padding;
        border-width: 0 0 $panel-border-width 0;
    }

    %panel-body {
        @extend %clearfix;
        padding: $panel-section-padding;
        border-width: 0;
    }

    %panel-footer {
        @extend %clearfix;
        padding: $panel-footer-padding;
        border-width: $panel-border-width 0 0 0;
    }
}

%alert {
    @include type-scale($alert-scale);
    @extend %clearfix;
    display: block;
    width: 100%;
    padding: $alert-padding;
    border-width: $alert-border-width;
    border-style: solid;
    margin: $alert-margin;

    @if $alert-radius {
        @include border-radius($alert-radius);
    }

    > *:last-child {
        margin-bottom: 0;
    }

    %alert-exit {
        @include position-absolute(top, right);
        padding: $alert-exit-padding;
    }
}

%alert-group {
    margin: $alert-margin;
    
    > * {
        margin: 0;

        @if $alert-radius {
            @include border-radius(0);

            &:first-child {
                @include border-top-left-radius($alert-radius);
                @include border-top-right-radius($alert-radius);
            }
            &:last-child {
                @include border-bottom-left-radius($alert-radius);
                @include border-bottom-right-radius($alert-radius);
            }
        }

        & ~ * {
            margin-top: -1px;
        }
    }
}

%modal {
    @extend %panel;
    @include position-absolute($modal-vertical, $modal-horizontal);
    width: $modal-width;
}



