// 
// Panels Components
// =================

// Panel Components
// ----------------
%panel {
    @include type-scale($panel-scale);
    @include clearfix;
    display: block;
    width: 100%;
    padding: 0;
    margin: $panel-margin;
    border-width: $panel-border-width;

    @if $panel-radius {
        border-radius: $panel-radius;
    }

    &, > * {
        border-style: solid;
    }

}

%panel-header {
    @include clearfix;
    padding: $panel-header-padding;
    border-width: 0 0 $panel-border-width 0;
}

%panel-body {
    @include clearfix;
    padding: $panel-section-padding;
    border-width: 0;

    > *:last-child {
        margin-bottom: 0;
    }
}

%panel-footer {
    @include clearfix;
    padding: $panel-footer-padding;
    border-width: $panel-border-width 0 0 0;
}

// Alert Components
// ----------------
%alert {
    @include type-scale($alert-scale);
    @include clearfix;
    display: block;
    width: 100%;
    padding: $alert-padding;
    border-width: $alert-border-width;
    border-style: solid;
    margin: $alert-margin;

    @if $alert-radius {
        border-radius: $alert-radius;
    }

    > *:last-child {
        margin-bottom: 0;
    }

    &-exit {
        @include position-absolute(right, top);
        padding: $alert-exit-padding;

        &:before {
            content: $alert-exit-symbol;
        }
    }

    &-small {
        @extend %alert;
        padding: $alert-small-padding;
        margin: $alert-small-margin;
    }
}

%alert-group {
    margin: $alert-margin;
    
    > * {
        margin: 0;

        @if $alert-radius {
            border-radius: 0;

            &:first-child {
                border-top-left-radius: $alert-radius;
                border-top-right-radius: $alert-radius;
            }
            &:last-child {
                border-bottom-left-radius: $alert-radius;
                border-bottom-right-radius: $alert-radius;
            }
        }

        & ~ * {
            margin-top: -1px;
        }
    }
}

// Modal Components
// ----------------
%modal {
    @extend %panel;
    @include position-absolute($modal-horizontal, $modal-vertical);
    width: $modal-width;
}



