// 
// Panels Module
// =============

// Panel Settings
$panel-style: default !default;
$panel-theme: default !default;
$panel-padding: 1rem !default;
$panel-header-padding: $panel-padding !default;
$panel-section-padding: $panel-padding !default;
$panel-footer-padding: $panel-padding !default;
$panel-border-width: 1px !default;
$panel-margin: 0 0 1rem 0 !default;
$panel-radius: $form-radius !default;
$panel-scale: 0 !default;

// Alerts Settings
$alert-style: default !default;
$alert-theme: default !default;
$alert-padding: 1rem !default;
$alert-exit-padding: $alert-padding / 2 !default;
$alert-exit-symbol: '\00d7' !default;
$alert-border-width: 1px !default;
$alert-margin: 0 0 1rem 0 !default;
$alert-radius: $form-radius !default;
$alert-scale: -1 !default;

// Modal Settings
$modal-vertical: center !default;
$modal-horizontal: center !default;
$modal-width: 50% !default;

// Imports
@import
	'_mixins',
	'_components',
	'_themes',
	'_classes';