// 
// Panels Themes and Styles
// ========================

// Panel Theme
@mixin theme-panel-default(
	$color: $color-primary-light,
	$color-border: darken($color, 5%),
	$color-header: $color,
	$color-body: white,
	$color-footer: $color
) {
	background-color: $color;
	border-color: $color-border;

	%panel-header {
		// @include foreground-color($color-header);
		background-color: $color-header;
		border-color: $color-border;	
	}

	%panel-body {
		// @include foreground-color($color-body);
		background-color: $color-body;
	}

	%panel-footer {
		// @include foreground-color($color-footer);
		background-color: $color-footer;
		border-color: $color-border;
	}
}

%theme-panel-default {
	@include theme-panel-default();

	&-primary { @include theme-panel-default($color-primary); }
	&-secondary { @include theme-panel-default($color-secondary); }
	&-light { @include theme-panel-default($color-light); }
	&-dark { @include theme-panel-default($color-dark); }

	&-success { @include theme-panel-default($color-success); }
	&-warning { @include theme-panel-default($color-warning); }
	&-failure { @include theme-panel-default($color-failure); }
}

// Alert Theme
@mixin theme-alert-default(
	$color: $color-primary
) {
	background-color: $color;
	border-color: darken($color, 5%);

	@if is-dark($color) {
		@extend %color-light;
		@extend .mode-light;
	}
}

%theme-alert-default {
	@include theme-alert-default();

	&-light { @include theme-alert-default($color-light); }
	&-dark { @include theme-alert-default($color-dark); }

	&-success { @include theme-alert-default($color-success); }
	&-warning { @include theme-alert-default($color-warning); }
	&-failure { @include theme-alert-default($color-failure); }
}

@mixin theme-alert-transparent(
	$color: $color-primary
) {
	background-color: transparent;
	border-color: $color-gray-light;
	border-left: 3px solid $color;

	%heading { color: $color; }
}

%theme-alert-transparent {
	@include theme-alert-transparent();

	&-light { @include theme-alert-transparent($color-light); }
	&-dark { @include theme-alert-transparent($color-dark); }

	&-success { @include theme-alert-transparent($color-success); }
	&-warning { @include theme-alert-transparent($color-warning); }
	&-failure { @include theme-alert-transparent($color-failure); }
}

