// 
// Panels Themes and Styles
// ========================

// Panel Theme
@mixin panel-style(
	$style: $panel-style,
	$theme: $panel-theme
) {
	@extend %ext-panel-#{$style} !optional;
	@extend %theme-panel-#{$theme} !optional;
}

@mixin theme-panel-default(
	$color: $color-light,
	$color-border: darken($color, 5%),
	$color-header: $color,
	$color-body: white,
	$color-footer: $color
) {
	background-color: $color;
	border-color: $color-border;
	color: foregroundColor($color);

	> header, > hgroup, .panel-header {
		background-color: $color-header;
		border-color: $color-border;
		color: foregroundColor($color-header);
	}

	> section, > .panel-body {
		background-color: $color-body;
		color: foregroundColor($color-body);
	}

	> footer, > .panel-footer {
		background-color: $color-footer;
		border-color: $color-border;
		color: foregroundColor($color-footer);
	}
}

%ext-panel-default {
	// ...
}

%theme-panel-default {
	@include theme-panel-default();

	&.primary { @include theme-panel-default($color-primary); }
	&.secondary { @include theme-panel-default($color-secondary); }
	&.light { @include theme-panel-default($color-light); }
	&.dark { @include theme-panel-default($color-dark); }

	&.success { @include theme-panel-default($color-success); }
	&.warning { @include theme-panel-default($color-warning); }
	&.failure { @include theme-panel-default($color-failure); }
}

// Alert Theme
@mixin alert-style(
	$style: $alert-style,
	$theme: $alert-theme
) {
	@extend %ext-alert-#{$style} !optional;
	@extend %theme-alert-#{$theme} !optional;
}

@mixin theme-alert-default(
	$color: $color-primary
) {
	background-color: $color;
	border-color: darken($color, 5%);
	color: foregroundColor($color);

	a {
		@if is-dark($color) {
			@extend %theme-anchor-#{$type-anchor-theme}%dark;
		} @else {
			@extend %theme-anchor-#{$type-anchor-theme};
		}
	}
}

%theme-alert-default {
	&, &%light {
		@include theme-alert-default();

		&.primary { @include theme-alert-default($color-primary); }
		&.secondary { @include theme-alert-default($color-secondary); }
		&.light { @include theme-alert-default($color-light); }
		&.dark { @include theme-alert-default($color-dark); }

		&.success { @include theme-alert-default($color-success); }
		&.warning { @include theme-alert-default($color-warning); }
		&.failure { @include theme-alert-default($color-failure); }
	}
}


