// 
// Animations Components
// =====================

// Active States
// -------------
%inert {
	&, > * {	
		@include experimental(transition, none !important, $khtml: false);
		@include experimental(animation, none !important, $khtml: false);
	}
}

%active {
	z-index: 2;
}

%inactive {
	z-index: 0;
}

%active-delay {
    &#{$active-selector} {
        @include experimental(animation-delay, $active-delay !important, $khtml: false, $moz: false, $ms: false, $o: false);
    }
}

// Animations
// ----------
%animation {
    @include animation-duration($animation-duration);
    @include animation-direction($animation-direction);
    @include animation-delay($animation-delay);
    @include animation-iteration-count($animation-iteration-count);
    @include animation-play-state($animation-play-state);
    @include animation-timing-function($animation-timing-function);
    @include animation-fill-mode($animation-fill-mode);
}

%animation-3d {
    @include animation-duration($animation-3d-duration);
    @include perspective($animation-3d-perspective);
    @include transform-style(preserve-3d);
    @include backface-visibility(hidden);
    @include transform(translate(0,0,0));
}

// Fade
%animation-fade-active { @include animation(fade-active); }
%animation-fade-inactive { @include animation(fade-inactive); }
@include keyframes(fade-active) {
    from { opacity: 0; }
    to { opacity: 1; }
}
@include keyframes(fade-inactive) {
    from { opacity: 1; }
    to { opacity: 0; }
}

// Fade In
%animation-fadeIn-active { @include animation(fade-active); }
%animation-fadeIn-inactive { @include animation(fadeIn-inactive); }
@include keyframes(fadeIn-inactive) {
    from, to { opacity: 0; }
}

// Scale Up / Scale Up
%animation-scaleUp-active { @include animation(scaleUp-active); }
%animation-scaleUp-inactive { @include animation(scaleUp-inactive); }
@include keyframes(scaleUp-active) {
    from {
    	opacity: 0;
    	@include transform(scale(0.8));
    }
    to {
    	opacity: 1;
    	@include transform(scale(1));
    }
}
@include keyframes(scaleUp-inactive) {
    from {
    	opacity: 1;
    	@include transform(scale(1));
    }
    to {
    	opacity: 0;
    	@include transform(scale(1.2));
    }
}

// Scale Down / Scale Down
%animation-scaleDown-active { @include animation(scaleDown-active); }
%animation-scaleDown-inactive { @include animation(scaleDown-inactive); }
@include keyframes(scaleDown-active) {
    from {
    	opacity: 0;
    	-webkit-transform: scale(1.2);
    }
    to {
    	opacity: 1;
    	-webkit-transform: scale(1);
    }
}
@include keyframes(scaleDown-inactive) {
    from {
    	opacity: 1;
    	-webkit-transform: scale(1);
    }
    to {
    	opacity: 0;
    	-webkit-transform: scale(0.8);
    }
}

// Scale Up / Scale Down
%animation-scaleUpDown-active { @include animation(scaleUpDown-active); }
%animation-scaleUpDown-inactive { @include animation(scaleUpDown-inactive); }
@include keyframes(scaleUpDown-active) {
    from {
    	opacity: 0;
    	@include transform(scale(0.8));
    }
    to {
    	opacity: 1;
    	@include transform(scale(1));
    }
}
@include keyframes(scaleUpDown-inactive) {
    from {
    	opacity: 1;
    	@include transform(scale(1));
    }
    to {
    	opacity: 0;
    	@include transform(scale(0.8));
    }
}

// Scale Down / Scale Up
%animation-scaleDownUp-active { @include animation(scaleDownUp-active); }
%animation-scaleDownUp-inactive { @include animation(scaleDownUp-inactive); }
@include keyframes(scaleDownUp-active) {
    from {
    	opacity: 0;
    	@include transform(scale(1.2));
    }
    to {
    	opacity: 1;
    	@include transform(scale(1));
    }
}
@include keyframes(scaleDownUp-inactive) {
    from {
    	opacity: 1;
    	@include transform(scale(1.2));
    }
    to {
    	opacity: 0;
    	@include transform(scale(1));
    }
}

// Slide Left
%animation-slideLeft-active { @include animation(slideLeft-active); }
%animation-slideLeft-inactive { @include animation(slideLeft-inactive); }
@include keyframes(slideLeft-active) {
    from { @include transform(translateX(100%)); }
    to { @include transform(translateX(0)); }
}
@include keyframes(slideLeft-inactive) {
    from { @include transform(translateX(0)); }
    to { @include transform(translateX(-100%)); }
}

// Slide Right
%animation-slideRight-active { @include animation(slideRight-active); }
%animation-slideRight-inactive { @include animation(slideRight-inactive); }
@include keyframes(slideRight-active) {
    from { @include transform(translateX(-100%)); }
    to { @include transform(translateX(0)); }
}
@include keyframes(slideRight-inactive) {
    from { @include transform(translateX(0)); }
    to { @include transform(translateX(100%)); }
}

// Slide Up
%animation-slideUp-active { @include animation(slideUp-active); }
%animation-slideUp-inactive { @include animation(slideUp-inactive); }
@include keyframes(slideUp-active) {
    from { @include transform(translateY(100%)); }
    to { @include transform(translateY(0)); }
}
@include keyframes(slideUp-inactive) {
    from { @include transform(translateY(0)); }
    to { @include transform(translateY(-100%)); }
}

// Slide Down
%animation-slideDown-active { @include animation(slideDown-active); }
%animation-slideDown-inactive { @include animation(slideDown-inactive); }
@include keyframes(slideDown-active) {
    from { @include transform(translateY(-100%)); }
    to { @include transform(translateY(0)); }
}
@include keyframes(slideDown-inactive) {
    from { @include transform(translateY(0)); }
    to { @include transform(translateY(100%)); }
}

// Slide Up/Down
%animation-slideUpDown-active { @include animation(slideUpDown-active); }
%animation-slideUpDown-inactive { @include animation(slideUpDown-inactive); }
@include keyframes(slideUpDown-active) {
    from { @include transform(translateY(100%)); }
    to { @include transform(translateY(0)); }
}
@include keyframes(slideUpDown-inactive) {
    from { @include transform(translateY(0)); }
    to { @include transform(translateY(100%)); }
}

// Slide Down/Up
%animation-slideDownUp-active { @include animation(slideDownUp-active); }
%animation-slideDownUp-inactive { @include animation(slideDownUp-inactive); }
@include keyframes(slideDownUp-active) {
    from { @include transform(translateY(-100%)); }
    to { @include transform(translateY(0)); }
}
@include keyframes(slideDownUp-inactive) {
    from { @include transform(translateY(0)); }
    to { @include transform(translateY(-100%)); }
}

// Shift Up
%animation-shiftUp-active { @include animation(shiftUp-active); }
%animation-shiftUp-inactive { @include animation(shiftUp-inactive); }
@include keyframes(shiftUp-active) {
    from { 
        @include transform(translateY($animation-delta));
        opacity: 0;
    }
    to {
        @include transform(translateY(0));
        opacity: 1;
    }
}
@include keyframes(shiftUp-inactive) {
    from {
        @include transform(translateY(0));
        opacity: 1;
    }
    to {
        @include transform(translateY(-$animation-delta));
        opacity: 0;
    }
}

// Shift Down
%animation-shiftDown-active { @include animation(shiftDown-active); }
%animation-shiftDown-inactive { @include animation(shiftDown-inactive); }
@include keyframes(shiftDown-active) {
    from { 
        @include transform(translateY(-$animation-delta));
        opacity: 0;
    }
    to {
        @include transform(translateY(0));
        opacity: 1;
    }
}
@include keyframes(shiftDown-inactive) {
    from {
        @include transform(translateY(0));
        opacity: 1;
    }
    to {
        @include transform(translateY($animation-delta));
        opacity: 0;
    }
}

// Shift Left
%animation-shiftLeft-active { @include animation(shiftLeft-active); }
%animation-shiftLeft-inactive { @include animation(shiftLeft-inactive); }
@include keyframes(shiftLeft-active) {
    from { 
        @include transform(translateX($animation-delta));
        opacity: 0;
    }
    to {
        @include transform(translateX(0));
        opacity: 1;
    }
}
@include keyframes(shiftLeft-inactive) {
    from {
        @include transform(translateX(0));
        opacity: 1;
    }
    to {
        @include transform(translateX(-$animation-delta));
        opacity: 0;
    }
}

// Shift Right
%animation-shiftRight-active { @include animation(shiftRight-active); }
%animation-shiftRight-inactive { @include animation(shiftRight-inactive); }
@include keyframes(shiftRight-active) {
    from { 
        @include transform(translateX(-$animation-delta));
        opacity: 0;
    }
    to {
        @include transform(translateX(0));
        opacity: 1;
    }
}
@include keyframes(shiftRight-inactive) {
    from {
        @include transform(translateX(0));
        opacity: 1;
    }
    to {
        @include transform(translateX($animation-delta));
        opacity: 0;
    }
}

// Flip Left
%animation-flipLeft-active { @include animation(flipLeft-active, $is-3d: true); }
%animation-flipLeft-inactive { @include animation(flipLeft-inactive, $is-3d: true); }
@include keyframes(flipLeft-active) {
    from { z-index: 1; @include transform(translateZ(-1000px) rotateY(180deg)); }
    to { z-index: 2; @include transform(translateZ(0) rotateY(0)); }
}
@include keyframes(flipLeft-inactive) {
    from {
    	z-index: 2;
    	@include transform(translateZ(0) rotateY(0));
    }
    to {
    	z-index: 1;
    	@include transform(translateZ(-1000px) rotateY(-180deg));
    }
}

// Tilt
%animation-tilt-active { @include animation(tilt-active, $is-3d: true); }
%animation-tilt-inactive { @include animation(tilt-inactive, $is-3d: true); }
@include keyframes(tilt-active) {
    0% {
        @include transform(translateZ(-500px) rotateY(0deg));
        opacity: 0;
    }
    20% {
        @include transform(translateZ(-250px) rotateY(30deg));
        opacity: 0.5;
    }
    100% {
        @include transform(translateZ(0px) rotateY(0deg));
        opacity: 1;
    }
}
@include keyframes(tilt-inactive) {
    50% {
        @include transform(translateZ(-250px) rotateY(30deg));
    }
    75% {
        @include transform(translateZ(-372.5px) rotateY(15deg));
        opacity: .5;
    }
    100% {
        @include transform(translateZ(-500px) rotateY(0deg));
        opacity: 0;
    }
}

// Transitions
// -----------
%hover-all {

}

%transition {
    @include transition-property($transition-property);
    @include transition-duration($transition-duration);
    @include transition-timing-function($transition-timing-function);
    @include transition-delay($transition-delay);
}

%transition-lighten {
    @include movement() {
        opacity: 1 - $transition-delta-opacity;
    }
}
%hover-lighten { @include hover-movement(lighten); }

%transition-fromLight {
    opacity: 1 - $transition-delta-opacity;

    @include movement() {
        opacity: 1;
    }
}
%hover-fromLight { @include hover-movement(fromLight); }

%transition-scaleUp {
    @include movement(transform) {
        @include transform(scale(1.2));
    }
}
%hover-scaleUp { @include hover-movement(scaleUp); }

%transition-slideFromLeft {
    @include transform(translateX(-100%));

    @include movement() {
        @include transform(translateX(0));
    }
}
.transition-slideFromLeft { @extend %transition-slideFromLeft; }
