// 
// Animations Module
// =================

// Animation Settings
$animation-duration: 300ms !default;
$animation-duration-3d: 1000ms !default;
$animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1) !default;
$animation-perspective: 1000 !default;
$animation-delta: 5rem !default;

// Activation Settings
$activation-item-selector: '[ui-view], > .page, > [ng-if]' !default;
$inert-selector: '.inert' !default; 
$active-selector: '.ng-enter' !default;
$inactive-selector: '.ng-leave' !default;
$active-z-index: 2 !default;
$inactive-z-index: 0 !default;

// Transition Settings
$animation-transition-duration: 300ms !default;
$animation-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1) !default; // easeInOutCubic

// Imports
@import
	'_mixins',
	'_components',
	'_classes';