// 
// Animations Module
// =================

// Animation Settings
$animation-duration: 300ms !default;
$animation-direction: normal !default;
$animation-delay: 0 !default;
$animation-iteration-count: 1 !default;
$animation-play-state: running !default;
$animation-fill-mode: both !default;
$animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1) !default;
$animation-delta: 5rem !default;

$animation-3d-duration: 300ms !default;
$animation-3d-perspective: 1000 !default;

// Activation Settings
$activation-item-selector: '[ui-view], > .page, > [ng-if]' !default;
$inert-selector: '.inert' !default; 
$active-selector: '.ng-enter' !default;
$inactive-selector: '.ng-leave' !default;
$active-z-index: 2 !default;
$inactive-z-index: 0 !default;
$active-delay: $animation-duration !default;

// Transition Settings
$transition-property: all !default;
$transition-selector: '.active' !default;
$transition-duration: $animation-duration !default;
$transition-timing-function: $animation-timing-function !default; // easeInOutCubic
$transition-delay: $animation-delay !default;

$transition-delta-opacity: 0.3 !default;

// Performance Settings
$performance-beat-duration: 0.5s;

// Performance Static Variables
$_performance-current-index: 0;

// Imports
@import
	'_mixins',
	'_components',
	'_classes';