// 
// Animations Module
// =================

// Animation Settings
$animation-duration: 0.3s !default;
$animation-duration-3d: 2s !default;
$animation-timing-function: ease-in-out !default;
$animation-perspective: 1000 !default;

// Activation Settings
$activation-item-selector: '> [ui-view], > .page' !default;
$inert-selector: '.inert' !default; 
$active-selector: '.ng-enter' !default;
$inactive-selector: '.ng-leave' !default;
$active-z-index: 2 !default;
$inactive-z-index: 0 !default;

// Transition Settings
$animation-transition-duration: 0.2s !default;
$animation-transition-timing-function: ease-in-out !default;

// Imports
@import
	'_mixins',
	'_components',
	'_classes';