

$components: ();
$relationships: ();
$static-component: null;

@function property-mapping($property, $rule) {
    // TODO: parse rule first

    @if function-exists(map-#{$property}) {
        @return call(map-#{$property}, $rule);
    } @else {
        @return ($property: $rule);
    }
}

@mixin rules(
    $definition,
    $selector: &
) {  
    @at-root #{$selector} {    
        @each $property, $rule in $definition {
            $property-rule-map: property-mapping($property, $rule);
            @each $mapped-property, $mapped-rule in $property-rule-map {
                #{$mapped-property}: $mapped-rule;
            }
        }

        @content;
    }
}

@function set-components($component, $definition: ()) {
    $component: if(length($component) == 1, append($component, default), $component);

    $components: set($components, $component, $definition) !global;

    @return null;
}

@mixin define-component(
    $component,
    $definition: false
) {
    $component-string: sl-to-string($component, '-');
    $placeholder: '%#{$component-string}';

    $static-component: $component !global;

    @if $definition {
        $void: set-components($component, $definition) !global;

        @include rules($definition, $placeholder) {
            @content;
        }

        // Relationship placeholder
        @at-root %r-#{$component-string} {
            component: $component;
        }
    }
}

@mixin define-variant(
    $variant,
    $definition,
    $component: $static-component
) {
    @include define-component(
        append($component, $variant),
        $definition
    );

    $static-component: $component !global;
}

@mixin define-relationship(
    $target,
    $subject: $static-component,
    $relationship: 'descendant'
) {

    $target-placeholder: relationship($target...);
    $subject-placeholder: relationship($subject...);
    $relationship-map: (
        'descendant': '#{$subject-placeholder} #{$target-placeholder}',
        'child': '#{$subject-placeholder} > #{$target-placeholder}',
        'adjacent': '#{$subject-placeholder} + #{$target-placeholder}',
        'sibling': '#{$subject-placeholder} ~ #{$target-placeholder}',
        'cousin': '#{$subject-placeholder} ~ * #{$target-placeholder}',
    );

    @at-root #{map-get($relationship-map, $relationship)} {
        @content;
    }
}

@function component(
    $name,
    $variant: default
) {
    $variant: if($variant == default, '', '-#{$variant}');

    @return '%#{$name}#{$variant}';
}

@function relationship(
    $component,
    $variant: default
) {
    @return '%r-#{$component}-#{$variant}';
}

@mixin component(
    $component,
    $variant: default
) {
    $static-component: $component !global;

    $component-map: get($components, $component);
    $definition: get($component-map, $variant);

    @include rules($definition, &) {
        @content;
    }

    @extend #{relationship($component, $variant)} !optional;
}

