

$components: ();
$static-component: null;

@function property-mapping($property, $rule) {
    // TODO: parse rule first

    @if function-exists(map-#{$property}) {
        @return call(map-#{$property}, $rule);
    } @else {
        @return ($property: $rule);
    }
}

@mixin rules(
    $definition,
    $selector: &
) {  
    @at-root #{$selector} {    
        @each $property, $rule in $definition {
            $property-rule-map: property-mapping($property, $rule);
            @each $mapped-property, $mapped-rule in $property-rule-map {
                #{$mapped-property}: $mapped-rule;
            }
        }

        @content;
    }
}

@mixin define-component(
    $component,
    $definition,
    $placeholder: "%#{$component}"
) {
    $static-component: $component !global;

    $component-definition: ($component: (default: $definition));

    $components: map-merge($components, $component-definition) !global;

    @include rules($definition, $placeholder) {
        @content;
    }
}

@mixin define-variant(
    $variant,
    $definition,
    $component: $static-component,
    $placeholder: "%#{$component}#{if($variant == default, '', '-#{$variant}')}"
) {
    $variant-definition: ($variant: $definition);

    $component-map: map-get($components, $component);

    $component-map: map-merge($component-map, $variant-definition);

    $components: map-merge($components, ($component: $component-map)) !global;

    @include rules($definition, $placeholder) {
        @content;
    }
}

@mixin component(
    $component,
    $variant: default
) {
    $static-component: $component !global;

    $component-map: map-get($components, $component);
    $definition: map-get($component-map, $variant);

    $variant: if($variant == default, '', '-#{$variant}');

    @include rules($definition, &) {
        @content;
    }
}

@function component(
    $name,
    $variant: default
) {
    $variant: if($variant == default, '', '-#{$variant}');

    @return '%#{$name}#{$variant}';
}