// 
// Buttons Components
// ==================

// Single Buttons
// --------------
%button {
    @extend %nowrap;
    display: inline-block;
    padding: $button-padding;
    cursor: pointer;
    margin: $button-margin;
    border-width: $button-border-width;
    border-style: solid;
    white-space: nowrap;
    background-image: none;

    @if $button-radius {
        @include border-radius($button-radius);
    }

    // Text style
    @include type-scale($button-scale);
    text-align: center;
    text-transform: $button-text-transform;
    text-decoration: $button-decoration;
}

%button-box {
    padding: 0;

    &-content {    
        display: inline-block;
        padding: $button-padding;

        &-inactive {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

%button-hover {
    text-decoration: $button-hover-decoration;
}

%button-tiny, %buttons-tiny > %button {
    @include type-scale($button-tiny-scale);
    padding: $button-tiny-padding;
}

%button-small, %buttons-small > %button {
    @include type-scale($button-small-scale);
    padding: $button-small-padding;
}

%button-large, %buttons-large > %button {
    @include type-scale($button-large-scale);
    padding: $button-large-padding;
}

%button-huge, %buttons-huge > %button {
    @include type-scale($button-huge-scale);
    padding: $button-huge-padding;
}

%button-left { 
    float: left;
    margin-left: 0;
    margin-right: 0.5rem;
}

%button-right {
    float: right;
    margin-left: 0.5rem;
    margin-right: 0;
}

%button-block {
    display: block;
    margin: 0;
    width: 100%;
}

%button-full {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;

    &-height {
        margin: 0;
        height: 100%;
        border-radius: 0;
    }

    &-width {
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
}

%button-disabled {
    opacity: $button-disabled-opacity;
    cursor: $button-disabled-cursor;
}


// Button Groups
// -------------
%button-group {
    @extend %clearfix;

    > %input-radio, > %input-checkbox {
        display: none;
    }

    > %button {
        border-radius: 0;
        margin: 0;
        margin-left: -$button-border-width;
        float: left;

        &:first-of-type { margin-left: inherit; }
        &:hover, &:focus { z-index: 2; }

        @if $button-radius {
            &:first-of-type {
                border-top-left-radius: $button-radius;
                border-bottom-left-radius: $button-radius;
            }
            &:last-of-type {
                border-top-right-radius: $button-radius;
                border-bottom-right-radius: $button-radius;
            }
        }
    }

    &-inline {    
        display: inline-block;
        margin: $button-group-margin;
        margin-bottom: 0;
    }

    &-vertical {
        display: inline-block;

        > %button {
            display: block;
            width: 100%;
            max-width: 100%;
            margin: 0;
            margin-left: 0;
            margin-top: -$button-border-width;
            float: none;

            &:first-of-type { margin-left: 0; margin-top: inherit; }
                
            @if $button-radius {
                &:first-of-type {
                    border-bottom-left-radius: 0;
                    border-top-left-radius: $button-radius;
                    border-top-right-radius: $button-radius;
                }
                &:last-of-type {
                    border-top-right-radius: 0;
                    border-bottom-left-radius: $button-radius;
                    border-bottom-right-radius: $button-radius;
                }
            }
        }
    }
}
