// 
// Buttons Components
// ==================

// Single Buttons
// --------------
%button {
    @extend %nowrap;
    display: inline-block;
    padding: $button-padding;
    cursor: pointer;
    margin: $button-margin;
    border-width: $button-border-width;
    white-space: nowrap;
    background-image: none;

    @if $button-radius {
        @include border-radius($button-radius);
    }

    // Text style
    @include type-scale($button-type-scale);
    text-align: center;
    text-transform: $button-text-transform;
    text-decoration: none;
}

%button-tiny {
    @extend %button;
    @include type-scale($button-tiny-scale);
    padding: $button-tiny-padding;
}

%button-small {
    @extend %button;
    @include type-scale($button-small-scale);
    padding: $button-small-padding;
}

%button-large {
    @extend %button;
    @include type-scale($button-large-scale);
    padding: $button-large-padding;
}

%button-huge {
    @extend %button;
    @include type-scale($button-huge-scale);
    padding: $button-huge-padding;
}

%button-left { 
    @extend %button;
    float: left;
    margin-left: 0;
}

%button-right {
    @extend %button;
    float: right;
    margin-right: 0;
}

%button-block {
    @extend %button;
    display: block;
    margin: 0;
    width: 100%;
}

%button-full {
    @extend %button-block;
    height: 100%;
    // TODO: vertical alignment middle
}

// Button Groups
// -------------
%button-group {
    @extend %clearfix;

    > %button-group-buttons {
        @include border-radius(0);
        margin: 0;
        margin-left: -$button-border-width;
        float: left;

        &:first-of-type { margin-left: inherit; }
        &:hover, &:focus { z-index: 2; }

        @if $button-radius {
            &:first-of-type {
                @include border-top-left-radius($button-radius);
                @include border-bottom-left-radius($button-radius);
            }
            &:last-of-type {
                @include border-top-right-radius($button-radius);
                @include border-bottom-right-radius($button-radius);
            }
        }
    }

    > input[type=radio], > input[type=checkbox] {
        display: none;
    }
}

%button-group-inline {
    @extend %button-group;
    display: inline-block;
    margin: $button-group-margin;
    margin-bottom: 0;
}

%button-group-vertical {
    @extend %button-group;
    display: inline-block;

    > %button-group-buttons {
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 0;
        margin-left: 0;
        margin-top: -$button-border-width;
        float: none;

        &:first-of-type { margin-left: 0; margin-top: inherit; }
            
        @if $button-radius {
            &:first-of-type {
                @include border-bottom-left-radius(0);
                @include border-top-left-radius($button-radius);
                @include border-top-right-radius($button-radius);
            }
            &:last-of-type {
                @include border-top-right-radius(0);
                @include border-bottom-left-radius($button-radius);
                @include border-bottom-right-radius($button-radius);
            }
        }
    }
}
