// 
// Buttons Module
// ==============

// Button Settings
$button-style: default !default;
$button-theme: default !default;
$button-margin: 0.5rem !default;
$button-padding: 0.5rem 1rem !default;
$button-border-width: $form-border-width !default;
// $button-color-light: white !default;
$button-scale: $form-type-scale !default;
$button-text-transform: uppercase !default;
$button-radius: $form-radius !default;
$button-transition-duration: 0.3s !default;
$button-icon-margin: 0.5rem !default;

// Button Group Settings
$button-group-margin: 0 !default;

// Imports
@import
	'_mixins',
	'_components',
	'_themes',
	'_classes';