// 
// Buttons Themes and Styles
// ========================

// Button Theme
@mixin theme-button-default(
	$bgcolor: $button-bgcolor,
	$color: $button-color,
	$bgcolor-hover: delta-lighten($bgcolor),
	$color-hover: $color,
	$border-color: delta-darken($bgcolor),
	$border-color-hover: delta-darken($bgcolor-hover)
) {
	@debug $bgcolor;
	@debug $color;
	@if $border-color { border-color: $border-color; }
	@if $bgcolor { background-color: $bgcolor; }
	@if $color {
		&, & > * { color: $color; }
	}

	&:disabled {
		// TODO
		@if $border-color { border-color: $border-color !important; }
		@if $bgcolor { background-color: $bgcolor !important; }
		@if $color {
			&, & > * { color: $color; }
		}
	}

	&:hover, &:active {
		@if $border-color-hover { border-color: $border-color-hover; }
		@if $bgcolor-hover { background-color: $bgcolor-hover; }
		@if $color-hover {
			&, & > * { color: $color-hover; }
		}
	}

	&:focus {
		outline: 1px solid white;
		outline-offset: -2px;
	}

	&:active {
		// TODO
	}
}

%theme-button-default {
	@include transition((border-color, background-color, color));
	@include theme-button-default();

	&-primary { @include theme-button-default($color-primary); }
	&-secondary { @include theme-button-default($color-secondary); }
	&-light { @include theme-button-default($button-bgcolor-light, $button-color-light); }
	&-dark { @include theme-button-default($button-bgcolor-dark, $button-color-dark); }

	&-link { @include theme-button-default(false, false); }
}

// Transparent Button Style and Theme

@mixin theme-button-transparent($color: $color-primary, $color-text: $color) {
	background-color: transparent;
	border-color: $color;

	@if $color-text != auto {
		color: $color-text;
	}

	&:hover, &:active {
		background-color: $color;
		border-color: $color;

		@if $color-text != auto {
			color: foregroundColor($color);
		}
	}
}

%theme-button-transparent {
	@include theme-button-transparent();

	&-primary { @include theme-button-transparent($color-primary); }
	&-secondary { @include theme-button-transparent($color-secondary); }
	&-light { @include theme-button-transparent($color-light); }
	&-dark { @include theme-button-transparent($color-dark); }
}

