//
// Type Components
// ===============

// Typefaces
// ---------
@each $type-import in $type-imports {
    @import url($type-import);
}

%type-primary {
    @if $type-use-custom {
        font-family: join($type-primary-font-family, $type-base-font-family);
    } @else {
        font-family: $type-base-font-family;
    }
}

%type-secondary {
    font-family: $type-secondary-font-family;
}

%type-serif {
	font-family: $type-serif-font-family;
}

%type-sans-serif {
	font-family: $type-sans-serif-font-family;
}

%type-monospace {
	font-family: $type-monospace-font-family;
}

%type-script {
	font-family: $type-script-font-family;
}

%type-condensed {
    font-family: $type-condensed-font-family;
}

// Headings
// --------
%heading {
	line-height: $type-heading-line-height;
    font-weight: $type-heading-font-weight;
    font-style: $type-heading-font-style;
    font-family: join($type-heading-font-family, $type-base-font-family);
    margin-top: $type-heading-margin-top;
    margin-bottom: $type-heading-margin-bottom;

    &:only-child { margin-bottom: 0; }
}

%heading-inline {
    display: inline-block;
	margin-bottom: 0;
	margin-top: 0;
}

// For smaller text inside headings (parent class)
%heading-small {
	@include type-scale-relative($type-heading-small-scale);
}

%heading-large {
    @include type-scale-relative($type-heading-large-scale);
}

%heading-double {
    font-weight: $type-heading-double-font-weight;
}

%subheading {
    font-weight: $type-subheading-font-weight;
    margin-top: $type-subheading-margin-top;
    margin-bottom: $type-subheading-margin-bottom;
}

%hgroup {
	margin-bottom: $hgroup-margin-bottom;

	> * {
		margin-bottom: 0;
	}
}

@each $type-heading in $type-headings {
	$heading-selector: nth($type-heading, 1);
	$heading-scale: nth($type-heading, 2);

	%#{$heading-selector} {
		@include type-scale(6 - $heading-scale);
	}

    %#{$heading-selector}-double {
        @extend %heading-double;
        @include type-scale(6 - $heading-scale, $factor: $type-heading-double-factor);
    }
}

// Body Copy
// ---------
%body-type {
	font-style: normal;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;

    @include experimental(hyphens, auto);
}

%paragraph {
	margin-bottom: $type-p-margin-bottom;
    line-height: $type-p-line-height;
    font-weight: $type-p-font-weight;

	&%lead { @include type-scale($type-p-lead-scale); }
}

%small {
	@include type-scale-relative(-1);
}

%large {
	@include type-scale-relative(1);
}

%strong {
	font-weight: bold !important;
}

%weak {
	font-weight: normal !important;
}

%em {
	font-style: italic;
}

%uppercase {
	text-transform: uppercase;
}

%lowercase {
	text-transform: lowercase;
}

%nowrap {
	white-space: nowrap;
}

%mark {
	background: $type-mark-color;
}

%abbreviation {
	@if $type-abbr-transform == uppercase {
        @include type-scale-relative(1);
    }

    text-transform: $type-abbr-transform;
    border-bottom: $type-abbr-border;
    cursor: $type-abbr-cursor;
}

%small-caps {
    font-variant: small-caps;
}

%upper-caps {
    @extend %small-caps;

    text-transform: lowercase;
}

// Anchors
// -------
%anchor {
	display: $type-anchor-display;
    text-decoration: $type-anchor-decoration;

    &:hover { text-decoration: $type-anchor-decoration-hover; }
}

// Parent Class
%anchors-hint {
    %anchor {
        text-decoration: $type-anchor-unhinted-decoration;
    }

    &:hover %anchor {
        text-decoration: $type-anchor-hinted-decoration;
    }
}

// Alignment
// ---------
%text-left {
	text-align: left;
}

%text-right {
	text-align: right;
}

%text-center {
	text-align: center;
}

%text-justify {
	text-align: justify;
}

// Parent Class
%text-middle {
	display: table;

	> * {
		display: table-cell;
		vertical-align: middle;
	}
}

%nowrap {
    white-space: nowrap;
    overflow: hidden;
}

// Preformatted Text
// -----------------
%pre {
	white-space: pre;
    @include type-scale($type-pre-scale);
    font-family: $type-pre-font-family;

    %code {
        word-wrap: normal;
        white-space: -moz-pre-wrap;
        white-space: pre-wrap;
    }
}

%code {
    white-space: pre;
    @include type-scale($type-code-scale);
    font-family: $type-code-font-family;
}

%kbd {
	@include type-scale($type-kbd-scale);
}

// Quotes
// ------
%blockquote {
	padding: $type-blockquote-padding;
	margin-bottom: $type-blockquote-margin-bottom;
	@include type-scale($type-blockquote-scale);

	%footer {
		@include type-scale($type-blockquote-footer-scale);

		%cite { @extend %em; }
	}
}

%quote {
	@extend %quote-double;
}

%quote-double {
	&::before { content: '\201C'; }
	&::after { content: '\201D'; }
}

%quote-single {
	&::before { content: '\2018'; }
	&::after { content: '\2019'; }
}

%quote-arrow-double {
	&::before { content: '\00AB'; }
	&::after { content: '\00BB'; }
}

%quote-arrow-single {
	&::before { content: '\2039'; }
	&::after { content: '\203A'; }
}

%quote-low-double {
	&::before { content: '\201E'; }
	&::after { content: '\201D'; }
}

%quote-low-single {
	&::before { content: '\201A'; }
	&::after { content: '\2019'; }
}

// Horizontal Rules
// ----------------
%hr {
	clear: both;
	height: 0;
	margin: $hr-margin;
	margin-left: 0;
	margin-right: 0;
	border-top-width: $hr-border-width;
    border-top-style: $hr-border-style;
	border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}

%hr-dotted {
    border-style: dotted;
}

%hr-thick {
    border-top-width: $hr-border-width-thick;
}

%hr-thin {
    border-top-width: $hr-border-width-thin;
}

%hr-small {
    width: $hr-width-small;
}

%hr-large {
    width: $hr-width-large;
}

%hr-left {
    margin-right: auto;
}

%hr-right {
    margin-left: auto;
}

%hr-center {
    margin-left: auto;
    margin-right: auto;
}

// Lists
// -----
%list {
	list-style-position: $type-list-position;
    margin-bottom: $type-list-margin-bottom;
    padding: 0;

    %list-nested {
    	margin-bottom: 0;
    }

    %list-item {
    	list-style-position: $type-list-position;
    }
}

%list-unstyled {
	@extend %list;
	list-style: none;
	margin-left: 0;
}

%list-inline {
	@extend %list;
	margin-left: 0;

	li {
		@extend %nowrap;
		display: inline-block;
		padding-right: $type-list-inline-padding;
	}
}

%list-unordered {
	@extend %list;

	margin-left: $type-list-ul-margin;
}

%list-square { list-style-type: square; }
%list-circle { list-style-type: circle; }
%list-disc { list-style-type: disc; }
%list-no-bullet { list-style-type: none; }

%list-ordered {
	@extend %list;

	margin-left: $type-list-ol-margin;
}

%list-description {
	@extend %list;

	dt {
		font-weight: $type-list-dl-header-weight;
		margin-bottom: $type-list-dl-header-margin-bottom;
	}

	dd {
		margin-bottom: $type-list-dl-margin-bottom;
	}
}

// Dividers
%divider {
    &:not(:last-child):after {    
        content: '';
        display: inline-block;
        vertical-align: $divider-vertical-align;
    }

    &-vertical:not(:last-child):after {
        margin: $divider-margin-vertical 0;
    }

    &-horizontal:not(:last-child):after {
        margin: 0 $divider-margin-horizontal;
    }

    &-square:not(:last-child):after { content: '\25A0'; }
    &-diamond:not(:last-child):after { content: '\25C6'; }
    &-bar:not(:last-child):after { content: '\2503'; }
    &-dash:not(:last-child):after { content: '\2501'; }
    &-bullet:not(:last-child):after { content: '\25CF'; }
}
























