//
// Type Module
// ===========

// Base Type Settings
$type-style: default !default;
$type-theme: default !default;
$type-unit: rem !default;
$type-ratio: 1.25 !default;
$type-base-font-size: 14px !default; // = 1rem
$type-base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$type-base-font-style: normal !default;
$type-base-font-weight: 300 !default;

// Custom Type Settings
$type-use-custom: true !default;
$type-import-primary: "//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700" !default;
$type-import-secondary: "//fonts.googleapis.com/css?family=Open+Sans+Condensed:300italic,300,700" !default;
$type-imports: (
    $type-import-primary,
    $type-import-secondary
);
$type-primary-font-family: "Open Sans" !default;
$type-secondary-font-family: Georgia, Times, "Times New Roman", serif !default;
$type-serif-font-family: "Calisto MT", Georgia, "Times New Roman", Times, serif !default;
$type-sans-serif-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$type-monospace-font-family: Consolas, monaco, monospace !default;
$type-script-font-family: "Brush Script MT", cursive !default;
$type-condensed-font-family: "Open Sans Condensed" !default;

// Headings
$type-heading-style: default !default;
$type-heading-theme: default !default;
$type-headings: (h1: 1, h2: 2, h3: 3, h4: 4, h5: 5, h6: 6) !default;
$type-heading-font-family: $type-primary-font-family !default;
$type-heading-font-weight: $type-base-font-weight !default;
$type-heading-font-style: normal !default;
$type-heading-line-height: 1.2 !default;
$type-heading-margin-top: 0 !default;
$type-heading-margin-bottom: $x-rem !default;
$type-heading-large-style: inherit !default;
$type-heading-large-scale: 2 !default;
$type-heading-small-style: uppercase !default;
$type-heading-small-scale: -2 !default;
$type-heading-double-factor: 2 !default;
$type-heading-double-font-weight: $type-base-font-weight !default;
// $type-subheading-color: lighten($type-header-color, 15%) !default;
$type-subheading-font-weight: 300 !default;
$type-subheading-margin-top: 0 !default;
$type-subheading-margin-bottom: $x-rem !default;

$hgroup-margin-bottom: 1rem !default;

// Body Copy
$type-mark-color: #FF0 !default;
$type-p-margin-bottom: 1rem !default;
$type-p-line-height: 1.5 !default;
$type-p-font-weight: $type-base-font-weight !default;
$type-p-lead-scale: 1 !default;
$type-abbr-border: 1px dotted $color-gray !default;
$type-abbr-cursor: help !default;
$type-abbr-transform: uppercase !default;

// Anchors
$type-anchor-style: default !default;
$type-anchor-theme: default !default;
$type-anchor-display: inline-block !default;
$type-anchor-decoration: underline !default;
$type-anchor-decoration-hover: underline !default;
$type-anchor-unhinted-decoration: none !default;
$type-anchor-hinted-decoration: underline !default;

// Preformatted Text
$type-pre-style: default !default;
$type-pre-theme: default !default;
$type-pre-scale: -1 !default;
$type-pre-font-family: $type-monospace-font-family !default;
$type-pre-margin: 0 0 1rem 0 !default;
$type-code-scale: -1 !default;
$type-code-font-family: $type-pre-font-family !default;
$type-kbd-scale: -2 !default;

// Quotes
$type-blockquote-style: default !default;
$type-blockquote-theme: default !default;
$type-blockquote-padding: 1rem !default;
$type-blockquote-scale: 1 !default;
$type-blockquote-footer-scale: -1 !default;
$type-blockquote-margin-bottom: 1rem !default;

// Horizontal Rule
$hr-margin: 1rem 0 !default;
$hr-border-width: 2px !default;
$hr-border-width-thin: $hr-border-width / 2 !default;
$hr-border-width-thick: $hr-border-width * 2 !default;
$hr-width-small: 3rem !default;
$hr-width-large: $hr-width-small * 2 !default;
$hr-width-half: 50% !default;
$hr-width-full: 100% !default;
$hr-border-style: solid !default;

// Horizontal Rule Theme
$hr-color-light: $color-light !default;
$hr-color-dark: $color-dark !default;
$hr-color: theme-mode($color-light, $color-dark) !default;

// Type Rule
$type-rule-margin-vertical: 1rem !default;
$type-rule-margin-horizontal: 1rem !default;
$type-rule-height: $hr-border-width !default;
$type-rule-height-thin: $type-rule-height / 2 !default;
$type-rule-height-thick: $type-rule-height * 2 !default;
$type-rule-width: $hr-width-small !default;
$type-rule-width-small: $hr-width-small !default;
$type-rule-width-large: $hr-width-large !default;
$type-rule-width-half: $hr-width-half !default;
$type-rule-width-full: $hr-width-full !default;

// Type Rule Theme
$type-rule-color-light: $color-light !default;
$type-rule-color-dark: $color-dark !default;
$type-rule-color: theme-mode($type-rule-color-light, $type-rule-color-dark) !default;

// Lists
$type-list-position: outside !default;
$type-list-margin-bottom: 1rem !default;
$type-list-inline-padding: 0 1rem 0 0;
$type-list-ul-margin: 1rem !default;
$type-list-ol-margin: 1.4rem !default;
$type-list-dl-header-weight: bold !default;
$type-list-dl-header-margin-bottom: 0.5rem !default;
$type-list-dl-margin-bottom: 0.5rem !default;

// Dividers
$divider-style: default !default;
$divider-theme: default !default;
$divider-margin: 1rem !default;
$divider-margin-vertical: $divider-margin !default;
$divider-margin-horizontal: $divider-margin !default;
$divider-vertical-align: inherit !default;

// Divider Theme
$divider-color-light: $color-light !default;
$divider-color-dark: $color-dark !default;
$divider-color: theme-mode($divider-color-light, $divider-color-dark) !default;

// Imports
@import
	'_mixins',
	'_components',
	'_themes',
	'_classes';