//
// Type Themes
// ===========

// Heading Themes
@mixin heading-style($style: default, $theme: default) {
	@extend %ext-heading-#{$style} !optional;
	@extend %theme-heading-#{$style} !optional;
}

%ext-heading-default {
	h6 { text-transform: uppercase; }
}

%theme-heading-default {
	&, &%light {	
		h1, h2, h3, h4, h5, h6 {
			color: $type-base-color;

			&%subheading, &%heading-small {
				color: $color-gray;
			}
		}
	}
	&%dark {
		h1, h2, h3, h4, h5, h6 {
			color: $color-light;

			&%subheading, &%heading-small {
				color: $color-gray-light;
			}
		}
	}
}