//
// Type Themes
// ===========

%theme-text-default {
	color: $text-color;

	&-light { color: $text-color-light; }
	&-dark { color: $text-color-dark; }
}

%theme-subtext-default {
	color: $subtext-color;

	&-light { color: $subtext-color-light; }
	&-dark { color: $subtext-color-dark; }
}

// Heading Theme
// -------------

%style-heading-default {
	@at-root %h6 {
		text-transform: uppercase;
	}
}

%theme-heading-default {
	color: $heading-color;

	&-light { color: $heading-color-light; }
	&-dark { color: $heading-color-dark; }
}

%theme-subheading-default {
	color: $subheading-color;

	&-light { color: $subheading-color-light; }
	&-dark { color: $subheading-color-dark; }
}

// Anchor Theme
// ------------

@mixin theme-anchor-default(
	$color: $anchor-color,
	$color-hover: $anchor-hover-color,
	$color-focus: $color-hover,
	$color-active: $color-hover
) {
	@if $color {
		color: $color;
	}

	&:hover { color: $color-hover; }
	&:focus { color: $color-focus; }
}

%style-anchor-default {
	//
}

%theme-anchor-default {
	@include theme-anchor-default();

	&-light { @include theme-anchor-default($anchor-color-light, $anchor-hover-color-light); }
	&-dark { @include theme-anchor-default($anchor-color-dark, $anchor-hover-color-dark); }
}

@mixin theme-anchors-hint-default(
	$color: $anchor-unhinted-color,
	$color-hover: $anchor-hinted-color
) {
	%anchor { color: $color; }

	&:hover %anchor { color: $color-hover; }
}

%theme-anchors-hint-default {
	@include theme-anchors-hint-default();

	&-light { @include theme-anchors-hint-default($anchor-unhinted-color-light, $anchor-hinted-color-light); }
	&-dark { @include theme-anchors-hint-default($anchor-unhinted-color-dark, $anchor-hinted-color-dark); }
}

@mixin theme-hr-default($color: $hr-color) {
	border-color: $color;
}

%theme-hr-default {
	@include theme-hr-default();

	&-light { @include theme-hr-default($hr-color-light); }
	&-dark { @include theme-hr-default($hr-color-dark); }
	&-lighten { @include theme-hr-default($color-lighten); }
	&-darken { @include theme-hr-default($color-darken); }
}

// // Preformatted Text Theme
// // -----------------------
// $x-pre-code-padding: 0.25rem 0.5rem !default;
// $x-pre-code-radius: 0.25rem !default;
// $x-pre-kbd-padding: $x-pre-code-padding !default;
// $x-pre-kbd-radius: 0.25rem !default;

// @mixin pre-style(
// 	$style: $type-pre-style,
// 	$theme: $type-pre-theme,
// 	$component: 'pre'
// ) {
// 	@extend %ext-pre-#{$style} !optional;
// 	@extend %theme-pre-#{$theme}%#{$component} !optional;
// }

// %theme-pre-default {
// 	%pre {
// 		color: $type-pre-color;

// 		&.light { color: $type-pre-color-light; }
// 		&.dark { color: $type-pre-color-dark; }
// 	}

// 	%code {
// 		color: $type-code-color;
// 		padding: $x-pre-code-padding;
// 		background: $color-gray-light;

// 		@if $x-pre-code-radius {
// 			@include border-radius($x-pre-code-radius);
// 		}
// 	}

// 	%kbd {
// 		&, &.light {
// 			font-family: $type-base-font-family;
// 			color: $type-base-color;
// 			padding: $x-pre-kbd-padding;
// 			background: $color-gray-light;
// 			border: 1px solid $color-gray;
// 			border-bottom-width: 3px;

// 			@if $x-pre-kbd-radius {
// 				@include border-radius($x-pre-kbd-radius);
// 			}
// 		}

// 		&.dark {
// 			color: $color-light;
// 			background: lighten($color-dark, 10%);
// 			border-color: $color-dark;
// 		}
// 	}
// }

// @include add-theme('pre', $type-pre-theme);

// // Blockquote Theme
// // ----------------
// $x-blockquote-border-width: 1px !default;
// $x-blockquote-footer-prefix: '\2014 \00A0';

// @mixin blockquote-style(
// 	$style: $type-blockquote-style,
// 	$theme: $type-blockquote-theme,
// 	$component: 'blockquote'
// ) {
// 	@extend %ext-blockquote-#{$style} !optional;
// 	@extend %theme-blockquote-#{$theme}%#{$component} !optional;
// }

// %ext-blockquote-default {
// 	&, &.left {
// 		border-style: solid;
// 		border-width: 0;
// 		border-left-width: $x-blockquote-border-width;
// 	}

// 	&.right {
// 		text-align: right;
// 		border-left-width: 0;
// 		border-right-width: $x-blockquote-border-width;
// 	}
// }

// // TODO: dark theme
// %theme-blockquote-default {
// 	%blockquote {	
// 		border-color: $type-blockquote-border-color;
// 		color: $type-blockquote-color;

// 		footer {
// 			color: $type-blockquote-footer-color;

// 			&::before {
// 				content: '\2014 \00A0';
// 			}
// 		}
// 	}
// }

// @include add-theme('blockquote', $type-blockquote-theme);






