//
// Type Themes
// ===========

// Type Theme
@mixin type-style(
	$style: $type-style,
	$theme: $type-theme
) 
{
	@extend %ext-type-#{$style} !optional;
	@extend %theme-type-#{$theme} !optional;
}

%theme-type-default {
	&, &%light {
		color: $type-base-color;

		p, ul, ol, dl { color: $type-base-color; }
	}

	&%dark {
		color: $color-light;

		p, ul, ol, dl { color: $color-light; }
	}
}

// Heading Theme
@mixin heading-style(
	$style: $type-heading-style,
	$theme: $type-heading-theme
) {
	@extend %ext-heading-#{$style} !optional;
	@extend %theme-heading-#{$theme} !optional;
}

%ext-heading-default {
	h6, .h6 { text-transform: uppercase; }
}

%theme-heading-default {
	&, &%light {	
		h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
			color: $type-base-color;

			&.sub, &.subheading, > small, > .small {
				color: $color-gray;
			}
		}
	}

	&%dark {
		h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
			color: $color-light;

			&.sub, &.subheading, > small, > .small {
				color: $color-gray-light;
			}
		}
	}
}

// Preformatted Text Theme
$x-pre-code-padding: 0.25rem 0.5rem !default;
$x-pre-code-radius: 0.25rem !default;
$x-pre-kbd-padding: $x-pre-code-padding !default;
$x-pre-kbd-radius: 0.25rem !default;

@mixin pre-style(
	$style: $type-pre-style,
	$theme: $type-pre-theme
) {
	@extend %ext-pre-#{$style} !optional;
	@extend %theme-pre-#{$theme} !optional;
}

%theme-pre-default {
	&, &%light {
		pre, .pre {
			color: $type-pre-color;
		}

		code, .code {
			color: $type-code-color;
			padding: $x-pre-code-padding;
			background: $color-gray-light;

			@if $x-pre-code-radius {
				@include border-radius($x-pre-code-radius);
			}
		}

		kbd, .kbd {
			&, &.light {
				font-family: $type-base-font-family;
				color: $type-base-color;
				padding: $x-pre-kbd-padding;
				background: $color-gray-light;
				border: 1px solid $color-gray;
				border-bottom-width: 3px;

				@if $x-pre-kbd-radius {
					@include border-radius($x-pre-kbd-radius);
				}
			}

			&.dark {
				color: $color-light;
				background: lighten($color-dark, 10%);
				border-color: $color-dark;
			}
		}
	}

	&%dark {
		pre, .pre {
			color: $color-gray-light;
		}
	}
}

// Blockquote Theme
$x-blockquote-border-width: 1px !default;
$x-blockquote-footer-prefix: '\2014 \00A0';

@mixin blockquote-style(
	$style: $type-blockquote-style,
	$theme: $type-blockquote-theme
) {
	@extend %ext-blockquote-#{$style} !optional;
	@extend %theme-blockquote-#{$theme} !optional;
}

%ext-blockquote-default {
	&, &.left {
		border-style: solid;
		border-width: 0;
		border-left-width: $x-blockquote-border-width;
	}

	&.right {
		text-align: right;
		border-left-width: 0;
		border-right-width: $x-blockquote-border-width;
	}
}

%theme-blockquote-default {
	border-color: $type-blockquote-border-color;
	color: $type-blockquote-color;

	footer {
		color: $type-blockquote-footer-color;

		&::before {
			content: '\2014 \00A0';
		}
	}
}






