//
// Grid Module
// ===========

// Horizontal Grid Settings
$grid-column-selector: ".col, [class*=\"col-\"]" !default;
$grid-columns: 12 !default;
$grid-column-gutter: 1rem !default;
$grid-column-mqs: (all, small, medium, large);

// Vertical Grid Settings
$grid-row-selector: ".row, [class*=\"row-\"]" !default;
$grid-rows: 12 !default;
$grid-row-gutter: 1rem !default;
$grid-row-mqs: "all, short, tall";

// Imports
@import
	'_mixins',
	'_components',
	'_classes',
	'_themes';