//
// Grid Module
// ===========

// Shared Grid Settings
// TODO: use maps
$grid-fractions: (half, 3rd, 4th, 5th, 6th, 7th, 8th, 9th);
$grid-content-padding: 1rem !default;
$grid-content-padding-small: $grid-content-padding / 2 !default;
$grid-content-padding-large: $grid-content-padding * 2 !default;

// Horizontal Grid Settings
$grid-column-selector: ".col, [class*=\"col-\"]" !default;
$grid-columns: 12 !default;
$grid-column-gutter: 1rem !default;
$grid-column-mqs: (all, small, medium, large);

// Vertical Grid Settings
$grid-row-selector: ".row, [class*=\"row-\"]" !default;
$grid-rows: 12 !default;
$grid-row-gutter: 1rem !default;
$grid-row-mqs: (all, short, tall);

// Imports
@import
	'_mixins',
	'_components',
	'_classes',
	'_themes';