// 
// Themes Components
// =================

@each $theme-color in $theme-colors {
    $name: nth($theme-color, 1);
    $color: nth($theme-color, 2);
    $mode: if(is-dark($color), 'dark', 'light');

    %theme-#{$name} {
        background-color: $color;
        @include themes($mode: $mode);
    }

    %color-#{$name} {
        &, p, ul, ol, dl { color: $color; }
    }

    %border-#{$name} {
        border-width: $theme-border-width;
        border-style: solid;
        border-color: $color;
    }
}