// 
// Themes Components
// =================

%color-light {
    @include foreground-color(black);
}

%color-dark {
    @include foreground-color(white);
}

@each $theme-color in $theme-colors {
    $name: nth($theme-color, 1);
    $color: nth($theme-color, 2);

    %theme-#{$name} {        
        @if is-dark($color) {
            @extend %color-light;
        } @else {
            @extend %color-dark;
        }

        background-color: $color;
    }

    %color-#{$name} {
        &, p, ul, ol, dl { color: $color; }
    }

    %border-#{$name} {
        border-width: $theme-border-width;
        border-style: solid;
        border-color: $color;
    }
}

body {
    @include themes();
}