// 
// Themes Module
// =============

// Theme Settings
$theme-mode: 'light' !default;
$theme-lighten-opacity: 0.3 !default;
$theme-darken-opacity: 0.3 !default;

// Border Settings
$border-width: 1px !default;
$border-color: $color-gray-light !default;

// (name, color)
// TODO: use maps (SASS 3.3)
$theme-colors: (
    ('light', $color-light),
    ('dark', $color-dark),
    ('primary', $color-primary),
    ('secondary', $color-secondary),
    ('white', white),
    ('black', black),
    ('lighten', $color-lighten),
    ('darken', $color-darken)
);


// Imports
@import
	'_mixins',
	'_components',
	'_themes',
	'_classes';