// 
// Global Module
// =============

// Global Settings
$environment: development !default;
$imports: 'all' !default;

// Asset Settings
$base-asset-path: '../bower_components' !default;

// Imports
@import
	'_mixins',
	'_components',
	'_classes';