// 
// Media Mixins and Functions
// ==========================

@mixin mq($size: all) {
    @if $size == screen {
        @media #{$mq-screen} { @content; }
    } @else if $size == small {
        @media #{$mq-small} { @content; }
    } @else if $size == medium {
        @media #{$mq-medium} { @content; }
    } @else if $size == large {
        @media #{$mq-large} { @content; }
    } @else if $size == short {
        @media #{$mq-short} { @content; }
    } @else if $size == tall {
        @media #{$mq-tall} { @content; }
    } 

    // Non-dimensional media queries
    @else if $size == print {
        @media #{$mq-print} { @content; }
    } @else {
        @content;
    }
}

@mixin fixed-width(
    $default: 100%,
    $small: false,
    $medium: false,
    $large: false
) {
    margin-left: auto;
    margin-right: auto;
    
    @include mq(screen) { max-width: $default; }

    @if $small {
        @include mq(small) { max-width: $small; }
    }

    @if $medium {
        @include mq(medium) { max-width: $medium; }
    }

    @if $large {
        @include mq(large) { max-width: $large; }
    }
}

// TODO:
// landscape, portrait, retina
// multiple arguments for sizes