// 
// Layers Components
// =================

%body {
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
}

%layer {
    @include position-absolute(0, 0);
    @include pie-clearfix;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
}

%scroll-x {
    overflow-x: auto;
}

%scroll-y {
    overflow-y: auto;
}

%scroll {
    overflow: auto;
}

%overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 0;
    z-index: $overlay-z-index;
}

%page {
    @include position-absolute(0, 0);
    @include pie-clearfix;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
}

%transparent {
    background: transparent;
    pointer-events: none;

    > * {
        pointer-events: auto;
    }
}

%card {
    @include pie-clearfix;
    @include border-radius($card-radius);
    @extend %shadow-#{$card-shadow-index};
    margin: $card-margin-vertical $card-margin-horizontal;
    width: calc(100% - #{2 * $card-margin-horizontal});
}

@for $i from 0 through $grid-rows {
    %card-#{$i} {
        height: row-height($i);
    }
}

@each $mq in (small, medium, all) {
    $suffix: if($mq == 'all', '', '-#{$mq}');

    @include mq($mq) {        
        %drawer {
            &#{$suffix} { position: absolute; }

            &-left#{$suffix} {
                position: absolute;

                right: inherit;
                left: 0;
            }

            &-right#{$suffix} {
                position: absolute;

                left: inherit;
                right: 0;
            }

            &-top#{$suffix} {
                position: absolute;

                bottom: inherit;
                top: 0;
            }

            &-bottom#{$suffix} {
                position: absolute;

                top: inherit;
                bottom: 0;
            }
        }
    }
}

@each $drawer-position in (left, right) {
    %drawer-#{$drawer-position} {
        @include drawer($width: auto, $position: $drawer-position, $extend: false);

        &-small { @include drawer($width: $drawer-small-width, $position: $drawer-position, $push: true, $mq: small, $extend: false); }
    }
}

@each $drawer-position in (top, bottom) {
    %drawer-#{$drawer-position} {
        @include drawer($height: auto, $position: $drawer-position, $extend: false);

        &-small { @include drawer($height: $drawer-small-height, $position: $drawer-position, $push: true, $mq: small, $extend: false); }
    }
}

%container {
    @include pie-clearfix;
    width: 100%;

    @if $container-max-width or $container-min-width {
        max-width: $container-max-width;
        min-width: $container-min-width;
        margin-left: auto;
        margin-right: auto;
    }
}

%pad-container {
    @include pie-clearfix;
    width: 100%;
    max-width: 100%;

    // Will not work in Chrome (yet):
    // https://code.google.com/p/chromium/issues/detail?id=423456
    &, &-horizontal, &-left, &-right {
        padding-top: inherit;
        padding-bottom: inherit;
    }

    &, &-horizontal {
        padding-left: calc((100% - #{$container-max-width}) / 2);
        padding-right: calc((100% - #{$container-max-width}) / 2);
    }

    &-left {
        padding-left: 0;
        padding-right: calc(100% - #{$container-max-width});
    }

    &-right {
        padding-right: 0;
        padding-left: calc(100% - #{$container-max-width});
    }

    &-vertical, &-top, &-bottom {
        padding-left: inherit;
        padding-right: inherit;
    }

    &-vertical {
        padding-top: calc((100% - #{$container-max-height}) / 2);
        padding-bottom: calc((100% - #{$container-max-height}) / 2);
    }

    &-top {
        padding-top: 0;
        padding-bottom: calc(100% - #{$container-max-height});
    }

    &-bottom {
        padding-bottom: 0;
        padding-top: calc(100% - #{$container-max-height});
    }
}

.pad-container {
    @extend %pad-container;

    &-left { @extend %pad-container-left; }
    &-right { @extend %pad-container-right; }

    &-vertical { @extend %pad-container-vertical; }
    &-top { @extend %pad-container-top; }
    &-bottom { @extend %pad-container-bottom; }
}

%parallax {
    perspective: $parallax-perspective;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    &-page {
        position: relative;
        height: 100%;
        transform-style: preserve-3d;
    }

    &-layer {
        position: absolute;
        transform: translateZ(0);
        z-index: 4;
        top: 0; bottom: 0; left: 0; right: 0;

        > span { @include position-absolute(center, middle); }

        &-front {
            @include parallax(1);
        }

        &-back {
            @include parallax(-1);
        }
    }
}

.parallax {
    @extend %parallax;

    &-page { @extend %parallax-page !optional; }

    &-layer {
        @extend %parallax-layer;

        &-front { @extend %parallax-layer-front; }

        &-back { @extend %parallax-layer-back; }
    }
}

