// 
// Layers Components
// =================

%body {
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
}

%layer {
    @include position-absolute(0, 0);
    @include clearfix;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
}

%scroll-x {
    overflow-x: auto;
    white-space: nowrap;
}

%scroll-y {
    overflow-y: auto;
}

%scroll {
    overflow: auto;
}

%overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 0;
    z-index: $overlay-z-index;
}

%page {
    @include position-absolute(0, 0);
    @include clearfix;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
}

%transparent {
    background: transparent;
    pointer-events: none;

    > * {
        pointer-events: auto;
    }
}

%card {
    @include clearfix;
    @extend %shadow-#{$card-shadow-index};
    border-radius: $card-radius;
    margin: $card-margin-vertical $card-margin-horizontal;
    width: calc(100% - #{2 * $card-margin-horizontal});

    &-full {
        margin: 0;
        width: 100%;
    }

    &-inline {
        display: inline-block;
        width: auto;
        margin-left: 0;
        margin-right: 0;

        & + & {
            margin-left: $card-margin-horizontal;
        }
    }
}

%container {
    @include clearfix;
    width: 100%;

    @if $container-max-width or $container-min-width {
        max-width: $container-max-width;
        min-width: $container-min-width;
        margin-left: auto;
        margin-right: auto;
    }
}

%pad-container {
    @include clearfix;
    width: 100%;
    max-width: 100%;

    // Chrome issue (still works):
    // https://code.google.com/p/chromium/issues/detail?id=423456
    padding-left: calc((100% - #{$container-max-width}) / 2);
    padding-right: calc((100% - #{$container-max-width}) / 2);

    &, &-left, &-right {    
        @include mq-width($container-max-width) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &-left {
        padding-left: 0;
        padding-right: calc(100% - #{$container-max-width});
    }

    &-right {
        padding-right: 0;
        padding-left: calc(100% - #{$container-max-width});
    }
}

%parallax {
    perspective: $parallax-perspective;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    &-page {
        position: relative;
        height: 100%;
        transform-style: preserve-3d;
    }

    &-layer {
        position: absolute;
        transform: translateZ(0);
        z-index: 4;
        top: 0; bottom: 0; left: 0; right: 0;

        > span { @include position-absolute(center, middle); }

        &-front {
            @include parallax(1);
        }

        &-back {
            @include parallax(-1);
        }
    }
}

.parallax {
    @extend %parallax;

    &-page { @extend %parallax-page !optional; }

    &-layer {
        @extend %parallax-layer;

        &-front { @extend %parallax-layer-front; }

        &-back { @extend %parallax-layer-back; }
    }
}

