// 
// Layers Mixins and Functions
// ===========================

@mixin parallax(
    $distance,
    $perspective: $parallax-perspective
) {
    transform: translateZ($perspective * $distance) scale(-$distance + 1);
    z-index: $distance * 10;
}