// 
// Layers Module
// =============

// Layer Settings

// Overlay Settings
$overlay-style: default !default;
$overlay-theme: default !default;
$overlay-color-light: white !default;
$overlay-color-dark: black !default;
$overlay-opacity: 0.3 !default;
$overlay-z-index: 10 !default;

// Container Settings
$container-min-width: false !default;
$container-max-width: 960px !default;

// Card Settings
$card-shadow-index: 1 !default;
$card-margin-vertical: 0.5rem !default;
$card-margin-horizontal: 0.5rem !default;

// Imports
@import
	'_mixins',
	'_components',
	'_themes',
	'_classes';