// 
// Layers Module
// =============

// Layer Settings

// Overlay Settings
$overlay-style: default !default;
$overlay-theme: default !default;
$overlay-color-light: white !default;
$overlay-color-dark: black !default;
$overlay-opacity: 0.3 !default;
$overlay-z-index: 10 !default;

// Container Settings
$container-min-width: false !default;
$container-max-width: 960px !default;

// Card Settings
$card-shadow-index: 1 !default;
$card-gutter: 0.5rem !default;
$card-margin-vertical: $card-gutter !default;
$card-margin-horizontal: $card-gutter !default;
$card-radius: 2px !default;

// Drawer Settings
$drawer-style: default !default;
$drawer-theme: default !default;
$drawer-full-width: column-width(10) !default;
$drawer-full-height: row-height(10) !default;
$drawer-half-width: column-width(1/2) !default;
$drawer-half-height: row-height(1/2) !default;
$drawer-small-width: $drawer-full-width !default;
$drawer-small-height: $drawer-full-height !default;
$drawer-medium-width: $drawer-half-width !default;
$drawer-medium-height: $drawer-full-height !default;

// Parallax Settings
$parallax-perspective: 100px !default;

// Imports
@import
	'_mixins',
	'_components',
	'_themes',
	'_classes';