// 
// Icons Module
// ============

// Icon Settings
$icon-path: '#{$base-asset-path}/material-design-icons' !default;
$icon-font-family: 'Material Design Iconic Font';
$icon-font-path: '../assets/material-design-icons-font/Material-Design-Iconic-Font' !default;
$icon-version: '1.0.1' !default;
$icon-scale: 0 !default;
$icon-vertical-align: middle !default;
$icon-prefix: 'icon' !default;
$icon-font-map: (
    // Actions
	'3d-rotation': '\f000',
	'accessibility': '\f001',
	'account-balance': '\f002',
	'account-balance-wallet': '\f003',
	'account-box': '\f004',
	'account-child': '\f005',
	'account-circle': '\f006',
	'add-shopping-cart': '\f007',
	'alarm': '\f008',
	'alarm-add': '\f009',
	'alarm-off': '\f00a',
	'alarm-on': '\f00b',
	'android': '\f00c',
	'announcement': '\f00d',
	'aspect-ratio': '\f00e',
	'assessment': '\f00f',
	'assignment': '\f010',
	'assignment-ind': '\f011',
	'assignment-late': '\f012',
	'assignment-return': '\f013',
	'assignment-returned': '\f014',
	'assignment-turned-in': '\f015',
	'autorenew': '\f016',
	'backup': '\f017',
	'book': '\f018',
	'bookmark': '\f019',
	'bookmark-outline': '\f01a',
	'bug-report': '\f01b',
	'cached': '\f01c',
	'class': '\f01d',
	'credit-card': '\f01e',
	'dashboard': '\f01f',
	'delete': '\f020',
	'description': '\f021',
	'dns': '\f022',
	'done': '\f023',
	'done-all': '\f024',
	'event': '\f025',
	'exit-to-app': '\f026',
	'explore': '\f027',
	'extension': '\f028',
	'face-unlock': '\f029',
	'favorite': '\f02a',
	'favorite-outline': '\f02b',
	'find-in-page': '\f02c',
	'find-replace': '\f02d',
	'flip-to-back': '\f02e',
	'flip-to-front': '\f02f',
	'get-app': '\f030',
	'grade': '\f031',
	'group-work': '\f032',
	'help': '\f033',
	'highlight-remove': '\f034',
	'history': '\f035',
	'home': '\f036',
	'https': '\f037',
	'info': '\f038',
	'info-outline': '\f039',
	'input': '\f03a',
	'invert-colors': '\f03b',
	'label': '\f03c',
	'label-outline': '\f03d',
	'language': '\f03e',
	'launch': '\f03f',
	'list': '\f040',
	'lock': '\f041',
	'lock-open': '\f042',
	'lock-outline': '\f043',
	'loyalty': '\f044',
	'markunread-mailbox': '\f045',
	'note-add': '\f046',
	'open-in-browser': '\f047',
	'open-in-new': '\f048',
	'open-with': '\f049',
	'pageview': '\f04a',
	'payment': '\f04b',
	'perm-camera-mic': '\f04c',
	'perm-contact-cal': '\f04d',
	'perm-data-setting': '\f04e',
	'perm-device-info': '\f04f',
	'perm-identity': '\f050',
	'perm-media': '\f051',
	'perm-phone-msg': '\f052',
	'perm-scan-wifi': '\f053',
	'picture-in-picture': '\f054',
	'polymer': '\f055',
	'print': '\f056',
	'query-builder': '\f057',
	'question-answer': '\f058',
	'receipt': '\f059',
	'redeem': '\f05a',
	'report-problem': '\f05b',
	'restore': '\f05c',
	'room': '\f05d',
	'schedule': '\f05e',
	'search': '\f05f',
	'settings': '\f060',
	'settings-applications': '\f061',
	'settings-backup-restore': '\f062',
	'settings-bluetooth': '\f063',
	'settings-cell': '\f064',
	'settings-display': '\f065',
	'settings-ethernet': '\f066',
	'settings-input-antenna': '\f067',
	'settings-input-component': '\f068',
	'settings-input-composite': '\f069',
	'settings-input-hdmi': '\f06a',
	'settings-input-svideo': '\f06b',
	'settings-overscan': '\f06c',
	'settings-phone': '\f06d',
	'settings-power': '\f06e',
	'settings-remote': '\f06f',
	'settings-voice': '\f070',
	'shop': '\f071',
	'shopping-basket': '\f072',
	'shopping-cart': '\f073',
	'shop-two': '\f074',
	'speaker-notes': '\f075',
	'spellcheck': '\f076',
	'star-rate': '\f077',
	'stars': '\f078',
	'store': '\f079',
	'subject': '\f07a',
	'swap-horiz': '\f07b',
	'swap-vert': '\f07c',
	'swap-vert-circle': '\f07d',
	'system-update-tv': '\f07e',
	'tab': '\f07f',
	'tab-unselected': '\f080',
	'theaters': '\f081',
	'thumb-down': '\f082',
	'thumbs-up-down': '\f083',
	'thumb-up': '\f084',
	'toc': '\f085',
	'today': '\f086',
	'track-changes': '\f087',
	'translate': '\f088',
	'trending-down': '\f089',
	'trending-neutral': '\f08a',
	'trending-up': '\f08b',
	'turned-in': '\f08c',
	'turned-in-not': '\f08d',
	'verified-user': '\f08e',
	'view-agenda': '\f08f',
	'view-array': '\f090',
	'view-carousel': '\f091',
	'view-column': '\f092',
	'view-day': '\f093',
	'view-headline': '\f094',
	'view-list': '\f095',
	'view-module': '\f096',
	'view-quilt': '\f097',
	'view-stream': '\f098',
	'view-week': '\f099',
	'visibility': '\f09a',
	'visibility-off': '\f09b',
	'wallet-giftcard': '\f09c',
	'wallet-membership': '\f09d',
	'wallet-travel': '\f09e',
	'work': '\f09f', 

    // Alert
	'error': '\f0a0',
	'warning': '\f0a1',

    // Audio-Video
	'album': '\f0a2',
	'av-timer': '\f0a3',
	'closed-caption': '\f0a4',
	'equalizer': '\f0a5',
	'explicit': '\f0a6',
	'fast-forward': '\f0a7',
	'fast-rewind': '\f0a8',
	'games': '\f0a9',
	'hearing': '\f0aa',
	'high-quality': '\f0ab',
	'loop': '\f0ac',
	'mic': '\f0ad',
	'mic-none': '\f0ae',
	'mic-off': '\f0af',
	'movie': '\f0b0',
	'my-library-add': '\f0b1',
	'my-library-books': '\f0b2',
	'my-library-music': '\f0b3',
	'new-releases': '\f0b4',
	'not-interested': '\f0b5',
	'pause': '\f0b6',
	'pause-circle-fill': '\f0b7',
	'pause-circle-outline': '\f0b8',
	'play-arrow': '\f0b9',
	'play-circle-fill': '\f0ba',
	'play-circle-outline': '\f0bb',
	'playlist-add': '\f0bc',
	'play-shopping-bag': '\f0bd',
	'queue': '\f0be',
	'queue-music': '\f0bf',
	'radio': '\f0c0',
	'recent-actors': '\f0c1',
	'repeat': '\f0c2',
	'repeat-one': '\f0c3',
	'replay': '\f0c4',
	'shuffle': '\f0c5',
	'skip-next': '\f0c6',
	'skip-previous': '\f0c7',
	'snooze': '\f0c8',
	'stop': '\f0c9',
	'subtitles': '\f0ca',
	'surround-sound': '\f0cb',
	'videocam': '\f0cc',
	'videocam-off': '\f0cd',
	'video-collection': '\f0ce',
	'volume-down': '\f0cf',
	'volume-mute': '\f0d0',
	'volume-off': '\f0d1',
	'volume-up': '\f0d2',
	'web': '\f0d3',

    // Communication
	'business': '\f0d4',
	'call': '\f0d5',
	'call-end': '\f0d6',
	'call-made': '\f0d7',
	'call-merge': '\f0d8',
	'call-missed': '\f0d9',
	'call-received': '\f0da',
	'call-split': '\f0db',
	'chat': '\f0dc',
	'clear-all': '\f0dd',
	'comment': '\f0de',
	'contacts': '\f0df',
	'dialer-sip': '\f0e0',
	'dialpad': '\f0e1',
	'dnd-on': '\f0e2',
	'email': '\f0e3',
	'forum': '\f0e4',
	'import-export': '\f0e5',
	'invert-colors-off': '\f0e6',
	'invert-colors-on': '\f0e7',
	'live-help': '\f0e8',
	'location-off': '\f0e9',
	'location-on': '\f0ea',
	'message': '\f0eb',
	'messenger': '\f0ec',
	'no-sim': '\f0ed',
	'phone': '\f0ee',
	'portable-wifi-off': '\f0ef',
	'quick-contacts-dialer': '\f0f0',
	'quick-contacts-mail': '\f0f1',
	'ring-volume': '\f0f2',
	'stay-current-landscape': '\f0f3',
	'stay-current-portrait': '\f0f4',
	'stay-primary-landscape': '\f0f5',
	'stay-primary-portrait': '\f0f6',
	'swap-calls': '\f0f7',
	'textsms': '\f0f8',
	'voicemail': '\f0f9',
	'vpn-key': '\f0fa',

    // Content
	'add': '\f0fb',
	'add-box': '\f0fc',
	'add-circle': '\f0fd',
	'add-circle-outline': '\f0fe',
	'archive': '\f0ff',
	'backspace': '\f100',
	'block': '\f101',
	'clear': '\f102',
	'content-copy': '\f103',
	'content-cut': '\f104',
	'content-paste': '\f105',
	'create': '\f106',
	'drafts': '\f107',
	'filter-list': '\f108',
	'flag': '\f109',
	'forward': '\f10a',
	'gesture': '\f10b',
	'inbox': '\f10c',
	'link': '\f10d',
	'mail': '\f10e',
	'markunread': '\f10f',
	'redo': '\f110',
	'remove': '\f111',
	'remove-circle': '\f112',
	'remove-circle-outline': '\f113',
	'reply': '\f114',
	'reply-all': '\f115',
	'report': '\f116',
	'save': '\f117',
	'select-all': '\f118',
	'send': '\f119',
	'sort': '\f11a',
	'text-format': '\f11b',
	'undo': '\f11c',

    // Device
	'access-alarm': '\f11d',
	'access-alarms': '\f11e',
	'access-time': '\f11f',
	'add-alarm': '\f120',
	'airplanemode-off': '\f121',
	'airplanemode-on': '\f122',
	'battery-20': '\f123',
	'battery-30': '\f124',
	'battery-50': '\f125',
	'battery-60': '\f126',
	'battery-80': '\f127',
	'battery-90': '\f128',
	'battery-alert': '\f129',
	'battery-charging-20': '\f12a',
	'battery-charging-30': '\f12b',
	'battery-charging-50': '\f12c',
	'battery-charging-60': '\f12d',
	'battery-charging-80': '\f12e',
	'battery-charging-90': '\f12f',
	'battery-charging-full': '\f130',
	'battery-full': '\f131',
	'battery-std': '\f132',
	'battery-unknown': '\f133',
	'bluetooth': '\f134',
	'bluetooth-connected': '\f135',
	'bluetooth-disabled': '\f136',
	'bluetooth-searching': '\f137',
	'brightness-auto': '\f138',
	'brightness-high': '\f139',
	'brightness-low': '\f13a',
	'brightness-medium': '\f13b',
	'data-usage': '\f13c',
	'developer-mode': '\f13d',
	'devices': '\f13e',
	'dvr': '\f13f',
	'gps-fixed': '\f140',
	'gps-not-fixed': '\f141',
	'gps-off': '\f142',
	'location-disabled': '\f143',
	'location-searching': '\f144',
	'multitrack-audio': '\f145',
	'network-cell': '\f146',
	'network-wifi': '\f147',
	'nfc': '\f148',
	'now-wallpaper': '\f149',
	'now-widgets': '\f14a',
	'screen-lock-landscape': '\f14b',
	'screen-lock-portrait': '\f14c',
	'screen-lock-rotation': '\f14d',
	'screen-rotation': '\f14e',
	'sd-storage': '\f14f',
	'settings-system-daydream': '\f150',
	'signal-cellular-0-bar': '\f151',
	'signal-cellular-1-bar': '\f152',
	'signal-cellular-2-bar': '\f153',
	'signal-cellular-3-bar': '\f154',
	'signal-cellular-4-bar': '\f155',
	'signal-cellular-connected-no-internet-0-bar': '\f156',
	'signal-cellular-connected-no-internet-1-bar': '\f157',
	'signal-cellular-connected-no-internet-2-bar': '\f158',
	'signal-cellular-connected-no-internet-3-bar': '\f159',
	'signal-cellular-connected-no-internet-4-bar': '\f15a',
	'signal-cellular-no-sim': '\f15b',
	'signal-cellular-null': '\f15c',
	'signal-cellular-off': '\f15d',
	'signal-wifi-0-bar': '\f15e',
	'signal-wifi-1-bar': '\f15f',
	'signal-wifi-2-bar': '\f160',
	'signal-wifi-3-bar': '\f161',
	'signal-wifi-4-bar': '\f162',
	'signal-wifi-off': '\f163',
	'storage': '\f164',
	'usb': '\f165',
	'wifi-lock': '\f166',
	'wifi-tethering': '\f167',

    // Editor
	'attach-file': '\f168',
	'attach-money': '\f169',
	'border-all': '\f16a',
	'border-bottom': '\f16b',
	'border-clear': '\f16c',
	'border-color': '\f16d',
	'border-horizontal': '\f16e',
	'border-inner': '\f16f',
	'border-left': '\f170',
	'border-outer': '\f171',
	'border-right': '\f172',
	'border-style': '\f173',
	'border-top': '\f174',
	'border-vertical': '\f175',
	'format-align-center': '\f176',
	'format-align-justify': '\f177',
	'format-align-left': '\f178',
	'format-align-right': '\f179',
	'format-bold': '\f17a',
	'format-clear': '\f17b',
	'format-color-fill': '\f17c',
	'format-color-reset': '\f17d',
	'format-color-text': '\f17e',
	'format-indent-decrease': '\f17f',
	'format-indent-increase': '\f180',
	'format-italic': '\f181',
	'format-line-spacing': '\f182',
	'format-list-bulleted': '\f183',
	'format-list-numbered': '\f184',
	'format-paint': '\f185',
	'format-quote': '\f186',
	'format-size': '\f187',
	'format-strikethrough': '\f188',
	'format-textdirection-l-to-r': '\f189',
	'format-textdirection-r-to-l': '\f18a',
	'format-underline': '\f18b',
	'functions': '\f18c',
	'insert-chart': '\f18d',
	'insert-comment': '\f18e',
	'insert-drive-file': '\f18f',
	'insert-emoticon': '\f190',
	'insert-invitation': '\f191',
	'insert-link': '\f192',
	'insert-photo': '\f193',
	'merge-type': '\f194',
	'mode-comment': '\f195',
	'mode-edit': '\f196',
	'publish': '\f197',
	'vertical-align-bottom': '\f198',
	'vertical-align-center': '\f199',
	'vertical-align-top': '\f19a',
	'wrap-text': '\f19b',

    // File
	'attachment': '\f19c',
	'cloud': '\f19d',
	'cloud-circle': '\f19e',
	'cloud-done': '\f19f',
	'cloud-download': '\f1a0',
	'cloud-off': '\f1a1',
	'cloud-queue': '\f1a2',
	'cloud-upload': '\f1a3',
	'file-download': '\f1a4',
	'file-upload': '\f1a5',
	'folder': '\f1a6',
	'folder-open': '\f1a7',
	'folder-shared': '\f1a8',

    // Hardware
	'cast': '\f1a9',
	'cast-connected': '\f1aa',
	'computer': '\f1ab',
	'desktop-mac': '\f1ac',
	'desktop-windows': '\f1ad',
	'dock': '\f1ae',
	'gamepad': '\f1af',
	'headset': '\f1b0',
	'headset-mic': '\f1b1',
	'keyboard': '\f1b2',
	'keyboard-alt': '\f1b3',
	'keyboard-arrow-down': '\f1b4',
	'keyboard-arrow-left': '\f1b5',
	'keyboard-arrow-right': '\f1b6',
	'keyboard-arrow-up': '\f1b7',
	'keyboard-backspace': '\f1b8',
	'keyboard-capslock': '\f1b9',
	'keyboard-control': '\f1ba',
	'keyboard-hide': '\f1bb',
	'keyboard-return': '\f1bc',
	'keyboard-tab': '\f1bd',
	'keyboard-voice': '\f1be',
	'laptop': '\f1bf',
	'laptop-chromebook': '\f1c0',
	'laptop-mac': '\f1c1',
	'laptop-windows': '\f1c2',
	'memory': '\f1c3',
	'mouse': '\f1c4',
	'phone-android': '\f1c5',
	'phone-iphone': '\f1c6',
	'phonelink': '\f1c7',
	'phonelink-off': '\f1c8',
	'security': '\f1c9',
	'sim-card': '\f1ca',
	'smartphone': '\f1cb',
	'speaker': '\f1cc',
	'tablet': '\f1cd',
	'tablet-android': '\f1ce',
	'tablet-mac': '\f1cf',
	'tv': '\f1d0',
	'watch': '\f1d1',

    // Image
	'add-to-photos': '\f1d2',
	'adjust': '\f1d3',
	'assistant-photo': '\f1d4',
	'audiotrack': '\f1d5',
	'blur-circular': '\f1d6',
	'blur-linear': '\f1d7',
	'blur-off': '\f1d8',
	'blur-on': '\f1d9',
	'brightness-1': '\f1da',
	'brightness-2': '\f1db',
	'brightness-3': '\f1dc',
	'brightness-4': '\f1dd',
	'brightness-5': '\f1de',
	'brightness-6': '\f1df',
	'brightness-7': '\f1e0',
	'brush': '\f1e1',
	'camera': '\f1e2',
	'camera-alt': '\f1e3',
	'camera-front': '\f1e4',
	'camera-rear': '\f1e5',
	'camera-roll': '\f1e6',
	'center-focus-strong': '\f1e7',
	'center-focus-weak': '\f1e8',
	'collections': '\f1e9',
	'colorize': '\f1ea',
	'color-lens': '\f1eb',
	'compare': '\f1ec',
	'control-point': '\f1ed',
	'control-point-duplicate': '\f1ee',
	'crop': '\f1ef',
	'crop-3-2': '\f1f0',
	'crop-5-4': '\f1f1',
	'crop-7-5': '\f1f2',
	'crop-16-9': '\f1f3',
	'crop-din': '\f1f4',
	'crop-free': '\f1f5',
	'crop-landscape': '\f1f6',
	'crop-original': '\f1f7',
	'crop-portrait': '\f1f8',
	'crop-square': '\f1f9',
	'dehaze': '\f1fa',
	'details': '\f1fb',
	'edit': '\f1fc',
	'exposure': '\f1fd',
	'exposure-minus-1': '\f1fe',
	'exposure-minus-2': '\f1ff',
	'exposure-zero': '\f200',
	'exposure-plus-1': '\f201',
	'exposure-plus-2': '\f202',
	'filter': '\f203',
	'filter-1': '\f204',
	'filter-2': '\f205',
	'filter-3': '\f206',
	'filter-4': '\f207',
	'filter-5': '\f208',
	'filter-6': '\f209',
	'filter-7': '\f20a',
	'filter-8': '\f20b',
	'filter-9': '\f20c',
	'filter-9-plus': '\f20d',
	'filter-b-and-w': '\f20e',
	'filter-center-focus': '\f20f',
	'filter-drama': '\f210',
	'filter-frames': '\f211',
	'filter-hdr': '\f212',
	'filter-none': '\f213',
	'filter-tilt-shift': '\f214',
	'filter-vintage': '\f215',
	'flare': '\f216',
	'flash-auto': '\f217',
	'flash-off': '\f218',
	'flash-on': '\f219',
	'flip': '\f21a',
	'gradient': '\f21b',
	'grain': '\f21c',
	'grid-off': '\f21d',
	'grid-on': '\f21e',
	'hdr-off': '\f21f',
	'hdr-on': '\f220',
	'hdr-strong': '\f221',
	'hdr-weak': '\f222',
	'healing': '\f223',
	'image': '\f224',
	'image-aspect-ratio': '\f225',
	'iso': '\f226',
	'landscape': '\f227',
	'leak-add': '\f228',
	'leak-remove': '\f229',
	'lens': '\f22a',
	'looks': '\f22b',
	'looks-1': '\f22c',
	'looks-2': '\f22d',
	'looks-3': '\f22e',
	'looks-4': '\f22f',
	'looks-5': '\f230',
	'looks-6': '\f231',
	'loupe': '\f232',
	'movie-creation': '\f233',
	'nature': '\f234',
	'nature-people': '\f235',
	'navigate-before': '\f236',
	'navigate-next': '\f237',
	'palette': '\f238',
	'panorama': '\f239',
	'panorama-fisheye': '\f23a',
	'panorama-horizontal': '\f23b',
	'panorama-vertical': '\f23c',
	'panorama-wide-angle': '\f23d',
	'photo': '\f23e',
	'photo-album': '\f23f',
	'photo-camera': '\f240',
	'photo-library': '\f241',
	'portrait': '\f242',
	'remove-red-eye': '\f243',
	'rotate-left': '\f244',
	'rotate-right': '\f245',
	'slideshow': '\f246',
	'straighten': '\f247',
	'style': '\f248',
	'switch-camera': '\f249',
	'switch-video': '\f24a',
	'tag-faces': '\f24b',
	'texture': '\f24c',
	'timelapse': '\f24d',
	'timer': '\f24e',
	'timer-3': '\f24f',
	'timer-10': '\f250',
	'timer-auto': '\f251',
	'timer-off': '\f252',
	'tonality': '\f253',
	'transform': '\f254',
	'tune': '\f255',
	'wb-auto': '\f256',
	'wb-cloudy': '\f257',
	'wb-incandescent': '\f258',
	'wb-irradescent': '\f259',
	'wb-sunny': '\f25a',

    // Maps
	'beenhere': '\f25b',
	'directions': '\f25c',
	'directions-bike': '\f25d',
	'directions-bus': '\f25e',
	'directions-car': '\f25f',
	'directions-ferry': '\f260',
	'directions-subway': '\f261',
	'directions-train': '\f262',
	'directions-transit': '\f263',
	'directions-walk': '\f264',
	'flight': '\f265',
	'hotel': '\f266',
	'layers': '\f267',
	'layers-clear': '\f268',
	'local-airport': '\f269',
	'local-atm': '\f26a',
	'local-attraction': '\f26b',
	'local-bar': '\f26c',
	'local-cafe': '\f26d',
	'local-car-wash': '\f26e',
	'local-convenience-store': '\f26f',
	'local-drink': '\f270',
	'local-florist': '\f271',
	'local-gas-station': '\f272',
	'local-grocery-store': '\f273',
	'local-hospital': '\f274',
	'local-hotel': '\f275',
	'local-laundry-service': '\f276',
	'local-library': '\f277',
	'local-mall': '\f278',
	'local-movies': '\f279',
	'local-offer': '\f27a',
	'local-parking': '\f27b',
	'local-pharmacy': '\f27c',
	'local-phone': '\f27d',
	'local-pizza': '\f27e',
	'local-play': '\f27f',
	'local-post-office': '\f280',
	'local-print-shop': '\f281',
	'local-restaurant': '\f282',
	'local-see': '\f283',
	'local-shipping': '\f284',
	'local-taxi': '\f285',
	'location-history': '\f286',
	'map': '\f287',
	'my-location': '\f288',
	'navigation': '\f289',
	'pin-drop': '\f28a',
	'place': '\f28b',
	'rate-review': '\f28c',
	'restaurant-menu': '\f28d',
	'satellite': '\f28e',
	'store-mall-directory': '\f28f',
	'terrain': '\f290',
	'traffic': '\f291',

    // Navigation
	'apps': '\f292',
	'cancel': '\f293',
	'arrow-drop-down-circle': '\f294',
	'arrow-drop-down': '\f295',
	'arrow-drop-up': '\f296',
	'arrow-back': '\f297',
	'arrow-forward': '\f298',
	'check': '\f299',
	'close': '\f29a',
	'chevron-left': '\f29b',
	'chevron-right': '\f29c',
	'expand-less': '\f29d',
	'expand-more': '\f29e',
	'fullscreen': '\f29f',
	'fullscreen-exit': '\f2a0',
	'menu': '\f2a1',
	'more-horiz': '\f2a2',
	'more-vert': '\f2a3',
	'refresh': '\f2a4',
	'unfold-less': '\f2a5',
	'unfold-more': '\f2a6',

    // Notification
	'adb': '\f2a7',
	'bluetooth-audio': '\f2a8',
	'disc-full': '\f2a9',
	'dnd-forwardslash': '\f2aa',
	'do-not-disturb': '\f2ab',
	'drive-eta': '\f2ac',
	'event-available': '\f2ad',
	'event-busy': '\f2ae',
	'event-note': '\f2af',
	'folder-special': '\f2b0',
	'mms': '\f2b1',
	'more': '\f2b2',
	'network-locked': '\f2b3',
	'phone-bluetooth-speaker': '\f2b4',
	'phone-forwarded': '\f2b5',
	'phone-in-talk': '\f2b6',
	'phone-locked': '\f2b7',
	'phone-missed': '\f2b8',
	'phone-paused': '\f2b9',
	'play-download': '\f2ba',
	'play-install': '\f2bb',
	'sd-card': '\f2bc',
	'sim-card-alert': '\f2bd',
	'sms': '\f2be',
	'sms-failed': '\f2bf',
	'sync': '\f2c0',
	'sync-disabled': '\f2c1',
	'sync-problem': '\f2c2',
	'system-update': '\f2c3',
	'tap-and-play': '\f2c4',
	'time-to-leave': '\f2c5',
	'vibration': '\f2c6',
	'voice-chat': '\f2c7',
	'vpn-lock': '\f2c8',

    // Social
	'cake': '\f2c9',
	'domain': '\f2ca',
	'location-city': '\f2cb',
	'mood': '\f2cc',
	'notifications-none': '\f2cd',
	'notifications': '\f2ce',
	'notifications-off': '\f2cf',
	'notifications-on': '\f2d0',
	'notifications-paused': '\f2d1',
	'pages': '\f2d2',
	'party-mode': '\f2d3',
	'group': '\f2d4',
	'group-add': '\f2d5',
	'people': '\f2d6',
	'people-outline': '\f2d7',
	'person': '\f2d8',
	'person-add': '\f2d9',
	'person-outline': '\f2da',
	'plus-one': '\f2db',
	'poll': '\f2dc',
	'public': '\f2dd',
	'school': '\f2de',
	'share': '\f2df',
	'whatshot': '\f2e0',

    // Toggle
	'check-box': '\f2e1',
	'check-box-outline-blank': '\f2e2',
	'radio-button-off': '\f2e3',
	'radio-button-on': '\f2e4',
	'star': '\f2e5',
	'star-half': '\f2e6',
	'star-outline': '\f2e7',
) !default;

// Imports
@import
	'_mixins',
	'_components',
	'_themes',
	'_exports';