// 
// Nav Components
// =================

%nav, %nav-vertical {
	%nav-header {
		padding: $nav-header-padding;
		margin: 0;
	}

	ul {
		list-style: none;
		margin-left: 0;
		width: 100%;
		padding: $nav-list-padding;

		li {
			@extend %nowrap;
			display: block;
			padding: $nav-list-item-padding;

			> a {
				@extend %valign-center-all;
				display: block;
				padding: $nav-anchor-padding;

				&, &:hover {
					text-decoration: none;
				}
			}

			ul {
				display: none;
			}

			&:hover {
				> ul { display: block; }
			}
		}
	}

	%nav-separator {
		border-bottom-width: $nav-separator-width;
		border-bottom-style: solid;
		margin: $nav-separator-margin;
	}
}

%nav-horizontal {
	@extend %nav;

	> ul {
		@extend %clearfix;
		height: 100%;
		margin-bottom: 0;

		> li {
			float: left;
			height: 100%;

			> a {
				height: 100%;
				// TODO: %align-middle; from layouts module
				@extend %valign-center-all;
			}

		}
	}

	%nav-horizontal-separator {
		// TODO: implement
	}

	%nav-horizontal-full {
		height: 100%;
	}
}

// Dropdown Components
%dropdown-container {
	@extend %nav-vertical;
	display: inline-block;
	overflow: visible;

	%dropdown {
		@include type-scale($dropdown-scale);
		min-width: $dropdown-min-width;
		position: absolute;
		z-index: $dropdown-z-index;
		padding: $dropdown-padding;
		text-align: $dropdown-text-align;

		&, & > ul { margin: 0;}

		@if $dropdown-radius {
			@include border-radius($dropdown-radius);
		}

		&%dropdown-below-left {
			@include position-absolute(below, left);
		}

		&%dropdown-below-right {
			@include position-absolute(below, right);
		}

		&%dropdown-above-left {
			@include position-absolute(above, left);
		}

		&%dropdown-above-right {
			@include position-absolute(above, right);
		}

		&%dropdown-top-left {
			@include position-absolute(top, left);
		}

		&%dropdown-top-right {
			@include position-absolute(top, right);
		}

		&%dropdown-bottom-left {
			@include position-absolute(bottom, left);
		}

		&%dropdown-bottom-right {
			@include position-absolute(bottom, right);
		}

		&%dropdown-bottom-push-left {
			@include position-absolute(bottom, $left: 100%);
		}

		&%dropdown-bottom-push-right {
			@include position-absolute(bottom, $right: 100%);
		}

		&%dropdown-top-push-left {
			@include position-absolute(top, $left: 100%);
		}

		&%dropdown-top-push-right {
			@include position-absolute(top, $right: 100%);
		}
	}

	%dropdown-separator {
		border-bottom-width: $nav-separator-width;
		border-bottom-style: solid;
		margin: $nav-separator-margin;
	}
}

// Tab Components
%tabs, %tabs-horizontal {
	@extend %nav-horizontal;
}



