// 
// Nav Components
// =================

%nav {
	%nav-menu {
		list-style: none;
		margin-left: 0;
		width: 100%;
		padding: $nav-menu-padding;
	}

	%nav-menu-item {
		@extend %nowrap;
		display: block;
		padding: $nav-menu-item-padding;
	}

	%nav-menu-item-active {
		display: block; // TODO: remove
	}

	%nav-menu-item-link {
		@extend %valign-center-all;
		display: block;
		padding: $nav-menu-item-link-padding;

		&, &:hover {
			text-decoration: none;
		}
	}

	%nav-submenu {
		display: none;
	}

	%nav-header {
		padding: $nav-header-padding;
		margin: 0;
	}
	
	%nav-separator {
		border-bottom-width: $nav-separator-width;
		border-bottom-style: solid;
		margin: $nav-separator-margin;
	}
}



%nav-horizontal {
	@extend %clearfix;

	%nav-menu {
		@extend %clearfix;
		height: 100%;
		margin-bottom: 0;
	}

	%nav-menu-item {
		float: left;
		height: 100%;
	}

	%nav-menu-item-link {
		height: 100%;
		// TODO: %align-middle; from layouts module
		@extend %valign-center-all;
	}

	&-right {
		%nav-menu-item {
			float: right;
		}
	}

}

%nav-horizontal-separator {
	// TODO: implement
}

%nav-horizontal-full {
	height: 100%;
}

// Dropdown Components
// -------------------
%dropdown-container {
	// display: inline-block;
	overflow: visible;
}

%dropdown {
	@include type-scale($dropdown-scale);
	min-width: $dropdown-min-width;
	overflow-x: hidden;
	position: absolute;
	z-index: $dropdown-z-index;
	padding: $dropdown-padding;
	text-align: $dropdown-text-align;
	margin: 0;

	%dropdown-menu {
		list-style: none;
		margin: 0;
		width: 100%;
		padding: $dropdown-menu-padding;
	}

	%dropdown-menu-item {
		@extend %nowrap;
		display: block;
		padding: $dropdown-menu-item-padding;
	}

	%dropdown-menu-item-link {
		display: block;
		text-decoration: $dropdown-menu-item-link-decoration;
		padding: $dropdown-menu-item-link-padding;
	}

	@if $dropdown-radius {
		@include border-radius($dropdown-radius);
	}

	&%dropdown-below-left {
		@include position-absolute(below, left);
	}

	&%dropdown-below-right {
		@include position-absolute(below, right);
	}

	&%dropdown-above-left {
		@include position-absolute(above, left);
	}

	&%dropdown-above-right {
		@include position-absolute(above, right);
	}

	&%dropdown-top-left {
		@include position-absolute(top, left);
	}

	&%dropdown-top-right {
		@include position-absolute(top, right);
	}

	&%dropdown-bottom-left {
		@include position-absolute(bottom, left);
	}

	&%dropdown-bottom-right {
		@include position-absolute(bottom, right);
	}

	&%dropdown-bottom-push-right {
		@include position-absolute(bottom, $left: 100%);
	}

	&%dropdown-bottom-push-left {
		@include position-absolute(bottom, $right: 100%);
	}

	&%dropdown-top-push-right {
		@include position-absolute(top, $left: 100%);
	}

	&%dropdown-top-push-left {
		@include position-absolute(top, $right: 100%);
	}
}

%dropdown-separator {
	border-bottom-width: $nav-separator-width;
	border-bottom-style: solid;
	margin: $nav-separator-margin;
}
