// 
// Nav Module
// =============

// Navigation Settings
$nav-style: default !default;
$nav-theme: default !default;
$nav-menu-padding: 0 !default;
$nav-menu-item-padding: 0 !default;
$nav-menu-item-content-padding: 0.5rem !default;
$nav-menu-item-link-padding: $nav-menu-item-content-padding !default;
$nav-header-padding: $nav-menu-item-link-padding !default;
$nav-separator-color: $color-gray-light !default;
$nav-separator-width: 1px !default;
$nav-separator-margin: 0.25rem 0 !default;

// Navigation Theme
$nav-bgcolor-light: $color-light !default;
$nav-bgcolor-dark: $color-primary !default;
// $nav-bgcolor: theme-mode($nav-bgcolor-light, $nav-bgcolor-dark) !default;
$nav-bgcolor: transparent !default;
$nav-color-light: $anchor-color-dark !default;
$nav-color-dark: $anchor-color-light !default;
// $nav-color: theme-mode($nav-color-light, $nav-color-dark) !default;
$nav-color: false !default;

// Dropdown Settings
$dropdown-style: default !default;
$dropdown-theme: default !default;
$dropdown-border-color: $color-gray-light !default;
$dropdown-border-width: $form-border-width !default;
$dropdown-menu-padding: $nav-menu-padding !default;
$dropdown-menu-item-padding: $nav-menu-item-padding !default;
$dropdown-menu-item-link-padding: 0.25rem 0.5rem !default;
$dropdown-menu-item-link-decoration: none !default;
$dropdown-header-padding: $dropdown-menu-item-link-padding !default;
$dropdown-separator-color: $nav-separator-color !default;
$dropdown-separator-width: $nav-separator-width !default;
$dropdown-separator-margin: $nav-separator-margin !default;
$dropdown-scale: -1 !default;
$dropdown-z-index: 999 !default;
$dropdown-radius: $form-radius !default;
$dropdown-min-width: 10rem !default;
$dropdown-text-align: left !default;
$dropdown-clip: true !default;
$dropdown-margin: 0.25rem !default;

// Dropdown Theme
$dropdown-bgcolor-light: $color-light !default;
$dropdown-bgcolor-dark: $color-primary !default;
$dropdown-bgcolor: theme-mode($dropdown-bgcolor-light, $dropdown-bgcolor-dark) !default;
$dropdown-color-light: $anchor-color-dark !default;
$dropdown-color-dark: $anchor-color-light !default;
$dropdown-color: theme-mode($dropdown-color-light, $dropdown-color-dark) !default;

// Imports
@import
	'_mixins',
	'_components',
	'_themes',
	'_classes';