// 
// Nav Themes and Styles
// ========================

// Nav Theme
// ---------

// Default Nav Theme
@mixin theme-nav-default(
    $bgcolor: theme-mode($nav-bgcolor-light, $nav-bgcolor-dark),
    $color: theme-mode($nav-color-light, $nav-color-dark),
    $item-bgcolor: false,
    $item-bgcolor-hover: $bgcolor,
    $item-color: false,
    $item-color-hover: $color
) { 
    %nav-menu-item {
        @if $item-color {
            &, %nav-menu-item-link { color: $item-color; }
        }

        @if $item-bgcolor {
            background-color: $item-bgcolor;
        }
    }

    %nav-menu-item-active {
        &, %nav-menu-item-link { color: $item-color-hover; }

        background-color: $item-bgcolor-hover;
    }

    %nav-separator {
        border-color: white;
    }
}

%theme-nav-default {
    %nav-menu-item, %nav-menu-item-link {
        @include transition(('background-color', 'color'));
    }

    @include theme-nav-default();

    &-light { @include theme-nav-default($nav-bgcolor-light, $nav-color-light); }
    &-dark { @include theme-nav-default($nav-bgcolor-dark, $nav-color-dark); }
}

// Underline Nav Theme
$x-nav-underline-border-width: 3px !default;
$x-nav-underline-color-inactive: $color-gray-light;

@mixin theme-nav-underline(
    $color: $color-primary,
    $color-inactive: $x-nav-underline-color-inactive
) {
    &, &-vertical {
        %nav-menu-item {
            border-left-width: $x-nav-underline-border-width;
            border-left-color: $color-inactive;
            border-left-style: solid;
        }

        %nav-separator {
            border-bottom-width: $nav-separator-width;
            border-bottom-style: solid;
            border-bottom-color: $nav-separator-color;
        }

        %nav-menu-item-active {
            border-left-color: $color;
        }

        &-right {
            %nav-menu-item {            
                border-left: none;
                border-right-width: $x-nav-underline-border-width;
                border-right-color: $color-inactive;
                border-right-style: solid;
            }

            %nav-separator {
                border-right-color: $color;
            }
        }
    }

    &-horizontal {
        %nav-menu-item {
            border-left: none;
            border-right: none;
            border-bottom-width: $x-nav-underline-border-width;
            border-bottom-color: $color-inactive;
            border-bottom-style: solid;
        }

        %nav-menu-item-active {
            border-bottom-color: $color;
        }
    }
}

%theme-nav-underline {
    @include theme-nav-underline();

    &-light { @include theme-nav-underline($color-light); }
    &-dark { @include theme-nav-underline($color-secondary); }
}

// Dropdown Theme
// --------------
@mixin dropdown-style(
    $style: $dropdown-style,
    $theme: $dropdown-theme
) {
    @extend %ext-dropdown-#{$style} !optional;
    @extend %theme-dropdown-#{$theme} !optional;
}

// Default Dropdown Theme
@mixin theme-dropdown-default(
    $color: $color-primary,
    $bgcolor: $dropdown-bgcolor,
    $type-color: foreground-color($bgcolor),
    $border-color: $dropdown-border-color,
    $separator-color: $dropdown-separator-color
) {
    background-color: $bgcolor;
    border-style: solid;
    border-color: $border-color;
    border-width: $dropdown-border-width;


    li {
        border: none;

        &, & > a { color: $type-color; }

        &:hover {
            // @include foreground-color($color, $component: 'anchor');

            > a { background-color: $color; }
        }

        &.hr, &.separator {
            border-bottom-width: $dropdown-separator-width;
            border-bottom-style: solid;
            border-bottom-color: $separator-color;
        }
    }
}

%ext-dropdown-default {
    // @extend %dropdown-container;
}

%theme-dropdown-default {
    @include theme-dropdown-default();

    &.primary { @include theme-dropdown-default($color-primary); }
    &.secondary { @include theme-dropdown-default($color-secondary); }
    &.light { @include theme-dropdown-default($color-light); }
    &.dark { @include theme-dropdown-default($color-dark); }
}