// 
// Shapes Mixins and Functions
// ===========================

@mixin shape-triangle(
    $direction: up,
    $width: 1rem,
    $height: $width * 2,
    $color: $color-primary
) {
    @if $direction == up {
        border-bottom: $width solid $color;
        border-left: ($height / 2) solid transparent;
        border-right: ($height / 2) solid transparent;
    } @else if $direction == down {
        border-top: $width solid $color;
        border-left: ($height / 2) solid transparent;
        border-right: ($height / 2) solid transparent;
    } @else if $direction == right {
        border-left: $width solid $color;
        border-top: ($height / 2) solid transparent;
        border-bottom: ($height / 2) solid transparent;
    } @else if $direction == left {
        border-right: $width solid $color;
        border-top: ($height / 2) solid transparent;
        border-bottom: ($height / 2) solid transparent;
    }
}

@mixin shape-circle($diameter: false, $display: block) {
    @if $diameter {    
        width: $diameter;
        height: $diameter;
    }

    @if $display {
        display: $display;
    }

    @include border-radius(50%);
}

@mixin shape-square($width, $display: block, $important: true) {
    @include shape-rectangle($width, $width, $display, $important);
}

@mixin shape-rectangle($width: auto, $height: auto, $display: block, $important: true) {
    $important: if($important, '!important', '');
    
    width: $width #{$important};
    height: $height #{$important};
    display: $display;
}