

@mixin theme-nav-transparent($color) {
    > ul > li > a {
        background-color: transparent;
        color: inherit;

        &:hover {
            background-color: $color;
            color: foregroundColor($color);
        }
    }
}

%theme-nav-transparent {
    @include transition-property(background-color, color);
    @include transition-duration(0.3s);

    @include theme-nav-transparent($color-primary);

    &.primary { @include theme-nav-transparent($color-primary); }
    &.secondary { @include theme-nav-transparent($color-secondary); }
    &.light { @include theme-nav-transparent($color-light); }
    &.dark { @include theme-nav-transparent($color-dark); }
}