// 
// Layout Components
// =================

%position-absolute { position: absolute !important; }

@each $position-horizontal in $positions-horizontal {
    @each $position-vertical in $positions-vertical {
        %position-#{$position-horizontal}-#{$position-vertical} {
            @include position-absolute($position-horizontal, $position-vertical);
        }
    }
}

@each $position in $positions-vertical {
    %position-#{$position} { @include position-absolute($vertical: $position); }
}

@each $position in $positions-horizontal {
    %position-#{$position} { @include position-absolute($horizontal: $position); }
}

@each $overlap-vertical in (top, bottom) {
    @each $overlap-horizontal in (left, right) {
        %overlap-#{$overlap-vertical}-#{$overlap-horizontal} {
            @include overlap($overlap-vertical, $overlap-horizontal);
        }
    }
}

@each $overlap in (top, bottom) {
    %overlap-#{$overlap} { @include overlap(false, $overlap); }
}

@each $overlap in (left, right) {
    %overlap-#{$overlap} { @include overlap($overlap, false); }
}

%content-middle {
    &:before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        width: 1em;
        margin-left: -1em;
    }

    > * {
        display: inline-block;
        vertical-align: middle;
    }

    > %display-table {
        @extend %display-table-inline;
    }
}

@include define-component('ratio', (
    padding-left: 0,
    padding-right: 0,
    padding-bottom: 0,
)) {
    > * {
        @extend %layer;
    }

    @each $ratio-key, $ratio-value in $ratios {
        @include define-variant($ratio-key, (
            padding-top: percentage(fraction-inverse($ratio-value)),
        ));
    }
}

%bar {
    display: table-row;

    &-item {
        display: table-cell;
        vertical-align: middle;

        &-auto {
            width: 100%;
        }
    }
}

.bar {
    @extend %bar;

    > * { @extend %bar-item; }
    > .auto { @extend %bar-item-auto; }
}