// 
// Layout Module
// =============

// Layout Settings
$positions-vertical: (
    top, 
    bottom, 
    below, 
    above, 
    middle, 
    aboveTop, 
    midTop, 
    belowTop, 
    aboveMiddle, 
    belowMiddle, 
    aboveBottom, 
    midBottom,
    belowBottom
) !default;
$positions-horizontal: (
    left,
    right,
    before,
    after,
    center,
    beforeLeft,
    centerLeft,
    afterLeft,
    beforeRight,
    centerRight,
    afterRight,
    beforeCenter,
    afterCenter
) !default;

$ratios: (
    '1-1': 1,
    '2-1': (2, 1),
    '1-2': (1, 2),
    '4-3': (4, 3),
    '16-9': (16, 9),
    'golden': 1.618
);

// Imports
@import
	'_mixins',
	'_components',
	'_classes';