// 
// Labels Components
// =================

%label {
    @include type-scale($label-scale);
    white-space: nowrap;
    overflow: hidden;
    text-decoration: $label-text-decoration;
    text-transform: $label-text-transform;

    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    margin: $label-margin;

    padding-top: $label-padding-vertical;
    padding-bottom: $label-padding-vertical;
    padding-left: $label-padding-horizontal;
    padding-right: $label-padding-horizontal;

    @if $label-radius {
        @include border-radius($label-radius);
    }

    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
}

%badge {
    @extend %label;
    @include type-scale($badge-scale);
    text-transform: $badge-text-transform;
    text-decoration: $badge-text-decoration;

    z-index: $badge-z-index;

    padding-top: $badge-padding-vertical;
    padding-bottom: $badge-padding-vertical;
    padding-left: $badge-padding-horizontal;
    padding-right: $badge-padding-horizontal;
    
    @if $badge-radius {
        @include border-radius($badge-radius);
    }

    @if $badge-collapse {
        &:empty { display: none; }
    }

    &%badge-top-left {
        margin: 0;
        @include position-absolute(top, left);
        @include translate(-50%, -50%);
    }

    &%badge-top-right {
        margin: 0;
        @include position-absolute(top, right);
        @include translate(50%, -50%);
    }

    &%badge-bottom-left {
        margin: 0;
        @include position-absolute(bottom, left);
        @include translate(-50%, 50%);
    }

    &%badge-bottom-right {
        margin: 0;
        @include position-absolute(bottom, right);
        @include translate(50%, 50%);
    }
}

%tooltip {
    &:before {
        @include type-scale($tooltip-scale);
        white-space: nowrap;
        overflow: hidden;
        text-decoration: $tooltip-text-decoration;
        text-transform: $tooltip-text-transform;

        display: inline-block;
        line-height: 1;
        vertical-align: middle;

        padding: $tooltip-padding-vertical $tooltip-padding-horizontal;

        @if $tooltip-radius {
            @include border-radius($tooltip-radius);
        }

        content: attr(title);
    }

    &:after {
        content: '';
    }
}

// Tooltip Positions
%tooltip,
%tooltip-above-left,
%tooltip-above-right,
%tooltip-below-left,
%tooltip-below-right {
    &:before { margin: $tooltip-margin-vertical 0; }
}

%tooltip-above-left,
%tooltip-above-right,
%tooltip-above-center {
    &:after { @include shape-triangle(down, $tooltip-arrow-width / 2); }
}

%tooltip-below-left,
%tooltip-below-right,
%tooltip-below-center {
    &:after { @include shape-triangle(up, $tooltip-arrow-width / 2); }
}

%tooltip-above-left {
    &:before { @include position-absolute(above, left); }
    &:after { @include position-absolute(-$tooltip-margin-vertical, $left: $tooltip-arrow-indent); }
}

%tooltip-above-right {
    &:before { @include position-absolute(above, right); }
    &:after { @include position-absolute(-$tooltip-margin-vertical, $right: $tooltip-arrow-indent); }
}

%tooltip-below-left {
    &:before { @include position-absolute(below, left); }
    &:after { @include position-absolute($bottom: -$tooltip-margin-vertical, $left: $tooltip-arrow-indent); }
}

%tooltip-below-right {
    &:before { @include position-absolute(below, right); }
    &:after { @include position-absolute($bottom: -$tooltip-margin-vertical, $right: $tooltip-arrow-indent); }
}

// Popovers

%popover {
    & {
        @extend %tooltip:before;
        overflow: visible;
    }

    &:after { @extend %tooltip:after; }
}

// Popover Positions
%popover-above-left {
    & { @extend %tooltip-above-left:before; }
    &:after {
        @extend %tooltip-above-left:after;
        @include position-absolute(below, $left: $popover-arrow-indent);
    }
}

%popover-above-right {
    & { @extend %tooltip-above-right:before; }
    &:after {
        @extend %tooltip-above-right:after;
        @include position-absolute(below, $right: $popover-arrow-indent);
    }
}

%popover-below-left {
    & { @extend %tooltip-below-left:before; }
    &:after {
        @extend %tooltip-below-left:after;
        @include position-absolute(above, $left: $popover-arrow-indent);
    }
}

%popover-below-left {
    & { @extend %tooltip-below-left:before; }
    &:after {
        @extend %tooltip-below-left:after;
        @include position-absolute(above, $left: $popover-arrow-indent);
    }
}



