// 
// Labels Components
// =================

%label {
    @include type-scale($label-scale);

    white-space: nowrap;
    overflow: hidden;
    text-decoration: $label-text-decoration;
    text-transform: $label-text-transform;

    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    margin: $label-margin;

    padding-top: $label-padding-vertical;
    padding-bottom: $label-padding-vertical;
    padding-left: $label-padding-horizontal;
    padding-right: $label-padding-horizontal;

    @if $label-radius {
        @include border-radius($label-radius);
    }

    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }

    > * {
        display: inline-block;
        vertical-align: middle;
    }
}

%label-block {
    margin: 0;
    display: block;
}

%badge {
    @extend %label;
    @include type-scale($badge-scale);
    text-transform: $badge-text-transform;
    text-decoration: $badge-text-decoration;

    z-index: $badge-z-index;

    padding-top: $badge-padding-vertical;
    padding-bottom: $badge-padding-vertical;
    padding-left: $badge-padding-horizontal;
    padding-right: $badge-padding-horizontal;
    
    @if $badge-radius {
        @include border-radius($badge-radius);
    }

    @if $badge-collapse {
        &:empty { display: none; }
    }

    &%badge-top-left {
        margin: 0;
        @include position-absolute(left, top);
        @include translate(-50%, -50%);
    }

    &%badge-top-right {
        margin: 0;
        @include position-absolute(right, top);
        @include translate(50%, -50%);
    }

    &%badge-bottom-left {
        margin: 0;
        @include position-absolute(left, bottom);
        @include translate(-50%, 50%);
    }

    &%badge-bottom-right {
        margin: 0;
        @include position-absolute(right, bottom);
        @include translate(50%, 50%);
    }
}

%tooltip {
    @include activate($tooltip-animation, $active-selector: ':hover:before, &:hover:after', $inactive-selector: ':before, &:after');

    &-content, &-arrow {
        pointer-events: none;
    }

    &-content {
        @include type-scale($tooltip-scale);
        content: attr(title);
        white-space: nowrap;
        overflow: hidden;
        text-decoration: $tooltip-text-decoration;
        text-transform: $tooltip-text-transform;

        display: inline-block;
        line-height: 1;
        vertical-align: middle;

        padding: $tooltip-padding-vertical $tooltip-padding-horizontal;

        @if $tooltip-radius {
            @include border-radius($tooltip-radius);
        }
    }

    &-arrow {
        content: '';
    }
}

// Tooltip Positions
%tooltip-above-left,
%tooltip-above-right,
%tooltip-above-center,
%tooltip-below-left,
%tooltip-below-right,
%tooltip-below-center {
    &:before { margin: $tooltip-margin-vertical 0; }
}

%tooltip-left,
%tooltip-right {
    &:before { margin: 0 $tooltip-margin-horizontal; }
}

%tooltip-above-left,
%tooltip-above-right,
%tooltip-above-center {
    &:after { @include shape-triangle(down, $tooltip-arrow-width / 2); }
}

%tooltip-below-left,
%tooltip-below-right,
%tooltip-below-center {
    &:after { @include shape-triangle(up, $tooltip-arrow-width / 2); }
}

%tooltip-left {
    &:after { @include shape-triangle(right, $tooltip-arrow-width / 2); }
}

%tooltip-right {
    &:after { @include shape-triangle(left, $tooltip-arrow-width / 2); }
}

%tooltip-above-left {
    &:before { @include position-absolute(left, above); }
    &:after { @include position-absolute($left: $tooltip-arrow-indent, $vertical: -$tooltip-margin-vertical); }
}

%tooltip-above-right {
    &:before { @include position-absolute(right, above); }
    &:after { @include position-absolute($right: $tooltip-arrow-indent, $vertical: -$tooltip-margin-vertical); }
}

%tooltip-above-center {
    &:before { @include position-absolute(center, above); }
    &:after { @include position-absolute(center, -$tooltip-margin-vertical); }
}

%tooltip-below-left {
    &:before { @include position-absolute(left, below); }
    &:after { @include position-absolute($left: $tooltip-arrow-indent, $bottom: -$tooltip-margin-vertical); }
}

%tooltip-below-right {
    &:before { @include position-absolute(right, below); }
    &:after { @include position-absolute($right: $tooltip-arrow-indent, $bottom: -$tooltip-margin-vertical); }
}

%tooltip-below-center {
    &:before { @include position-absolute(center, below); }
    &:after { @include position-absolute($horizontal: center, $bottom: -$tooltip-margin-vertical); }
}

%tooltip-left {
    &:before { @include position-absolute($right: 100%, $vertical: center); }
    &:after { @include position-absolute($right: 100%, $vertical: center); }
}

%tooltip-right {
    &:before { @include position-absolute($left: 100%, $vertical: center); }
    &:after { @include position-absolute($left: 100%, $vertical: center); }
}

// Popovers

%popover {
    & {
        @extend %tooltip:before;
        overflow: visible;
    }

    &:after { @extend %tooltip:after; }
}

// Popover Positions
%popover-above-left {
    & { @extend %tooltip-above-left:before; }

    &:after {
        @extend %tooltip-above-left:after;
        @include position-absolute($left: $popover-arrow-indent, $vertical: below);
    }
}

%popover-above-right {
    & { @extend %tooltip-above-right:before; }

    &:after {
        @extend %tooltip-above-right:after;
        @include position-absolute($right: $popover-arrow-indent, $vertical: below);
    }
}

%popover-below-left {
    & { @extend %tooltip-below-left:before; }

    &:after {
        @extend %tooltip-below-left:after;
        @include position-absolute($left: $popover-arrow-indent, $vertical: above);
    }
}

%popover-below-right {
    & { @extend %tooltip-below-right:before; }

    &:after {
        @extend %tooltip-below-right:after;
        @include position-absolute($right: $popover-arrow-indent, $vertical: above);
    }
}


