// 
// Labels Module
// =============

// Label Settings
$label-style: default !default;
$label-theme: default !default;
$label-scale: -2 !default;
$label-text-transform: none !default;
$label-text-decoration: none !default;
$label-padding-vertical: 0.25rem !default;
$label-padding-horizontal: 0.5rem !default;
$label-radius: $form-radius !default;
$label-margin: 0 0.5rem !default;

// Badge Settings
$badge-style: default !default;
$badge-theme: default !default;
$badge-scale: -2 !default;
$badge-text-transform: none !default;
$badge-text-decoration: none !default;
$badge-padding-vertical: 0.25rem !default;
$badge-padding-horizontal: 0.5rem !default;
$badge-radius: 1rem !default;
$badge-margin: 0 0.5rem !default;
$badge-collapse: true !default;
$badge-z-index: 2 !default;

// Tooltip Settings
$tooltip-style: default !default;
$tooltip-theme: default !default;
$tooltip-animation: 'fade' !default;
$tooltip-scale: $label-scale !default;
$tooltip-text-transform: none !default;
$tooltip-text-decoration: none !default;
$tooltip-padding-vertical: 0.5rem !default;
$tooltip-padding-horizontal: 1rem !default;
$tooltip-radius: $label-radius !default;
$tooltip-arrow-width: 1rem !default;
$tooltip-arrow-indent: 0.5rem !default;
$tooltip-margin-vertical: 0.5rem !default;
$tooltip-margin-horizontal: $tooltip-margin-vertical !default;

// Popover Settings
$popover-style: default !default;
$popover-theme: default !default;
$popover-scale: $label-scale !default;
$popover-text-transform: none !default;
$popover-text-decoration: none !default;
$popover-padding-vertical: 0.5rem !default;
$popover-padding-horizontal: 1rem !default;
$popover-radius: $label-radius !default;
$popover-arrow-width: 1rem !default;
$popover-arrow-indent: 0.5rem !default;
$popover-margin-vertical: 0.5rem !default;
$popover-margin-horizontal: $popover-margin-vertical !default;

// Imports
@import
	'_mixins',
	'_components',
	'_themes',
	'_classes';