// 
// Labels Themes and Styles
// ========================

// Label Theme
// -----------
@mixin theme-label-default(
    $bgcolor: $label-bgcolor,
    $component: 'label'
) {
    background-color: $bgcolor;

    @if ($bgcolor == transparent) {
        // Do nothing
    } @else {
        color: foregroundColor($bgcolor);
    }
}

%theme-label-default {
    @include theme-label-default();

    &-light { @include theme-label-default($label-bgcolor-light); }
    &-dark { @include theme-label-default($label-bgcolor-dark); }

    &-success { @include theme-label-default($color-success); }
    &-warning { @include theme-label-default($color-warning); }
    &-failure { @include theme-label-default($color-failure); }

    &-transparent { @include theme-label-default(transparent); }
}

@mixin theme-badge-default($args...) {
    @include theme-label-default($args...);
}

%theme-badge-default {
    @include theme-badge-default();

    &-primary { @include theme-badge-default($color-primary); }
    &-secondary { @include theme-badge-default($color-secondary); }
    &-light { @include theme-badge-default($badge-bgcolor-light); }
    &-dark { @include theme-badge-default($badge-bgcolor-dark); }

    &-success { @include theme-badge-default($color-success); }
    &-warning { @include theme-badge-default($color-warning); }
    &-failure { @include theme-badge-default($color-failure); }

    &-transparent { @include theme-badge-default(transparent); }
}

// Tooltip Theme
// -------------
@mixin theme-tooltip-default(
    $color: $color-primary,
    $axis: vertical
) {
    &%tooltip-content {
        @include theme-label-default($color);
    }

    &%tooltip-arrow {    
        @if $axis == vertical {
            border-top-color: $color;
            border-bottom-color: $color;
        } @else if $axis == horizontal {
            border-left-color: $color;
            border-right-color: $color;
        }
    }
}

%theme-tooltip-default {
    @include theme-tooltip-default();

    &-primary { @include theme-tooltip-default($color-primary); }
    &-secondary { @include theme-tooltip-default($color-secondary); }
    &-light { @include theme-tooltip-default($color-light); }
    &-dark { @include theme-tooltip-default($color-dark); }

    &-success { @include theme-tooltip-default($color-success); }
    &-warning { @include theme-tooltip-default($color-warning); }
    &-failure { @include theme-tooltip-default($color-failure); }
}

// Popover Theme
// -------------
@mixin theme-popover-default(
    $color: $color-primary
) {
    @include theme-label-default($color);

    &, &[class*="popover-above-"], &[class*="popover-below-"] {
        &:after { border-top-color: $color; border-bottom-color: $color; }
    }
}

%theme-popover-default {
    %popover {
        @include theme-popover-default();

        &.primary { @include theme-popover-default($color-primary); }
        &.secondary { @include theme-popover-default($color-secondary); }
        &.light { @include theme-popover-default($color-light); }
        &.dark { @include theme-popover-default($color-dark); }

        &.success { @include theme-popover-default($color-success); }
        &.warning { @include theme-popover-default($color-warning); }
        &.failure { @include theme-popover-default($color-failure); }
    }
}

@include add-theme('popover', $popover-theme);
