// 
// Labels Themes and Styles
// ========================

// Label Theme
// -----------
@mixin label-style(
	$style: $label-style,
	$theme: $label-theme
) {
	@extend %ext-label-#{$style} !optional;
	@extend %theme-label-#{$theme} !optional;
}

@mixin theme-label-default(
    $color: $color-primary
) {
    background-color: $color;
    color: foregroundColor($color);
}

%theme-label-default {
    %label:not(.transparent) { @include theme-label-default(); }

	%label {
        &.primary { @include theme-label-default($color-primary); }
        &.secondary { @include theme-label-default($color-secondary); }
        &.light { @include theme-label-default($color-light); }
        &.dark { @include theme-label-default($color-dark); }

        &.success { @include theme-label-default($color-success); }
        &.warning { @include theme-label-default($color-warning); }
        &.failure { @include theme-label-default($color-failure); }

        &.transparent { @include theme-label-default(transparent); }
	}
}

@include add-theme('label', $label-theme);

// Badge Theme
// -----------
@mixin badge-style(
    $style: $badge-style,
    $theme: $badge-theme
) {
    @extend %ext-badge-#{$style} !optional;
    @extend %theme-badge-#{$theme} !optional;
}

@mixin theme-badge-default(
    $color: $color-primary
) {
    background-color: $color;
    color: foregroundColor($color);
}

%ext-badge-default {
    // No changes
}

%theme-badge-default {
    %badge:not(.transparent) { @include theme-badge-default(); }

    %badge {
        &.primary { @include theme-badge-default($color-primary); }
        &.secondary { @include theme-badge-default($color-secondary); }
        &.light { @include theme-badge-default($color-light); }
        &.dark { @include theme-badge-default($color-dark); }

        &.success { @include theme-badge-default($color-success); }
        &.warning { @include theme-badge-default($color-warning); }
        &.failure { @include theme-badge-default($color-failure); }

        &.transparent { @include theme-badge-default(transparent); }
    }
}

@include add-theme('badge', $badge-theme);

// Tooltip Theme
// -------------
@mixin theme-tooltip-default(
    $color: $color-primary
) {
    &:before { @include theme-label-default($color); }

    #{prefixed-class('tooltip-above')}, #{prefixed-class('tooltip-below')} {
        &:after { border-top-color: $color; border-bottom-color: $color; }
    }

    #{prefixed-class('tooltip-left')}, #{prefixed-class('tooltip-right')} {
        &:after {
            border-left-color: $color;
            border-right-color: $color;
        }
    }
}

%theme-tooltip-default {
    %tooltip {
        @include theme-tooltip-default();

        &.primary { @include theme-tooltip-default($color-primary); }
        &.secondary { @include theme-tooltip-default($color-secondary); }
        &.light { @include theme-tooltip-default($color-light); }
        &.dark { @include theme-tooltip-default($color-dark); }

        &.success { @include theme-tooltip-default($color-success); }
        &.warning { @include theme-tooltip-default($color-warning); }
        &.failure { @include theme-tooltip-default($color-failure); }
    }
}

@include add-theme('tooltip', $tooltip-theme);

// Popover Theme
// -------------
@mixin theme-popover-default(
    $color: $color-primary
) {
    @include theme-label-default($color);

    &, &[class*="popover-above-"], &[class*="popover-below-"] {
        &:after { border-top-color: $color; border-bottom-color: $color; }
    }
}

%theme-popover-default {
    %popover {
        @include theme-popover-default();

        &.primary { @include theme-popover-default($color-primary); }
        &.secondary { @include theme-popover-default($color-secondary); }
        &.light { @include theme-popover-default($color-light); }
        &.dark { @include theme-popover-default($color-dark); }

        &.success { @include theme-popover-default($color-success); }
        &.warning { @include theme-popover-default($color-warning); }
        &.failure { @include theme-popover-default($color-failure); }
    }
}

@include add-theme('popover', $popover-theme);
