// 
// Forms Components
// ================

// Form Labels
// -----------
@include define-component('label', (
	type-scale: $form-label-scale,
	display: $form-label-display,
	margin-bottom: $form-label-margin-bottom,
)) {
	@include define-variant('inline', (
		display: inline-block,
		padding: $form-label-padding,
	));

	@include define-relationship('radio', $relationship: 'adjacent') {
		visibility: hidden;
	}

	> * {
		vertical-align: middle;
	}
}
