// 
// Forms Components
// ================

%form-transition {
	@include transition('all');
}

// Inputs
// ------
%input {
	@include transition('all');
	@include type-scale($form-input-scale);
	display: block;
	width: 100%;
	padding: $form-input-padding;
	background-image: none;
	border-width: $form-input-border-width;
	border-style: solid;

	@if $form-radius {
		@include border-radius($form-radius);
	}
}

%input-small {
	@include type-scale($form-input-scale - 1);
}

%input-large {
	@include type-scale($form-input-scale + 1);
}

%input-inline {
	@extend %inline-block;

	width: auto;
}

%input-implicit {
	padding: 0;
	background: transparent;
	border-width: 0;
}

%textarea {
	@extend %input;

	height: auto;
}

%input-search {
	-webkit-appearance: none;
}

%select {
	@include transition('all');
	@include type-scale($form-input-scale);
	display: block;
	width: 100%;

	-webkit-appearance: none;
	padding: 0.5rem;
	border-width: $form-input-border-width;
	border-style: solid;
	z-index: 2;
	width: 100%;
}

%radio {
	margin-right: $form-radio-margin-right;
}

%checkbox {
	margin-right: $form-checkbox-margin-right;
}

// Form Labels
// -----------
%form-label {
	@include type-scale($form-label-scale);
	display: $form-label-display;
	margin-bottom: $form-label-margin-bottom;
}

%form-label-inline {
	display: inline-block;
	padding: $form-label-padding;
}
