// 
// Forms Module
// ============

// Shared Form Settings
$form-style: default !default;
$form-scale: -1 !default;
$form-border-width: 1px !default;
$form-radius: 2px !default;
$form-padding: 0.5rem !default;
$form-border-color: $color-gray-light !default;
$form-border-color-focus: lighten($color-primary, 10%) !default;

// Label Settings
$form-label-style: default !default;
$form-label-theme: default !default;
$form-label-display: block !default; // block or inline
$form-label-padding: $form-padding !default;
$form-label-scale: $form-scale !default;
$form-label-border-width: $form-border-width !default;
$form-label-margin-bottom: 0.25rem !default;

// Label Theme Settings
$form-label-color-light: $color-lighten !default;
$form-label-color-dark: $color-darken !default;
$form-label-color: theme-mode($form-label-color-light, $form-label-color-dark) !default;
$form-label-font-weight: bold !default;

// Imports
@import
	'_mixins',
	'_components',
	'_themes',
	'_exports';