//
// Forms Themes and Styles
// =======================

// Input Theme
@mixin input-style(
	$style: $form-input-style,
	$theme: $form-input-theme
) 
{
	@extend %ext-input-#{$style} !optional;
	@extend %theme-input-#{$theme} !optional;
}

%theme-input-default {
	&, &%light {
		@extend %form-transition;
		border-color: $color-gray-light;

		&:focus { 
			border-color: $color-primary;
		}
	}

	&%dark {

	}
}