// ALERT USAGE:
// .my-general-alert {
//   @extend .alert;
// }
// 
// .my-specific-alert {
//   @extend .alert;
//   @include alert($color, $text-color);
// }

%alert-layout {
    display: block;
    width: 100%;
    padding: $alert-padding;
    border: $alert-border;
    margin-bottom: $alert-margin-bottom;
    
    @include typeScale($alert-type-scale);
}

%ext-alert-normal {
    @extend %alert-layout;

    @include extAlertColors();

    &.success { @include extAlertColors($color-success); }
    &.warning { @include extAlertColors($color-warning); }
    &.failure { @include extAlertColors($color-failure); }
}

@mixin alert($style: normal) {
    @extend %ext-alert-#{$style};
}

.alert {
    @include alert();
}
