// ALERT USAGE:
// .my-general-alert {
//   @extend .alert;
// }
// 
// .my-specific-alert {
//   @extend .alert;
//   @include alert($color, $text-color);
// }


@mixin alert($color: $color-primary, $text-color: $alert-color-light) {
    $border-color: darken($color, 15%);

    @if $text-color == $alert-color-light {
        color: foregroundColor($color);
    } @else {
        color: $text-color;
    }

    background-color: $color;
    border-color: $border-color;
    color: $text-color;
}

.alert {
    display: block;
    width: 100%;
    padding: $alert-padding;
    border: $alert-border;
    margin-bottom: $alert-margin-bottom;
    
    @include typeScale(-1);

    @include alert();

    &.success { @include alert($color-success); }
    &.warning { @include alert($color-warning); }
    &.failure { @include alert($color-failure); }
}
