

@mixin ext-anchor-normal-colors($color: $anchor-color, $color-hover: auto) {
    // Defaults
    $_lightness: 0;

    color: $color;

    @if $color-hover == auto {    
        @if typeof($anchor-color-hover) == color {
            $_lightness: lightness($anchor-color-hover - $anchor-color);
        }

        &:hover {
            color: lighten($color, $_lightness);
        }
    } @else if $color-hover == static {
        &:hover { color: $color; }
    } @else {
        &:hover { color: $color-hover; }
    }
}

%ext-anchor-normal {
    text-decoration: $anchor-decoration;

    &:hover {
        text-decoration: $anchor-decoration-hover;
    }

    > img {
        border: none;
    }
}

%theme-anchor-normal {
    @include ext-anchor-normal-colors($anchor-color, $anchor-color-hover);

    &.light { @include ext-anchor-normal-colors($anchor-color-light, $anchor-color-light-hover); }
    &.primary { @include ext-anchor-normal-colors($color-primary); }
    &.secondary { @include ext-anchor-normal-colors($color-secondary); }
    &.dark { @include ext-anchor-normal-colors($color-dark); }
}

@mixin anchor($style: normal, $theme: normal) {
    @extend %ext-anchor-#{$style};
    @extend %theme-anchor-#{$theme};
}

a {
    @include anchor();
}