// Button Style
// ============

%button-layout {   
    display: inline-block;
    padding: $button-padding-vertical $button-padding-horizontal;
    cursor: pointer;
    border-style: solid;
    margin-right: $button-margin-right;
    margin-bottom: $button-margin-bottom;

    // Text style
    @include typeScale($button-type-scale);
    text-decoration: none;
    text-align: center;
    text-transform: $button-text-transform;

    &.small {
        padding: $button-small-padding-vertical $button-small-padding-horizontal;
        @include typeScale($button-type-scale - 1);
    }

    &.large {
        @include typeScale($button-type-scale + 1);
    }

    &.left { float: left; }

    &.right { float: right; margin-right: 0; }

    &.inline { margin-bottom: 0; }

    &.link {
        background: transparent !important;
        border: none !important;
    }
}

%ext-button-normal {
    @extend %button-layout;

    // Colors
    @include extButtonColors();

    // TODO: refactor in Sass 3.3 with MAPS feature
    &.primary { @include extButtonColors($color: $color-primary); }
    &.secondary { @include extButtonColors($color: $color-secondary); }
    &.light { @include extButtonColors($color: $color-light, $color-text: auto); }
    &.dark { @include extButtonColors($color: $color-dark); }
}

@mixin button($style: $button-style) {
    @extend %ext-button-#{$style};
}

button, .button, input[type=submit] {
    @include button;
}

.button-full {
    width: 100%;
    height: 100%;
    padding: 0;
    display: block;

    @extend %valign-center;
}

.button-block {
    @extend %row;
}
