// Button Style
// ============

%button-layout {   
    display: inline-block;
    padding: $button-padding-vertical $button-padding-horizontal;
    cursor: pointer;
    margin-right: $button-margin-right;
    margin-bottom: $button-margin-bottom;
    border-style: solid;
    border-width: $button-border-width;

    @if $button-use-radius {
        @include border-radius($button-radius);
    }

    // Text style
    @include typeScale($button-type-scale);
    text-decoration: none;
    text-align: center;
    text-transform: $button-text-transform;

    &.small {
        padding: $button-small-padding-vertical $button-small-padding-horizontal;
        @include typeScale($button-type-scale - 1);
    }

    &.large {
        @include typeScale($button-type-scale + 1);
    }

    &.huge {
        @include typeScale($button-type-scale + 2);
    }

    &.left { float: left; }

    &.right { float: right; margin-right: 0; }

    &.inline { margin-bottom: 0; }

    &.block { display: block; width: 100%; margin-left: 0; margin-right: 0; }

    &.full {
        width: 100%;
        height: 100%;
        padding: 0;
        display: block;

        @extend %valign-center;
    }

    &.link {
        background: transparent;
        color: $color-anchor;
        border: none;
    }

    %label-layout {
        display: inline;
    }
}

%button-group-layout {
    @extend %clearfix;
    margin-bottom: $button-group-margin-bottom;

    > #{$button-selectors}, > label {
        @include border-radius(0);
        margin: 0;
        margin-left: -$button-border-width;
        float: left;

        &:first-of-type { margin-left: inherit; }
        &:hover, &:focus { z-index: 2; }

        @if $button-use-radius {    
            &:first-of-type {
                @include border-top-left-radius($button-radius);
                @include border-bottom-left-radius($button-radius);
            }
            &:last-of-type {
                @include border-top-right-radius($button-radius);
                @include border-bottom-right-radius($button-radius);
            }
        }
    }

    &.inline {
        display: inline-block;
        margin-right: $button-group-margin-right;
    }


    &.vertical {
        display: inline-block;

        > #{$button-selectors}, > label {
            display: block;
            width: 100%;
            max-width: 100%;
            margin: 0;
            margin-left: 0;
            margin-top: -$button-border-width;
            float: none; 

            &:first-of-type { margin-left: 0; margin-top: inherit; }
            
            @if $button-use-radius {
                &:first-of-type {
                    @include border-bottom-left-radius(0);
                    @include border-top-left-radius($button-radius);
                    @include border-top-right-radius($button-radius);
                }
                &:last-of-type {
                    @include border-top-right-radius(0);
                    @include border-bottom-left-radius($button-radius);
                    @include border-bottom-right-radius($button-radius);
                }
            }
        }

        &.block { 
            display: block;
            margin-bottom: $button-group-margin-bottom;
        }
    }

    // Radio and Checkbox buttons
    // .button-group > (input[type=radio|checkbox] + label)
    > input[type=radio], > input[type=checkbox] {
        display: none;
    }
}

%ext-button-normal {
    @extend %button-layout;

    // Colors
    @include extButtonColors();

    // TODO: refactor in Sass 3.3 with MAPS feature
    &.primary, .button-group.primary & { @include extButtonColors($color: $color-primary); }
    &.secondary, .button-group.secondary & { @include extButtonColors($color: $color-secondary); }
    &.light, .button-group.light & { @include extButtonColors($color: $color-light, $color-text: auto); }
    &.dark, .button-group.dark & { @include extButtonColors($color: $color-dark); }
    &.transparent, .button-group.transparent & {
        @include extButtonColors(
            $color-background: transparent,
            $color-background-hover: $color-primary,
            $color-background-disabled: transparent
        )
    }
}

@mixin button($style: $button-style) {
    @extend %ext-button-#{$style};
}

#{$button-selectors} {
    @include button;
}


.button-group {
    @extend %button-group-layout;

    > label { @include button; }

    input:checked + label {
        @extend button:active;
        z-index: 2;
    }
}
