// Dropdown Style
// ==============

%dropdown-container-layout {
    display: inline-block;
}

%dropdown-layout {
    @extend %nav-vertical-layout;
    @extend %list-clean;

    @include typeScale($dropdown-type-scale);

    position: absolute;
    top: 100%;
    left: 0;
    z-index: $dropdown-z-index;
    display: block; // initial display state; display: block when active
    border-style: solid;
    border-color: $dropdown-border-color;
    border-width: $dropdown-border-width;
    background-color: $dropdown-bgcolor;
    padding: $dropdown-padding;

    @if $dropdown-use-radius {
        border-radius: $form-radius;
    }

    @if $dropdown-align == left {
        left: 0;
        right: inherit;
    } @else if $dropdown-align == right {
        right: 0;
        left: inherit;
    }

    > ul {
        margin-bottom: 0;
    }

    &.left {
        left: 0;
        right: inherit;
    }

    &.right {
        right: 0;
        left: inherit;
    }

    &.top {
        top: inherit;
        bottom: 100%;
    }

    &.bottom {
        bottom: inherit;
        top: 100%;
    }

    &.over-top {
        top: inherit;
        bottom: 0;
    }

    &.over-bottom {
        bottom: inherit;
        top: 0;
    }
}

@mixin dropdown($style: normal, $theme: normal) {
    @extend %ext-dropdown-#{$style};
    @extend %theme-dropdown-#{$theme};
}

.dropdown-container {
    @extend %dropdown-container-layout;
}

.dropdown {
    // @include dropdown();
    @extend %dropdown-layout;
}