:focus {
    outline-color: $form-outline-color;
}

input {
    box-sizing: border-box;
    padding: 0;
    margin-bottom: $text-margin-bottom;

    &.full {
        height: 100%;
        width: 100%;
        border: none;
        margin-bottom: $text-full-margin-bottom;
    }
}

input[type=text] {
    margin-right: $text-margin-right;
    padding: $text-padding-vertical $text-padding-horizontal;
    border: $text-border-width solid;
    border-color: $text-border-color;

    @include typeScale($text-type-scale);

    &:focus { border-color: $text-border-focus-color; }

    &.success { border-color: $text-border-success-color; }
    &.warning { border-color: $text-border-warning-color; }
    &.failure { border-color: $text-border-failure-color; }
}

input[type=password] {
    @extend input[type=text];
}

// Labels
label, .label {
    display: $label-display;
    margin-bottom: $label-margin-bottom;
    @include typeScale($label-type-scale);

    &.affix, &.prefix, &.postfix {
        @include typeScale($label-affix-type-scale);
        display: inline;
        padding: $label-affix-padding-vertical $label-affix-padding-horizontal;
        background: $label-affix-bgcolor;
        border: $label-affix-border-width solid;
        border-color: $label-affix-border-color;
    }

    @if $form-use-radius {    
        &.prefix {
            border-top-left-radius: $form-radius;
            border-bottom-left-radius: $form-radius;
        }
        &.postfix {
            border-top-right-radius: $form-radius;
            border-bottom-right-radius: $form-radius;
        }
    }
}

%affixed {
    float: left;
    &:focus { z-index: 2; }
}

.affix, input[type=text].affix {
    @extend %affixed;

    margin-left: 0;
    margin-right: 0;
}

.prefix {
    @extend %affixed;
    margin-right: -$form-border-width;
    z-index: 2;

    @if $form-use-radius {    
        border-top-left-radius: $form-radius;
        border-bottom-left-radius: $form-radius;
    }
}

.postfix {
    @extend %affixed;
    margin-left: -$form-border-width;

    @if $form-use-radius {    
        border-top-right-radius: $form-radius;
        border-bottom-right-radius: $form-radius;
    }
}

.button-group {
    @include clearfix;
    margin-bottom: $button-group-margin-bottom;

    > #{$button-selectors} {
        @extend .affix;
        margin-left: -$button-border-width;

        &:first-child { margin-left: inherit; }
        &:hover, &:focus { z-index: 2; }

        @if $form-use-radius {    
            &:first-child {
                border-top-left-radius: $form-radius;
                border-bottom-left-radius: $form-radius;
            }
            &:last-child {
                border-top-right-radius: $form-radius;
                border-bottom-right-radius: $form-radius;
            }
        }
    }

    &.inline {
        display: inline-block;
        margin-right: $button-group-margin-right;
    }
}





