%ext-form-normal {
    input[type], textarea {
        @extend %border-box; // TODO: default style this
        @include typeScale($text-type-scale);
        padding: $text-padding-vertical $text-padding-horizontal;
        margin-bottom: $text-margin-bottom;
        margin-right: $text-margin-right;
        border: $text-border-width solid;
        border-color: $text-border-color;
        width: 100%;

        &.full {
            display: block;
            height: 100%;
            width: 100%;
        }
    }

    textarea {
        height: $textarea-height;
        resize: $textarea-resize;
    }

    label {
        display: $field-label-display;
        margin-bottom: $field-label-margin-bottom;
        @include typeScale($field-label-type-scale);
    }

    // Custom select styling
    // TEMPORARY! TODO: move to another module
    .select {
        @include typeScale($form-type-scale);
        background: $color-secondary;
        border: $form-border-width solid darken($color-secondary, 10%);

        &:after {
            content: "\25BE";
            color: white;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 2rem;
            text-align: center;
            padding: $x-rem / 2;
            background-color: darken($color-secondary, 10%);
        }

        > select {
            -webkit-appearance: none;
            color: white;
            background: transparent;
            padding: $x-rem / 2;
            border: none;
            z-index: 2;
            width: 100%;
        }
    }
}

@mixin form($style: $form-style) {
    @extend %ext-form-#{$style};
}

form {
    @include form();
}