//
// Global Grid Styles
// ==================
%content {
    padding: $x;
}
%grid {
    &.content { @extend %content; }
    @extend %border-box;
    @include clearfix;
    position: relative;
}
%column {
    @extend %grid;
    float: left;
    height: 100%;
}
%row {
    @extend %grid;
    width: 100%;
}

//
// Horizontal Grid System
// ======================

@mixin columns($columns) {
    width: ($columns / $grid-columns) * 100% !important;

    + .col-flex {
        width: (1 - ($columns / $grid-columns)) * 100%;
    }
}

@mixin columnsOffset($columns) {
    margin-left: ($columns / $grid-columns * 100%);
}

@mixin columnPosition($position) {
    @if $position == left {
        clear: right;
    } @else if $position == right {
        float: right;
        clear: left;
    } @else if $position == center {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}

@mixin horizontalGridSystem($suffix: "") {
    $suffix-str: -#{$suffix} !default;
    @if $suffix == "" { $suffix-str: ""; }

    @for $i from 0 through $grid-columns {
        .col-#{$i}#{$suffix-str} {
            @include columns($i);
        }

        .col-offset-#{$i}#{$suffix-str} {
            @include columnsOffset($i);
        }    
    }

    @each $position in left, right, center {    
        .col-#{$position}#{$suffix-str} {
            @include columnPosition($position);
        }
    }
}

#{$grid-column-selector} {
    @extend %column;
}

//
// Vertical Grid System
// ====================

@mixin rows($rows) {
    height: ($rows / $grid-rows) * 100%;

    + .row-flex {
        height: (1 - ($rows / $grid-rows)) * 100%;
    }
}

@mixin rowsOffset($rows) {
    // TODO: use calc? try to use margin
    top: ($rows / $grid-rows) * 100%;
}

@mixin verticalGridSystem($suffix: "") {
    $suffix-str: -#{$suffix} !default;
    @if $suffix == "" { $suffix-str: ""; }

    @for $i from 0 through $grid-rows {
        .row-#{$i}#{$suffix-str} {
            @include rows($i);
        }

        .row-offset-#{$i}#{$suffix-str} {
            @include rowsOffset($i);
        }
    }

    // TODO: left, right, center
}

#{$grid-row-selector} {
    @extend %row;
}

//
// Full Grid System
// ================

@mixin gridSystem($suffix: "") {
    @include horizontalGridSystem($suffix);
    @include verticalGridSystem($suffix);
}

@media #{$mq-screen} { @include gridSystem; }
@media #{$mq-small} { @include gridSystem(small); }
@media #{$mq-medium} { @include gridSystem(medium); }
@media #{$mq-large} { @include gridSystem(large); }
@media #{$mq-short} { @include gridSystem(short); }
@media #{$mq-tall} { @include gridSystem(tall); }