

@mixin layer {
    @include row;

    position: absolute;
    height: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    @include clearfix;

    @extend .scroll;
}

.layer, .page {
    @include layer;
}

.scroll {
    overflow: auto;
}