
@mixin translate(
    $horizontal: false,
    $vertical: false
) {
    @if $vertical and $horizontal {
        @include experimental(transform, translateX($horizontal) translateY($vertical));
    } @else {    
        @if $vertical {
            @include experimental(transform, translateY($vertical));
        }

        @if $horizontal {
            @include experimental(transform, translateX($horizontal));
        }
    }
}

// @mixin position-absolute(
//     $vertical: false,
//     $horizontal: false,
//     $top: false,
//     $bottom: false,
//     $left: false,
//     $right: false
// ) {
//     position: absolute;

//     @if $vertical == center and $horizontal == center {
//         top: 50%;
//         left: 50%;
//         bottom: inherit;
//         right: inherit;
//         @include experimental(transform, translateX(-50%) translateY(-50%));
//     } 
//     @else {    
//         @if $vertical {    
//             @if $vertical == top {
//                 top: 0;
//                 bottom: inherit;
//             }
//             @else if $vertical == bottom {
//                 bottom: 0;
//                 top: inherit;
//             }
//             @else if $vertical == below {
//                 top: 100%;
//                 bottom: inherit;
//             }
//             @else if $vertical == above {
//                 bottom: 100%;
//                 top: inherit;
//             }
//             @else if $vertical == center {
//                 top: 50%;
//                 @include experimental(transform, translateY(-50%));
//                 bottom: inherit;
//             }
//             @else {
//                 top: $vertical;
//                 bottom: inherit;
//             }
//         }

//         @if $horizontal {
//             @if $horizontal == left { 
//                 left: 0;
//                 right: inherit;
//             }
//             @else if $horizontal == right {
//                 right: 0;
//                 left: inherit;
//             }
//             @else if $horizontal == center {
//                 left: 50%;
//                 @include experimental(transform, translateX(-50%));
//             }
//             @else { left: $horizontal; }
//         }
//     }


//     @if $top {
//         top: $top;
//         bottom: inherit;
//     }

//     @if $bottom {
//         bottom: $bottom;
//         top: inherit;
//     }

//     @if $left {
//         left: $left;
//         right: inherit;
//     }

//     @if $right {
//         right: $right;
//         left: inherit;
//     }
// }

@mixin position(
    $type: relative, 
    $vertical: false,
    $horizontal: false, 
    $height: auto, 
    $width: auto
) {
    position: $type;

    @if $type == relative {

    } @else if $type == absolute {
        @if type-of($height) == number {
            @if unit($height) == percent {
                top: 50%;
                @include experimental(transform, translateY(-50%));
            } @else {
                top: 50%;
                margin-top: -($height / 2);
            }
        }
    }
}

%block {
    @extend %clearfix;
    display: block;
}

%inline-block {
    display: inline-block;
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
}

%inline-block-all {
    > * {
        @extend %inline-block;
        vertical-align: top;
    }
}

%border-box {
    @include box-sizing(border-box);
}

%valign-center {
    top: 50%;
    @include experimental(transform, translateY(-50%));
}

%valign-center-all {
    &:before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        width: 1em;
        margin-left: -1em;
    }

    > * {
        @extend %inline-block;
        vertical-align: middle;
    }
}

%valign-bottom {
    @include position-absolute(bottom);
}

%halign-center {
    @extend %block;
    margin-left: auto;
    margin-right: auto;
}

%clearfix {
    @include pie-clearfix;
}

%float-left {
    float: left;
}

%float-right {
    float: right;
}

%full-height {
    @extend %block;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}

%full-width {
    @extend %block;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

%full {
    display: block;
    @include position-absolute;
    @extend %full-height;
    @extend %full-width;
}

html {
    height: 100%;
}

*, *:before, *:after {
    position: relative;
    @extend %border-box;
}

.block {
    @extend %block;
}

.inline-block {
    @extend %inline-block;
}

.inline-block-all {
    @extend %inline-block-all;
}

.valign-center {
    @extend %valign-center;
}

.valign-center-all {
    @extend %valign-center-all;
}

.valign-bottom {
    @extend %valign-bottom;
}

.halign-center {
    @extend %halign-center;
}

.float-left {
    @extend %float-left;
}

.float-right {
    @extend %float-right;
}

.full-height {
    @extend %full-height;
}

.full-width {
    @extend %full-width;
}

.full {
    @extend %full;
}

.clearfix {
    @extend %clearfix;
}

.content {
    padding: 1rem;
}