@mixin position-absolute($vertical: false, $horizontal: false) {
    position: absolute;

    @if $vertical {    
        @if $vertical == top { top: 0; }
        @else if $vertical == bottom { bottom: 0; }
        @else if $vertical == center {
            top: 50%;
            @include experimental(transform, translateY(-50%));
        }
        @else { top: $vertical; }
    }

    @if $horizontal {
        @if $horizontal == left { left: 0; }
        @else if $horizontal == right { right: 0; }
        @else if $horizontal == center {
            left: 50%;
            @include experimental(transform, translateX(-50%));
        }
        @else { left: $horizontal; }
    }
}

%block {
    @extend %clearfix;
    display: block;
}

%inline-block {
    display: inline-block;
    width: auto;
}

%inline-block-all {
    > * {
        @extend %inline-block;
        vertical-align: top;
    }
}

%border-box {
    @include box-sizing(border-box);
}

%valign-center {
    top: 50%;
    @include experimental(transform, translateY(-50%));
}

%valign-center-all {
    > * { @extend %valign-center; }
}

%valign-bottom {
    @include position-absolute(bottom);
}

%position-bottom-center {
    @include position-absolute(bottom, center);
}

%clearfix {
    @include pie-clearfix;
}

%float-left {
    float: left;
}

%float-right {
    float: right;
}

%full-height {
    @extend %block;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}

%full-width {
    @extend %block;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

%full {
    display: block;
    @include position-absolute;
    @extend %full-height;
    @extend %full-width;
}

html {
    height: 100%;
}

*, *:before, *:after {
    position: relative;
    @extend %border-box;
}


// layout mixin must follow this structure:
// <body>
//   <header></header>
//   <section></section>
//   <footer></footer>
// </body>
// THIS IS IE 9+ AND MODERN BROWSERS ONLY
@mixin layout-fixed(
    $header: 0px,
    $footer: 0px,
    $left-aside: 0px,
    $right-aside: 0px
) {
    position: absolute;
    height: 100%;
    max-height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;

    > header, > footer {
        position: fixed;
        width: 100%;
        z-index: 2;
    }

    > header {
        height: $header;
        top: 0;
    }

    @if $footer > 0 { 
        > footer {
            height: $footer; 
            bottom: 0;
        }

        &:after {
            content: "";
            display: block;
            height: 1px;
            margin-top: -1px;
        }
    }

    @if $left-aside > 0 or $right-aside > 0 {
        > aside {
            position: fixed;
            min-height: calc(100% - #{$header} - #{$footer});
            top: $header;
            bottom: $footer;

            @if $left-aside > 0 and $right-aside <= 0 {
                left: 0;
                width: $left-aside;
            } @else if $right-aside > 0 and $left-aside <= 0 {
                right: 0;
                width: $right-aside;
            } @else {         
                &:first-of-type {
                    left: 0;
                    width: $left-aside;
                }

                &:nth-of-type(2) {
                    right: 0;
                    width: $right-aside;
                }
            }
        }
    }

    > section {
        @extend %row;
        width: auto;
        min-height: calc(100% - #{$header} - #{$footer});
        min-width: calc(100% - #{$left-aside} - #{$right-aside});
        margin-left: $left-aside;
        margin-right: $right-aside;
        overflow: auto;

        &:first-of-type {
            margin-top: $header;
        }

        &:last-of-type {
            margin-bottom: $footer;
        }
    }
}

@mixin layout(
    $header: 0px,
    $footer: 0px,
    $left-sidebar: 0px,
    $right-sidebar: 0px,
    $selector: ''
) {
    section, header, footer, aside {
        position: relative;
    }

    header, footer {
        z-index: 3; // Active pages are z-index 2
    }

    aside {
        height: 100%;
    }

    @if $header > 0 or $footer > 0 {
        > header {
            height: $header;
        }

        > footer {
            height: $footer;
        }

        > section {
            height: calc(100% - #{$header} - #{$footer});
        }
    } @else {
        > section {
            height: 100%;
        }
    }

    @if $left-sidebar > 0 or $right-sidebar > 0 {
        > aside, > section {
            float: left;
        }

        > aside {
            width: $left-sidebar;
        }

        > section + aside {
            width: $right-sidebar;
        }

        > section {
            width: calc(100% - #{$left-sidebar} - #{$right-sidebar});
        }
    } @else {
        section {
            width: 100%;
        }
    }
}

header, footer, section {
    @extend %grid;
}

.inline-block {
    @extend %inline-block;
}

.inline-block-all {
    @extend %inline-block-all;
}

.valign-center {
    @extend %valign-center;
}

.valign-center-all {
    @extend %valign-center-all;
}

.valign-bottom {
    @extend %valign-bottom;
}

.position-bottom-center {
    @extend %position-bottom-center;
}

.float-left {
    @extend %float-left;
}

.float-right {
    @extend %float-right;
}

.full-height {
    @extend %full-height;
}

.full-width {
    @extend %full-width;
}

.full {
    @extend %full;
}

.clearfix {
    @extend %clearfix;
}