
%border-box {
    @include box-sizing(border-box);
}

%valign-center {
    top: 50%;
    @include experimental(transform, translateY(-50%));
}

%clearfix {
    @include clearfix;
}

%float-left {
    float: left;
}

%float-right {
    float: right;
}

html {
    height: 100%;
}

*, *:before, *:after {
    position: relative;
    @extend %border-box;
}

@mixin position-absolute($vertical, $horizontal) {
    position: absolute;

    @if $vertical == top { top: 0; }
    @else if $vertical == bottom { bottom: 0; }
    @else if $vertical == center {
        top: 50%;
        @include experimental(transform, translateY(-50%));
    }
    @else { top: $vertical; }

    @if $horizontal == left { left: 0; }
    @else if $horizontal == right { right: 0; }
    @else if $horizontal == center {
        left: 50%;
        @include experimental(transform, translateX(-50%));
    }
    @else { left: $horizontal; }
}

// layout mixin must follow this structure:
// <body>
//   <header></header>
//   <section></section>
//   <footer></footer>
// </body>
// THIS IS IE 9+ AND MODERN BROWSERS ONLY
@mixin layout(
    $header: 0px,
    $footer: 0px,
    $left-aside: 0px,
    $right-aside: 0px
) {
    position: absolute;
    height: 100%;
    max-height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;

    > header, > footer {
        position: fixed;
        width: 100%;
        z-index: 2;
    }

    > header {
        height: $header;
        top: 0;
    }

    @if $footer > 0 { 
        > footer {
            height: $footer; 
            bottom: 0;
        }

        &:after {
            content: "";
            display: block;
            height: 1px;
            margin-top: -1px;
        }
    }

    @if $left-aside > 0 or $right-aside > 0 {
        > aside {
            position: fixed;
            min-height: calc(100% - #{$header} - #{$footer});
            top: $header;
            bottom: $footer;

            @if $left-aside > 0 and $right-aside <= 0 {
                left: 0;
                width: $left-aside;
            } @else if $right-aside > 0 and $left-aside <= 0 {
                right: 0;
                width: $right-aside;
            } @else {         
                &:first-of-type {
                    left: 0;
                    width: $left-aside;
                }

                &:nth-of-type(2) {
                    right: 0;
                    width: $right-aside;
                }
            }
        }
    }

    > section {
        @extend %row;
        width: auto;
        min-height: calc(100% - #{$header} - #{$footer});
        min-width: calc(100% - #{$left-aside} - #{$right-aside});
        margin-left: $left-aside;
        margin-right: $right-aside;
        overflow: auto;

        &:first-of-type {
            margin-top: $header;
        }

        &:last-of-type {
            margin-bottom: $footer;
        }
    }
}

header, footer, section {
    @extend %grid;
}

.inline {
    display: inline-block;
    margin-bottom: 0;
}

.valign-center {
    @extend %valign-center;
}

.float-left {
    @extend %float-left;
}

.float-right {
    @extend %float-right;
}

.full {
    @extend %row;
    height: 100%;
}