

%ext-nav-normal {
    ul {
        @extend ul.clean;
        width: 100%;
        padding: $nav-ul-padding;
        background-color: $nav-menu-bgcolor;

        li {
            padding: $nav-li-padding;
            @extend %nowrap;

            a {
                display: block;
                padding: $nav-a-padding;
            }

            &.inactive {
                display: none;
            }

            &.active > ul {
                display: block;
            }
        }

        ul {
            display: none;
            background-color: $nav-submenu-bgcolor;
        }
    }

    &.horizontal {
        > ul {
            @extend %clearfix;


            > li {
                float: left;
            }
        }

        &.full {
            height: 100%;
            margin-bottom: 0;

            > ul {
                height: 100%;

                > li {
                    height: 100%;
                    display: table;
                    table-layout: fixed;

                    a {
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                        height: 100%;
                        width: 100%;
                        padding-top: 0;
                        padding-bottom: 0;
                        margin: 0;
                    }
                }
            }
        }
    }
}

@mixin nav($style: $nav-style, $theme: $nav-theme) {
    @extend %ext-nav-#{$style};
    @extend %theme-nav-#{$theme};
}

nav {
    @include nav();
}