%panel-layout {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: $panel-margin-bottom;
    border-width: $panel-border-width;

    &, > header, > hgroup, > footer {
        border-style: solid;
    }

    > header, > hgroup {
        padding: $panel-header-padding;
        border-width: 0 0 $panel-border-width 0;
    }

    > section {
        padding: $panel-section-padding;
    }

    > footer {
        padding: $panel-footer-padding;
        border-width: $panel-border-width 0 0 0;
    }

    @if $panel-use-radius {
        @include border-radius($panel-radius);
    }
    
    @include typeScale($panel-type-scale);
}

%ext-panel-normal {
    @extend %panel-layout;
}

%theme-panel-normal {
    @include panel-colors();

    &.success { @include panel-colors($color-success); }
    &.warning { @include panel-colors($color-warning); }
    &.failure { @include panel-colors($color-failure); }
}

@mixin panel($style: normal, $theme: normal) {
    @extend %ext-panel-#{$style};
    @extend %theme-panel-#{$theme};
}

.panel {
    @include panel();
}
