

/* Typography Resets */
div, dl, dt, dd, 
ul, ol, li, 
h1, h2, h3, h4, h5, h6, 
pre, form, p, 
blockquote, th, td {
    margin: 0;
    padding: 0;
}

em, i {
    font-style: italic;
    line-height: inherit;
}

strong, b {
    font-weight: bold;
    line-height: inherit;
}

/* Form Resets */
input, button, textarea, select {
    outline: none;
}