

%table-layout {
    margin-bottom: $table-margin-bottom;
    text-align: $table-text-align;
    width: 100%;
    border-collapse: collapse;

    caption {
        // ...
    }

    thead {
        tr {
            th, td {
                @include typeScale($table-thead-type-scale);
                text-transform: $table-thead-text-transform;
                padding: $table-thead-padding;
            }
        }
    }

    tfoot {
        tr {
            td {
                padding: $table-tfoot-padding;
                border-width: $table-cell-border-width;
                border-style: solid;
            }
        }
    }

    tbody {
        tr {
            td {
                padding: $table-cell-padding;
                border-width: $table-cell-border-width;
                border-style: solid;
            }
        }
    }

    tr, th, td {
        border-width: $table-cell-border-width;
        border-style: solid;
    }
}

%ext-table-normal {
    @extend %table-layout;

    thead {        
        border-bottom-width: 2 * $table-cell-border-width; 
        border-bottom-style: solid; 
    }

    &.horizontal {
        tr, th, td { border-left-width: 0; border-right-width: 0; }
    }

    &.vertical {
        tr, th, td { border-top-width: 0; border-bottom-width: 0; }
    }
}

%theme-table-normal {
    @include table-colors();

    &.transparent {
        @include table-colors($color-thead: transparent);
    }
}

@mixin table($style: $table-style, $theme: $table-theme) {
    @extend %ext-table-#{$style};
    @extend %theme-table-#{$style};
}

table {
    @include table();
}