

%ext-fieldset-stacked {
    padding: $x-rem/2 $x-rem;
    border: $fieldset-border-width;
    margin: 0;

    .field {
        height: auto;
        padding: 0;

        @if $form-use-radius {
            &.topfix {
                @include border-radius($form-radius $form-radius 0 0);
                overflow: hidden;
            }
            &.bottomfix {
                @include border-radius(0 0 $form-radius $form-radius);
                overflow: hidden;
            }
        }
    }
}