

@mixin ext-button-transparent-colors($color: $color-primary) {
    @include button-colors(
        $color-background: transparent,
        $color-border: $color,
        $color-text: $color
    );

    &:hover, &:focus {
        @include button-colors(
            $color-background: $color,
            $color-border: $color,
            $color-text: auto
        );
    }

    &:active {
        @include button-colors(
            $color-background: darken($color, 7%),
            $color-border: darken($color, 7%),
            $color-text: auto
        );
    }
}

%ext-button-transparent {
    @extend %button-layout;
    @include ext-button-transparent-colors;

    &.primary { @include ext-button-transparent-colors($color-primary); }
    &.secondary { @include ext-button-transparent-colors($color-secondary); }
    &.dark { @include ext-button-transparent-colors($color-dark); }
    &.light { @include ext-button-transparent-colors($color-light); }
}