%theme-nav-rdio {
    @include nav-colors(
        transparent, 
        $color-text: $color-dark, 
        $color-item-hover: #f0f2f4,
        $color-header: #b8c3c9
    );

    li.current-item {
        > a { color: $color-primary; }

        &:hover { background-color: transparent; }
    }

    #{$type-header-selector} {
        font-weight: 400;
    }
}