
%content {
    padding: $space-content;
}

%pad {
    padding: $space-padding !important;

    &-vertical {
        padding-top: $space-padding;
        padding-bottom: $space-padding;
    }

    &-horizontal {
        padding-left: $space-padding;
        padding-right: $space-padding;
    }

    &-half {
        padding: $space-padding-half;
    }

    &-vertical-half {
        padding-top: $space-padding-half;
        padding-bottom: $space-padding-half;
    }

    &-horizontal-half {
        padding-left: $space-padding-half;
        padding-right: $space-padding-half;
    }

    &-double {
        padding: $space-padding-double;
    }

    &-vertical-double {
        padding-top: $space-padding-double;
        padding-bottom: $space-padding-double;
    }

    &-horizontal-double {
        padding-left: $space-padding-double;
        padding-right: $space-padding-double;
    }

    &-none {
        padding: 0 !important;
    }

    &-vertical-none {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    &-horizontal-none {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

%margin {
    margin: $space-margin !important;

    &-vertical {
        margin-top: $space-margin;
        margin-bottom: $space-margin;
    }

    &-horizontal {
        margin-left: $space-margin;
        margin-right: $space-margin;
    }

    &-half {
        margin: $space-margin-half;
    }

    &-vertical-half {
        margin-top: $space-margin-half;
        margin-bottom: $space-margin-half;
    }

    &-horizontal-half {
        margin-left: $space-margin-half;
        margin-right: $space-margin-half;
    }

    &-double {
        margin: $space-margin-double;
    }

    &-vertical-double {
        margin-top: $space-margin-double;
        margin-bottom: $space-margin-double;
    }

    &-horizontal-double {
        margin-left: $space-margin-double;
        margin-right: $space-margin-double;
    }

    &-none {
        margin: 0 !important;
    }

    &-vertical-none {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    &-horizontal-none {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
