


$space-padding: 1rem !default;
$space-padding-half: $space-padding / 2 !default;
$space-padding-double: $space-padding * 2 !default;

$space-margin: 1rem !default;
$space-margin-half: $space-margin / 2 !default;
$space-margin-double: $space-margin * 2 !default;

$space-content: 1rem !default;

$padding-component: (
    half: (
        padding: $space-padding-half
    ),
    double: (
        padding: $space-padding-double,
    )
);

@include define('padding', $padding-component);

@import
	'_mixins',
	'_components',
	'_themes',
	'_exports';