// 
// Fields Components
// =================

%fieldset {
    // Fieldset styles
}

%field {
    @include pie-clearfix;
    overflow: visible;
    
    &:not(:only-child) {
        margin-bottom: $field-margin-bottom;
    }

    &-horizontal {
        @extend %display-table;
        
        width: 100%;

        &-children {
            display: table-cell;
            vertical-align: middle;
            margin: 0;
        }

        &-label {
            padding: $field-horizontal-label-padding;
        }

        &-input {
            width: 100%;
            height: 100%;
        }
    }
}