// 
// States Mixins and Functions
// ===========================

@mixin visibility($visibility, $mq-sizes...) {
    @if length($mq-sizes) == 0 {
        $mq-sizes: all;
    }

    @each $size in $mq-sizes {
        @include mq($size) {        
            @if $visibility == show {
                display: inherit !important;
            } @else if $visibility == hide {
                display: none !important;
            } @else if $visibility == visible {
                visibility: visible !important;
            } @else if ($visibility == invisible or $visibility == hidden) {
                visibility: hidden !important;
            } @else if $visibility == collapse {
                visibility: collapse !important;
            }
        }
    }
}

@mixin on(
    $self: false, // self
    $parent: false, // immediate parent
    $ancestor: false, // general ancestor
    $adjacent: false, // adjacent sibling
    $sibling: false // general sibling
) {
    $selector: &;

    @if $self { $selector: '&#{$self}'; }
    @else if $parent { $selector: '#{$parent} > &'; }
    @else if $ancestor { $selector: '#{$ancestor} &'; }
    @else if $adjacent { $selector: '#{$adjacent} + &'; }
    @else if $sibling { $selector: '#{$sibling} ~ &'; }

    #{$selector} {
        @content;
    }
}